@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gothic A1", sans-serif;
}

body {
  width: 100%;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.max-width-grid {
  max-width: 1280px;
  width: auto;
  padding: 0 40px;
  margin: 0 auto;
}

.fp-right > ul > li > a span {
  background: #fff;
}

/* ----------------------------------------------------------- back to top */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 1em;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  -webkit-box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}

#back-to-top:hover {
  background-color: crimson;
  padding: 1em 3em;
}

#back-to-top.visible {
  visibility: visible;
  opacity: 1;
}

/* --------------------------------------------------------- scroll animation */
.reveal {
  position: relative;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: hidden;
  opacity: 0;
}

.reveal.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}

.revealLeft {
  position: relative;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  visibility: hidden;
  opacity: 0;
}

.revealLeft.active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  visibility: visible;
  opacity: 1;
}

.revealRight {
  position: relative;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  visibility: hidden;
  opacity: 0;
}

.revealRight.active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  visibility: visible;
  opacity: 1;
}

/* ----------------------------------------------------------- scroll stuff */
.scroll-down .header-wraper {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.scroll-up .header-wraper {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* ------------------------------------------------------------- header --------------------------------------------------------------- */
body {
  position: relative;
}

@-webkit-keyframes header_in {
  from {
    /* top: -60px; */
  }
  to {
    /* top: 0px; */
    opacity: 1;
    visibility: visible;
  }
}

@keyframes header_in {
  from {
    /* top: -60px; */
  }
  to {
    /* top: 0px; */
    opacity: 1;
    visibility: visible;
  }
}

body header .header-wraper {
  background: #000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-filter: drop-shadow(0 -5px 10px #aaaaaa);
          filter: drop-shadow(0 -5px 10px #aaaaaa);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-animation-name: header_in;
          animation-name: header_in;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  /* animation-delay: 1s; */
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body header .header-wraper .header-inner {
  position: relative;
}

body header .header-wraper .header-inner .header-container {
  color: #fff;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header-wraper .header-inner .header-container .logo-container {
  font-size: 1.8em;
  font-weight: 900;
}

body header .header-wraper .header-inner .header-container .nav-container .nav-items-holder .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header-wraper .header-inner .header-container .nav-container .nav-items-holder .nav-items a {
  padding: 12px;
  margin: 0 24px 0;
  font-size: 1em;
  font-weight: 600;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body header .header-wraper .header-inner .header-container .nav-container .nav-items-holder .nav-items a:hover {
  color: crimson;
}

body header .header-wraper .header-inner .header-container .right-icons .media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 888;
}

body header .header-wraper .header-inner .header-container .right-icons .media-icons a {
  color: #fff;
  font-size: 1.3em;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body header .header-wraper .header-inner .header-container .right-icons .media-icons a:not(:last-child) {
  margin: 0 20px 0 0;
}

body header .header-wraper .header-inner .header-container .right-icons .media-icons a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: crimson;
}

body .contact-btn-container {
  display: block;
  width: 200px;
  background: transparent;
  color: inherit;
  border: 1px solid crimson;
  border-radius: 5px;
  padding: 12px 40px;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-animation-name: home_in;
          animation-name: home_in;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .contact-btn-container:hover {
  background: crimson;
}

body .contact-btn-container a {
  font-weight: 800;
  font-size: 1em;
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

@-webkit-keyframes home_in {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes home_in {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    visibility: visible;
    opacity: 1;
  }
}

body main .home-wraper {
  background: #111;
}

body main .home-wraper .home-inner {
  position: relative;
}

body main .home-wraper .home-inner .home-container {
  color: #fff;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .home-wraper .home-inner .home-container .home-contents {
  display: block;
  margin-bottom: 30px;
}

body main .home-wraper .home-inner .home-container .home-contents .home-banner-main {
  display: block;
  font-size: 4em;
  font-weight: 900;
  line-height: 1.45em;
  white-space: pre-line;
  opacity: 0;
  visibility: hidden;
  -webkit-animation-name: home_in;
          animation-name: home_in;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

body main .home-wraper .home-inner .home-container .home-contents .home-banner-main:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

body main .home-wraper .home-inner .home-container .home-contents .home-banner-main:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

body main .home-wraper .home-inner .home-container .home-contents .home-banner-main:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

body main .home-wraper .home-inner .home-container > span {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 32px;
  opacity: 0;
  visibility: hidden;
  -webkit-animation-name: home_in;
          animation-name: home_in;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

body main .about-wraper {
  background: #fff;
}

body main .about-wraper .about-inner {
  position: relative;
}

body main .about-wraper .about-inner .about-container {
  color: #333333;
  padding: 80px 0 72px;
}

body main .about-wraper .about-inner .about-container .about-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

body main .about-wraper .about-inner .about-container .about-contents .about-photo {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 10px 0px #757575;
          box-shadow: 0px 5px 10px 0px #757575;
}

body main .about-wraper .about-inner .about-container .about-contents .about-photo .about-photo-wraper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body main .about-wraper .about-inner .about-container .about-contents .about-photo .about-photo-wraper img {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  width: 100%;
  height: auto;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

body main .about-wraper .about-inner .about-container .about-contents .about-text {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

body main .about-wraper .about-inner .about-container .about-contents .about-text h3 {
  font-size: 5em;
  font-weight: 800;
  margin-bottom: 4px;
}

body main .about-wraper .about-inner .about-container .about-contents .about-text p {
  line-height: 1.5;
}

body main .about-wraper .about-inner .about-container .about-contents .about-text p span {
  display: block;
  white-space: pre-line;
  color: #757575;
}

body main .about-wraper .about-inner .about-container .about-contents .about-text p span:nth-child(1) {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 14px;
}

body main .about-wraper .about-inner .about-container .about-contents .about-text p span:nth-child(2) {
  margin-bottom: 36px;
}

body main .about-wraper .about-inner .about-container .about-contents .about-text > span {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 24px;
}

body main .services-wraper {
  background: #fcfcfc;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: inset 0px 3px 3px 0px gainsboro;
          box-shadow: inset 0px 3px 3px 0px gainsboro;
}

body main .services-wraper .services-inner {
  position: relative;
}

body main .services-wraper .services-inner .services-container {
  color: #333333;
  padding: 80px 0 72px;
}

body main .services-wraper .services-inner .services-container .services-contents .services-title {
  text-align: center;
  padding-bottom: 60px;
}

body main .services-wraper .services-inner .services-container .services-contents .services-title h3 {
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 8px;
}

body main .services-wraper .services-inner .services-container .services-contents .services-title p {
  color: #757575;
  font-size: 1.1em;
  font-weight: 500;
  white-space: pre-line;
}

body main .services-wraper .services-inner .services-container .services-contents .services-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 24px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

body main .services-wraper .services-inner .services-container .services-contents .services-grid .services-card {
  background: #fff;
  width: 100%;
  padding: 40px 0;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 0px 3px 3px 0px gainsboro;
          box-shadow: 0px 3px 3px 0px gainsboro;
}

body main .services-wraper .services-inner .services-container .services-contents .services-grid .services-card .services-icons {
  background: #111;
  width: 160px;
  height: 160px;
  padding: 80px;
  margin: 0 auto;
  border-radius: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 111;
}

body main .services-wraper .services-inner .services-container .services-contents .services-grid .services-card .services-icons i {
  color: #fff;
  font-size: 5em;
}

body main .services-wraper .services-inner .services-container .services-contents .services-grid .services-card .service-discription {
  text-align: center;
  overflow: hidden;
  padding: 0 20px;
}

body main .services-wraper .services-inner .services-container .services-contents .services-grid .services-card .service-discription h2 {
  width: 100%;
  margin: 40px 0 20px;
  font-size: 1.5em;
  font-weight: 700;
  white-space: nowrap;
}

body main .services-wraper .services-inner .services-container .services-contents .services-grid .services-card .service-discription p {
  color: #757575;
  font-size: 1.1em;
  font-weight: 400;
}

body main .portfolio-wraper {
  background: #fff;
}

body main .portfolio-wraper .portfolio-inner {
  position: relative;
}

body main .portfolio-wraper .portfolio-inner .portfolio-container {
  color: #333333;
  padding: 80px 0 72px;
  overflow: hidden;
}

body main .portfolio-wraper .portfolio-inner .portfolio-container .portfolio-contents .portfolio-tittle {
  text-align: left;
  padding-bottom: 80px;
}

body main .portfolio-wraper .portfolio-inner .portfolio-container .portfolio-contents .portfolio-tittle h3 {
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 8px;
}

body main .portfolio-wraper .portfolio-inner .portfolio-container .portfolio-contents .portfolio-tittle p {
  line-height: 1.5;
}

body main .portfolio-wraper .portfolio-inner .portfolio-container .portfolio-contents .portfolio-tittle p span {
  color: #757575;
  display: block;
  white-space: pre-line;
}

body main .portfolio-wraper .portfolio-inner .portfolio-container .portfolio-contents .portfolio-tittle p span:nth-child(1) {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 18px;
}

body main .portfolio-wraper .portfolio-inner .portfolio-container .portfolio-contents .portfolio-tittle p span:nth-child(2) {
  font-size: 1.1em;
  font-weight: 300;
  color: #333;
}

body main .portfolio-wraper .portfolio-inner .portfolio-container .portfolio-contents .portfolio-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (350px)[2];
      grid-template-rows: repeat(2, 350px);
  grid-auto-flow: row;
  grid-gap: 20px;
}

body main .portfolio-wraper .portfolio-inner .portfolio-container .portfolio-contents .portfolio-grid .portfolio-card {
  background: #fcfcfc;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  -webkit-box-shadow: 0px 3px 3px 0px gainsboro;
          box-shadow: 0px 3px 3px 0px gainsboro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .portfolio-wraper .portfolio-inner .portfolio-container .portfolio-contents .portfolio-grid .portfolio-card p {
  color: #757575;
  font-size: 1.5em;
  font-weight: 800;
}

body footer .contact-wraper {
  background: #000;
}

body footer .contact-wraper .contact-inner {
  position: relative;
}

body footer .contact-wraper .contact-inner .contact-container {
  color: #fff;
  padding: 80px 0 72px;
}

body footer .contact-wraper .contact-inner .contact-container .contact-title {
  padding: 0 0 60px;
}

body footer .contact-wraper .contact-inner .contact-container .contact-title p {
  font-size: 6em;
  font-weight: 900;
  text-transform: uppercase;
}

body footer .contact-wraper .contact-inner .contact-container .contact-elements {
  padding: 0 0 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

body footer .contact-wraper .contact-inner .contact-container .contact-elements .ctt-el-wraper {
  width: 100%;
}

body footer .contact-wraper .contact-inner .contact-container .contact-elements .ctt-el-wraper .ctt_el {
  height: 60px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body footer .contact-wraper .contact-inner .contact-container .contact-elements .ctt-el-wraper .ctt_el h5 {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 40px;
}

body footer .contact-wraper .contact-inner .contact-container .contact-elements .ctt-el-wraper .ctt_el span {
  font-size: 1em;
  font-weight: 400;
}

body footer .contact-wraper .contact-inner .contact-container .contact-elements .ctt-el-wraper .ctt_el .ctt-media-ics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3em;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body footer .contact-wraper .contact-inner .contact-container .contact-elements .ctt-el-wraper .ctt_el .ctt-media-ics a {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body footer .contact-wraper .contact-inner .contact-container .contact-elements .ctt-el-wraper .ctt_el .ctt-media-ics a:not(:last-child) {
  margin-right: 40px;
}

body footer .contact-wraper .contact-inner .contact-container .contact-elements .ctt-el-wraper .ctt_el .ctt-media-ics a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #999;
}

body footer .footer-bottom-container {
  background: #000;
  border-top: 1px solid #fff;
  color: #fff;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .footer-bottom-container .footer-bottom-items {
  font-size: 0.8em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .footer-bottom-container .footer-bottom-items a:not(:last-child) {
  margin-right: 80px;
}

body .contact-form {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background: rgba(1, 1, 1, 0.6);
  color: #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
}

body .contact-form.contact-form.active {
  opacity: 1;
  visibility: visible;
}

body .contact-form .form-container {
  position: relative;
  background-color: #333;
  width: 100%;
  max-width: 540px;
  padding: 40px;
  border-radius: 4px;
  margin-bottom: 20px;
}

body .contact-form .form-container .form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 1em;
}

body .contact-form .form-container .form-group textarea {
  resize: vertical;
}

body .contact-form .form-container .form-group input,
body .contact-form .form-container .form-group textarea {
  width: 100%;
  padding: 4px;
  font-size: 1em;
  border: none;
  outline: none;
}

body .contact-form .form-container .form-close-btn {
  position: absolute;
  top: 20px;
  right: 40px;
  background: #999;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

body .contact-form .form-container .form-close-btn:hover {
  background: crimson;
}

body .contact-form .form-container .form-close-btn:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 80%;
  height: 4px;
  border-radius: 4px;
  background: #fff;
}

body .contact-form .form-container .form-close-btn:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
  width: 80%;
  height: 4px;
  border-radius: 4px;
  background: #fff;
}

body .contact-form .form-container .form-submit-btn[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 16px;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 4px;
  background: #999;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

body .contact-form .form-container .form-submit-btn[type="submit"]:hover {
  background: lightgreen;
}

body .contact-form #status {
  background: transparent;
  width: 100%;
  max-width: 540px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 4px;
}

body .contact-form #status.response {
  background: lightgreen;
  /* animation: status 8s ease-in-out forwards; */
}

body .contact-form #status.error {
  background: orange;
  /* animation: status 8s ease-in-out forwards; */
}

/* --------------- media --------------- */
@media (max-width: 860px) {
  body .max-width-grid {
    max-width: 860px;
    padding: 0 20px;
  }
  body .scroll-down .header-wraper {
    -webkit-transform: none;
            transform: none;
  }
  body .hidden {
    display: none;
  }
  body .overlay {
    position: absolute;
    color: crimson;
    font-size: 10em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 90%;
    background-color: #222;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    -webkit-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
    z-index: 9999;
  }
  body header .header-wraper .header-inner .header-container .nav-container .nav-items-holder {
    background: #222;
    position: fixed;
    top: -360px;
    right: 0;
    width: 100%;
    height: 360px;
    padding: 60px 0 0;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: -2;
  }
  body header .header-wraper .header-inner .header-container .nav-container .nav-items-holder .nav-items {
    display: inline;
  }
  body header .header-wraper .header-inner .header-container .nav-container .nav-items-holder .nav-items a {
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.4em;
    font-weight: 900;
  }
  body header .header-wraper .header-inner .header-container .nav-container .nav-items-holder .nav-items a:hover {
    background: #999;
  }
  body header .header-wraper .header-inner .header-container .nav-container.open {
    visibility: visible;
    opacity: 100;
    width: 100%;
  }
  body header .header-wraper .header-inner .header-container .nav-container.open .nav-items-holder {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
  body header .header-wraper .header-inner .header-container .nav-container .nav-items-holder {
    background: #222;
    position: fixed;
    top: -360px;
    right: 0;
    width: 100%;
    height: 360px;
    padding: 60px 0 0;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: -2;
  }
  body header .header-wraper .header-inner .header-container .nav-container .nav-items-holder .nav-items {
    display: inline;
    -webkit-box-shadow: 0 5px 25px #010100;
            box-shadow: 0 5px 25px #010100;
  }
  body header .header-wraper .header-inner .header-container .nav-container .nav-items-holder .nav-items a {
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.4em;
    font-weight: 900;
  }
  body header .header-wraper .header-inner .header-container .nav-container .nav-items-holder .nav-items a:hover {
    background: #999;
    color: #fff;
  }
  body header .header-wraper .header-inner .header-container .right-icons .media-icons {
    display: none;
  }
  body header .header-wraper .header-inner .header-container .menu-btn {
    position: relative;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    z-index: 999;
  }
  body header .header-wraper .header-inner .header-container .menu-btn .btn-top,
  body header .header-wraper .header-inner .header-container .menu-btn .btn-bottom,
  body header .header-wraper .header-inner .header-container .menu-btn .btn-middle {
    position: absolute;
    background: #fff;
    width: 70%;
    height: 2px;
    border-radius: 4px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  body header .header-wraper .header-inner .header-container .menu-btn .btn-top {
    left: 15%;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  body header .header-wraper .header-inner .header-container .menu-btn .btn-top.open {
    -webkit-transform: translateX(0) rotate(-45deg);
            transform: translateX(0) rotate(-45deg);
  }
  body header .header-wraper .header-inner .header-container .menu-btn .btn-middle {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  body header .header-wraper .header-inner .header-container .menu-btn .btn-middle.open {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  body header .header-wraper .header-inner .header-container .menu-btn .btn-bottom {
    right: 15%;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  body header .header-wraper .header-inner .header-container .menu-btn .btn-bottom.open {
    -webkit-transform: translateX(0) rotate(45deg);
            transform: translateX(0) rotate(45deg);
  }
  body .contact-btn {
    background: inherit;
    width: 200px;
    padding: 15px 60px;
    font-weight: 400;
  }
  body main .home-wraper .home-inner .home-container .home-contents .home-banner-main {
    font-size: 3em;
    font-weight: 800;
    text-align: left;
  }
  body main .about-wraper .about-inner .about-container {
    padding: 60px 0 42px;
  }
  body main .about-wraper .about-inner .about-container .about-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }
  body main .about-wraper .about-inner .about-container .about-contents .about-photo {
    height: 500px;
    padding: 0;
  }
  body main .about-wraper .about-inner .about-container .about-contents .about-text {
    padding: 0px;
  }
  body main .about-wraper .about-inner .about-container .about-contents .about-text p span {
    white-space: normal;
    line-height: 2;
  }
  body main .about-wraper .about-inner .about-container .about-contents .about-text p span:nth-child(2) {
    margin-bottom: 2px;
  }
  body main .about-wraper .about-inner .about-container .about-contents .about-text > span,
  body main .about-wraper .about-inner .about-container .about-contents .about-text .contact-btn-container {
    display: none;
  }
  body main .services-wraper .services-inner .services-container {
    padding: 60px 0 42px;
  }
  body main .services-wraper .services-inner .services-container .services-contents .services-title {
    padding-bottom: 40px;
  }
  body main .services-wraper .services-inner .services-container .services-contents .services-title h3 {
    height: 50px;
    font-size: 3em;
  }
  body main .services-wraper .services-inner .services-container .services-contents .services-title p {
    white-space: nowrap;
  }
  body main .services-wraper .services-inner .services-container .services-contents .services-grid {
    gap: 12px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  body main .services-wraper .services-inner .services-container .services-contents .services-grid .services-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px;
  }
  body main .services-wraper .services-inner .services-container .services-contents .services-grid .services-card .services-icons {
    margin: 0 0 20px;
    width: 100px;
    height: 100px;
  }
  body main .services-wraper .services-inner .services-container .services-contents .services-grid .services-card .services-icons i {
    font-size: 2em;
  }
  body main .services-wraper .services-inner .services-container .services-contents .services-grid .services-card .service-discription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  body main .services-wraper .services-inner .services-container .services-contents .services-grid .services-card .service-discription h2 {
    margin: 0 0 15px;
    font-size: 1.4em;
    font-weight: 900;
  }
  body main .services-wraper .services-inner .services-container .services-contents .services-grid .services-card .service-discription p {
    font-size: 0.8em;
    font-weight: 700;
    margin: 0 0 20px;
    white-space: pre-line;
    text-align: left;
  }
  body main .portfolio-wraper .portfolio-inner .portfolio-container {
    padding: 60px 0 42px;
  }
  body main .portfolio-wraper .portfolio-inner .portfolio-container .portfolio-contents .portfolio-tittle h3 {
    font-size: 4em;
    font-weight: 900;
    margin-bottom: 8px;
  }
  body main .portfolio-wraper .portfolio-inner .portfolio-container .portfolio-contents .portfolio-tittle p {
    line-height: 1.5;
  }
  body main .portfolio-wraper .portfolio-inner .portfolio-container .portfolio-contents .portfolio-tittle p span {
    color: #757575;
    display: block;
    white-space: pre-line;
  }
  body main .portfolio-wraper .portfolio-inner .portfolio-container .portfolio-contents .portfolio-tittle p span:nth-child(1) {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 18px;
  }
  body main .portfolio-wraper .portfolio-inner .portfolio-container .portfolio-contents .portfolio-tittle p span:nth-child(2) {
    font-size: 1.1em;
    font-weight: 300;
    color: #333;
  }
  body main .portfolio-wraper .portfolio-inner .portfolio-container .portfolio-contents .portfolio-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (350px)[4];
        grid-template-rows: repeat(4, 350px);
    grid-gap: 20px;
  }
  body main .portfolio-wraper .portfolio-inner .portfolio-container .portfolio-contents .portfolio-grid .portfolio-card {
    background: #fcfcfc;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    -webkit-box-shadow: 0px 3px 3px 0px gainsboro;
            box-shadow: 0px 3px 3px 0px gainsboro;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .portfolio-wraper .portfolio-inner .portfolio-container .portfolio-contents .portfolio-grid .portfolio-card p {
    color: #757575;
    font-size: 1.5em;
    font-weight: 800;
  }
  body footer .contact-wraper .contact-inner .contact-container {
    padding: 60px 0 42px;
  }
  body footer .contact-wraper .contact-inner .contact-container .contact-title p {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
  }
  body footer .contact-wraper .contact-inner .contact-container .contact-elements {
    width: 40%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
    grid-gap: 40px;
  }
  body footer .contact-wraper .contact-inner .contact-container .contact-elements .ctt-el-wraper .ctt_el {
    height: 40px;
    margin-bottom: 80px;
  }
  body footer .footer-bottom-container .footer-bottom-items a:not(:last-child) {
    padding-right: 60px;
  }
}
/*# sourceMappingURL=stylesheet.css.map */