@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@use "foundation/main";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.shin-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  opacity: 90%;
  display: none;
}

.shin-overlay.shin-open {
  display: block;
}

.shin-container {
  position: relative;
  z-index: 3;
  background: #fff;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shin-container .shin-navbar {
  position: relative;
  background: inherit;
  max-width: 90rem;
  width: 100%;
  height: var(--space-80);
  padding: var(--space-20) var(--space-80);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shin-container .shin-navbar .shin-logo {
  z-index: 2;
  cursor: pointer;
}

.shin-container .shin-navbar .shin-nav-links-container {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--space-30);
}

.shin-container .shin-navbar .shin-nav-links-container li {
  display: inline-block;
}

.shin-container .shin-navbar .shin-nav-links-container li a {
  cursor: pointer;
  color: #000;
  font-size: var(--font-size-14);
  font-weight: 500;
}

.shin-container .shin-navbar .shin-nav-links-container li a:hover {
  color: crimson;
}

.shin-container .shin-navbar .shin-menu-icon {
  z-index: 2;
  width: var(--space-25);
  cursor: pointer;
}

.shin-container .shin-navbar img:last-of-type {
  display: none;
}

.shin-contents {
  position: relative;
  z-index: -3;
  max-width: 90rem;
  width: 100%;
  padding: var(--space-20) var(--space-80);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--space-40);
}

.shin-contents .shin-details {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  position: relative;
  margin-left: var(--space-50);
}

.shin-contents .shin-details h2 {
  line-height: 1.25;
  font-size: var(--font-size-64);
  font-weight: 900;
}

.shin-contents .shin-details h3 {
  font-size: var(--font-size-32);
}

.shin-contents .shin-details h3,
.shin-contents .shin-details p {
  color: #999;
}

.shin-contents .shin-details p {
  font-weight: 300;
}

.shin-contents .shin-details h4 {
  margin: var(--space-30) 0;
  font-size: var(--font-size-18);
}

.shin-contents .shin-details .shin-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--space-10);
}

.shin-contents .shin-details .shin-buttons::after {
  content: "";
  position: absolute;
  top: var(--space-8);
  left: calc(var(--space-50) * -1);
  background: #222;
  width: var(--space-10);
  height: 57%;
}

.shin-contents .shin-details .shin-buttons button {
  color: #fff;
  width: var(--space-140);
  border: 0;
  padding: var(--space-12) var(--space-10);
  outline: none;
  background: #222;
  border-radius: var(--space-8);
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  cursor: pointer;
}

.shin-contents .shin-details .shin-buttons button img {
  width: var(--space-30);
  display: none;
}

.shin-contents .shin-details .shin-buttons button:hover {
  width: var(--space-160);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shin-contents .shin-details .shin-buttons button:hover img {
  display: block;
}

.shin-contents .shin-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.shin-contents .shin-image .shin-controller {
  width: 70%;
  margin-top: 4%;
}

.shin-contents .shin-image .shin-color-box {
  position: absolute;
  top: 0;
  right: var(--space-80);
  z-index: -1;
  background: #222;
  border-radius: var(--space-20) 0 0 var(--space-20);
  width: 30%;
  height: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.shin-contents .shin-image .shin-color-box .more-link {
  position: absolute;
  bottom: calc(var(--space-40) * -1);
  right: 0;
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shin-contents .shin-image .shin-color-box .more-link a {
  text-decoration: underline;
}

.shin-contents .shin-image .shin-color-box .more-link i {
  margin-left: var(--space-5);
}

.shin-contents .shin-image .shin-color-box p {
  margin-bottom: var(--space-120);
  width: 25%;
}

.shin-contents .shin-image .shin-add-btn {
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.shin-contents .shin-image .shin-add-btn img {
  width: var(--space-40);
  margin-bottom: var(--space-5);
}

footer {
  max-width: 90rem;
  width: 100%;
  padding: var(--space-20) var(--space-80);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: var(--space-20);
}

footer .shin-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--space-40);
}

footer .shin-social-links img {
  height: var(--space-15);
  cursor: pointer;
}

footer .shin-social-links img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: crimson;
}

@media only screen and (max-width: 60rem) {
  .shin-container .shin-navbar,
  .shin-container .shin-contents,
  .shin-container .shin-social-links {
    padding: var(--space-20) var(--space-40);
  }
  .shin-container .shin-navbar .shin-nav-links-container {
    position: absolute;
    right: 0;
    bottom: 300px;
    z-index: -1;
    background: #222;
    width: 100%;
    height: 300px;
    padding: var(--space-20) var(--space-40);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shin-container .shin-navbar .shin-nav-links-container.shin-open {
    bottom: -300px;
  }
  .shin-container .shin-navbar .shin-nav-links-container li a {
    color: #fff;
  }
  .shin-container .shin-navbar img:last-of-type {
    display: block;
  }
  .shin-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: var(--space-30);
  }
  .shin-contents .shin-details {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .shin-contents .shin-details h2 {
    font-size: var(--font-size-32);
    margin-bottom: var(--space-10);
  }
  .shin-contents .shin-details h3 {
    font-size: var(--font-size-16);
    margin-bottom: var(--space-8);
  }
  .shin-contents .shin-details .shin-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .shin-contents .shin-image {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .shin-contents .shin-image .shin-controller {
    width: 60%;
    margin-left: 0;
  }
  .shin-contents .shin-image .shin-color-box {
    width: 75%;
    height: 58%;
    right: var(--space-40);
  }
  .shin-contents .shin-image .shin-color-box .more-link {
    font-size: var(--font-size-13);
    bottom: calc(var(--space-30) * -1);
    right: calc(var(--space-40));
  }
}

@media only screen and (max-width: 35rem) {
  .shin-container .shin-navbar,
  .shin-container .shin-contents,
  .shin-container .shin-social-links {
    padding: var(--space-20) var(--space-20);
  }
  .shin-container .shin-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .shin-container .shin-contents .shin-details {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .shin-container .shin-contents .shin-details h2 {
    font-size: var(--font-size-32);
    margin-bottom: var(--space-10);
  }
  .shin-container .shin-contents .shin-details h3 {
    font-size: var(--font-size-16);
    margin-bottom: var(--space-8);
  }
  .shin-container .shin-contents .shin-details .shin-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .shin-container .shin-contents .shin-details .shin-buttons::after {
    content: "";
    position: absolute;
    top: var(--space-8);
    left: calc(var(--space-40) * -1);
    background: #222;
    width: var(--space-8);
    height: 57%;
  }
  .shin-container .shin-contents .shin-image {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: var(--space-50);
  }
  .shin-container .shin-contents .shin-image .shin-controller {
    width: 60%;
    margin-top: 6%;
    margin-left: 0;
  }
  .shin-container .shin-contents .shin-image .shin-color-box {
    width: 67%;
    height: 40%;
    right: var(--space-20);
    z-index: -1;
  }
  .shin-container .shin-contents .shin-image .shin-color-box .more-link {
    font-size: var(--font-size-12);
    bottom: calc(var(--space-20) * -1);
  }
}
/*# sourceMappingURL=webStudy-1.css.map */