@use "foundation/main";

$nav-height: var(--space-80);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

body {
    font-family: "Noto Sans JP", sans-serif;
}

.shin-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(3px);
    opacity: 90%;

    display: none;
    &.shin-open {
        display: block;
    }
}

.shin-container {
    position: relative;
    z-index: 3;
    background: #fff;
    width: 100%;
    height: 100vh;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // .shin-navbar,
    // .shin-contents,
    // .shin-social-links {
    //     padding-left: var(--space-80);
    //     padding-right: var(--space-80);
    // }
    .shin-navbar {
        position: relative;

        background: inherit;
        max-width: 90rem;
        width: 100%;
        height: $nav-height;
        padding: var(--space-20) var(--space-80);

        display: flex;
        justify-content: space-between;
        align-items: center;
        .shin-logo {
            z-index: 2;
            cursor: pointer;
        }

        .shin-nav-links-container {
            z-index: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: var(--space-30);
            li {
                display: inline-block;
                a {
                    cursor: pointer;
                    color: #000;
                    font-size: var(--font-size-14);
                    font-weight: 500;
                    &:hover {
                        color: crimson;
                    }
                }
            }
        }
        .shin-menu-icon {
            z-index: 2;
            width: var(--space-25);
            cursor: pointer;
        }
        img {
            &:last-of-type {
                display: none;
            }
        }
    }
}

.shin-contents {
    position: relative;
    z-index: -3;

    max-width: 90rem;
    width: 100%;
    padding: var(--space-20) var(--space-80);
    // margin: var(--space-50) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-40);
    .shin-details {
        flex-basis: 40%;
        position: relative;
        margin-left: var(--space-50);
        h2 {
            line-height: 1.25;
            font-size: var(--font-size-64);
            font-weight: 900;
        }
        h3 {
            font-size: var(--font-size-32);
        }
        h3,
        p {
            color: #999;
        }
        p {
            font-weight: 300;
        }
        h4 {
            margin: var(--space-30) 0;
            font-size: var(--font-size-18);
        }
        .shin-buttons {
            display: flex;
            flex-direction: column;
            gap: var(--space-10);
            &::after {
                content: "";
                position: absolute;
                top: var(--space-8);
                left: calc(var(--space-50) * -1);
                background: #222;
                width: var(--space-10);
                height: 57%;
            }
            button {
                color: #fff;
                width: var(--space-140);
                border: 0;
                padding: var(--space-12) var(--space-10);
                outline: none;
                background: #222;
                border-radius: var(--space-8);
                transition: width 0.4s;
                cursor: pointer;
                img {
                    width: var(--space-30);
                    display: none;
                }
                &:hover {
                    width: var(--space-160);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img {
                        display: block;
                    }
                }
            }
        }
    }

    .shin-image {
        // position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 60%;

        .shin-controller {
            width: 70%;
            margin-top: 4%;
            // margin-left: var(--space-160);
        }

        .shin-color-box {
            position: absolute;
            top: 0;
            // right: calc(var(--space-80) * -1);
            right: var(--space-80);
            // transform: translateY(-50%);
            z-index: -1;

            background: #222;
            border-radius: var(--space-20) 0 0 var(--space-20);
            width: 30%;
            // height: calc(100% + var(--space-40));
            height: 100%;
            color: #fff;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            .more-link {
                position: absolute;
                bottom: calc(var(--space-40) * -1);
                right: 0;

                color: #222;
                display: flex;
                align-items: center;

                a {
                    text-decoration: underline;
                }
                i {
                    margin-left: var(--space-5);
                }
            }
            p {
                margin-bottom: var(--space-120);
                width: 25%;
            }
        }
        .shin-add-btn {
            text-align: center;
            color: #fff;
            cursor: pointer;
            img {
                width: var(--space-40);
                margin-bottom: var(--space-5);
            }
        }
    }
}

footer {
    max-width: 90rem;
    width: 100%;

    padding: var(--space-20) var(--space-80);
    display: flex;
    justify-content: center;
    padding-bottom: var(--space-20);
    .shin-social-links {
        display: flex;
        align-items: center;
        gap: var(--space-40);
        img {
            height: var(--space-15);
            // margin: var(--space-20);
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
                color: crimson;
            }
        }
    }
}
@media only screen and (max-width: 60rem) {
    .shin-container {
        .shin-navbar,
        .shin-contents,
        .shin-social-links {
            padding: var(--space-20) var(--space-40);
        }
        .shin-navbar {
            .shin-nav-links-container {
                position: absolute;
                right: 0;
                bottom: 300px;
                z-index: -1;

                background: #222;
                width: 100%;
                height: 300px;
                padding: var(--space-20) var(--space-40);

                flex-direction: column;
                justify-content: center;
                align-items: center;
                &.shin-open {
                    // z-index: 1;
                    bottom: -300px;
                }
                li {
                    a {
                        color: #fff;
                    }
                }
            }
            img {
                &:last-of-type {
                    display: block;
                }
            }
        }
    }
    .shin-contents {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: var(--space-30);

        .shin-details {
            flex-basis: 100%;

            h2 {
                font-size: var(--font-size-32);
                margin-bottom: var(--space-10);
            }
            h3 {
                font-size: var(--font-size-16);
                margin-bottom: var(--space-8);
            }
            .shin-buttons {
                flex-direction: row;
            }
        }
        .shin-image {
            flex-basis: 100%;
            justify-content: flex-start;
            // margin-bottom: var(--space-50);
            .shin-controller {
                width: 60%;

                margin-left: 0;
            }
            .shin-color-box {
                width: 75%;
                height: 58%;
                right: var(--space-40);
                .more-link {
                    font-size: var(--font-size-13);
                    bottom: calc(var(--space-30) * -1);
                    right: calc(var(--space-40));
                }
            }
        }
    }
}
@media only screen and (max-width: 35rem) {
    .shin-container {
        .shin-navbar,
        .shin-contents,
        .shin-social-links {
            padding: var(--space-20) var(--space-20);
        }

        .shin-contents {
            flex-direction: column-reverse;
            .shin-details {
                flex-basis: 100%;
                h2 {
                    font-size: var(--font-size-32);
                    margin-bottom: var(--space-10);
                }
                h3 {
                    font-size: var(--font-size-16);
                    margin-bottom: var(--space-8);
                }
                .shin-buttons {
                    flex-direction: row;
                    &::after {
                        content: "";
                        position: absolute;
                        top: var(--space-8);
                        left: calc(var(--space-40) * -1);
                        background: #222;
                        width: var(--space-8);
                        height: 57%;
                    }
                }
            }
            .shin-image {
                flex-basis: 100%;
                margin-bottom: var(--space-50);
                .shin-controller {
                    width: 60%;
                    margin-top: 6%;
                    margin-left: 0;
                }
                .shin-color-box {
                    width: 67%;
                    height: 40%;
                    right: var(--space-20);
                    z-index: -1;
                    .more-link {
                        font-size: var(--font-size-12);
                        bottom: calc(var(--space-20) * -1);
                    }
                }
            }
        }
    }
}
