@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.title-xl {
  font-size: 7.5rem;
  font-weight: 800;
  line-height: 1.3;
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.1;
}

.metatitle {
  font-size: 1.5rem;
  font-weight: 500;
}

.content-title {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}

.link-text-s {
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}

.link-text-m {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}

.emph-color {
  color: #ffc229;
}

.outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: inherit;
  -webkit-text-stroke-width: 2px;
}

.max-width-bander-xl {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  opacity: 90%;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.overlay.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.alert-success {
  position: fixed;
  top: 88px;
  right: 0;
  z-index: 1;
  background: #ffc229;
  width: 100%;
  min-width: 420px;
  padding: 20px 40px;
  border-radius: 4px;
  text-align: center;
}

.alert-error {
  position: fixed;
  top: 88px;
  right: 0;
  z-index: 1;
  background: crimson;
  width: 100%;
  min-width: 420px;
  padding: 20px 40px;
  border-radius: 4px;
  text-align: center;
}

.reveal {
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  visibility: hidden;
  opacity: 0;
}

.reveal.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}

.scroll-down .navbar {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.scroll-up .navbar {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body {
  position: relative;
  width: 100%;
}

body .global-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #191919;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .global-header .navbar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  position: relative;
  height: 48px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: header_in;
          animation-name: header_in;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .global-header .navbar .logo {
  font-size: 1.4rem;
  font-weight: 800;
}

body .global-header .navbar .nav-links-bander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

body .global-header .navbar .nav-links-bander a {
  padding: 8px 0;
  text-transform: uppercase;
}

body .global-header .navbar .nav-links-bander a:hover {
  color: #ffc229;
}

body .global-header .navbar .nav-btn-bander {
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12 / span 1;
  position: relative;
  width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
}

body .global-header .navbar .nav-btn-bander .btn-top,
body .global-header .navbar .nav-btn-bander .btn-bottom,
body .global-header .navbar .nav-btn-bander .btn-middle {
  position: absolute;
  background: white;
  width: 70%;
  height: 2px;
  border-radius: 4px;
}

body .global-header .navbar .nav-btn-bander .btn-top {
  left: 15%;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

body .global-header .navbar .nav-btn-bander .btn-top.open {
  -webkit-transform: translateX(0) rotate(-45deg);
          transform: translateX(0) rotate(-45deg);
}

body .global-header .navbar .nav-btn-bander .btn-middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .global-header .navbar .nav-btn-bander .btn-middle.open {
  -webkit-transform: scale(0);
          transform: scale(0);
}

body .global-header .navbar .nav-btn-bander .btn-bottom {
  right: 15%;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

body .global-header .navbar .nav-btn-bander .btn-bottom.open {
  -webkit-transform: translateX(0) rotate(45deg);
          transform: translateX(0) rotate(45deg);
}

@-webkit-keyframes header_in {
  from {
    /* top: -60px; */
  }
  to {
    /* top: 0px; */
    opacity: 1;
    visibility: visible;
  }
}

@keyframes header_in {
  from {
    /* top: -60px; */
  }
  to {
    /* top: 0px; */
    opacity: 1;
    visibility: visible;
  }
}

body main {
  position: relative;
  background: #191919;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .contact-me {
  margin: 150px 0 120px;
  color: white;
  text-align: left;
}

body main .contact-me .heading-xl,
body main .contact-me .contact-form {
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4 / span 6;
}

body main .contact-me .heading-xl {
  margin-bottom: 40px;
}

body main .contact-me .heading-xl .title-xl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-transform: uppercase;
}

body main .contact-me .heading-xl .title-xl span {
  white-space: nowrap;
  display: block;
}

body main .contact-me .contact-form {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

body main .contact-me .contact-form .first-name,
body main .contact-me .contact-form .last-name,
body main .contact-me .contact-form .email,
body main .contact-me .contact-form .mobile,
body main .contact-me .contact-form .comment,
body main .contact-me .contact-form .submit-btn {
  margin-bottom: 20px;
}

body main .contact-me .contact-form .first-name label,
body main .contact-me .contact-form .first-name textarea,
body main .contact-me .contact-form .first-name input,
body main .contact-me .contact-form .first-name button,
body main .contact-me .contact-form .last-name label,
body main .contact-me .contact-form .last-name textarea,
body main .contact-me .contact-form .last-name input,
body main .contact-me .contact-form .last-name button,
body main .contact-me .contact-form .email label,
body main .contact-me .contact-form .email textarea,
body main .contact-me .contact-form .email input,
body main .contact-me .contact-form .email button,
body main .contact-me .contact-form .mobile label,
body main .contact-me .contact-form .mobile textarea,
body main .contact-me .contact-form .mobile input,
body main .contact-me .contact-form .mobile button,
body main .contact-me .contact-form .comment label,
body main .contact-me .contact-form .comment textarea,
body main .contact-me .contact-form .comment input,
body main .contact-me .contact-form .comment button,
body main .contact-me .contact-form .submit-btn label,
body main .contact-me .contact-form .submit-btn textarea,
body main .contact-me .contact-form .submit-btn input,
body main .contact-me .contact-form .submit-btn button {
  width: 100%;
  display: block;
}

body main .contact-me .contact-form .first-name label,
body main .contact-me .contact-form .last-name label,
body main .contact-me .contact-form .email label,
body main .contact-me .contact-form .mobile label,
body main .contact-me .contact-form .comment label,
body main .contact-me .contact-form .submit-btn label {
  text-align: left;
  font-weight: 300;
  margin-bottom: 3px;
}

body main .contact-me .contact-form .first-name input,
body main .contact-me .contact-form .last-name input,
body main .contact-me .contact-form .email input,
body main .contact-me .contact-form .mobile input,
body main .contact-me .contact-form .comment input,
body main .contact-me .contact-form .submit-btn input {
  border: none;
  outline: none;
  padding: 10px;
}

body main .contact-me .contact-form .first-name,
body main .contact-me .contact-form .last-name {
  grid-column: span 1;
}

body main .contact-me .contact-form .email,
body main .contact-me .contact-form .mobile,
body main .contact-me .contact-form .comment,
body main .contact-me .contact-form .submit-btn {
  grid-column: span 2;
}

body main .contact-me .contact-form .comment input {
  height: 110px;
}

body main .contact-me .contact-form .submit-btn {
  border: none;
  background: #ffc229;
  padding: 15px;
  margin-top: 20px;
  cursor: pointer;
}

body .global-footer {
  position: relative;
  background: #191919;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .global-footer .footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  height: 48px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .global-footer .footer .media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

body .global-footer .footer .media-container,
body .global-footer .footer .footer-email {
  padding: 8px 0;
  font-weight: 300;
}

@media (max-width: 960px) {
  :root {
    font-size: 14px;
  }
  body .hidden {
    display: none;
  }
  body .global-header .navbar .nav-links-bander {
    position: absolute;
    top: 0;
    right: -240px;
    width: 240px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .global-header .navbar .nav-links-bander.open {
    right: 0;
    background: crimson;
  }
  body .global-header .navbar .nav-btn-bander {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .contact-me.max-width-bander-xl {
    text-align: center;
  }
  body .contact-me.max-width-bander-xl .heading-xl,
  body .contact-me.max-width-bander-xl .contact-form {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
  }
}
/*# sourceMappingURL=contact.css.map */