@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// :root {
//     --primary-dark-color: rgba(25, 25, 25, 1);
//     --primary-light-color: rgba(255, 255, 255, 1);
//     --primary-emph-color: rgba(255, 194, 41, 1);
//     --primary-gray-color: rgba(160, 160, 160, 1);

//     --max-screen-size: 1440px;
//     --mobile-screen-size: 540px;
//     --max-screen-padding: 0 20px;
//     --primary-border-radius: 4px;

//     font-size: 16px;
// }
$primary-dark-color: rgba(25, 25, 25, 1);
$primary-light-color: rgba(255, 255, 255, 1);
$primary-emph-color: rgba(255, 194, 41, 1);
$primary-gray-color: rgba(160, 160, 160, 1);
$max-screen-size: 1440px;
$mobile-screen-size: 540px;
$max-screen-padding: 0 20px;
$primary-border-radius: 4px;
$default-text-align: left;
html {
    font-size: 16px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: 0.4s ease-in-out;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.title-xl {
    font-size: 7.5rem;
    font-weight: 800;
    line-height: 1.3;
}
.title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.1;
}
.metatitle {
    font-size: 1.5rem;
    font-weight: 500;
}
.content-title {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
}
.link-text-s {
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
}
.link-text-m {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
}
.emph-color {
    color: $primary-emph-color;
}
.outline {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: inherit;
    -webkit-text-stroke-width: 2px;
}

.max-width-bander-xl {
    width: 100%;
    max-width: $max-screen-size;
    padding: $max-screen-padding;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;

    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(3px);

    opacity: 90%;
    transition: 0.4s all ease-in-out;
    &.hidden {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}
.alert-success {
    position: fixed;
    top: 88px;
    right: 0;
    z-index: 1;

    background: $primary-emph-color;
    width: 100%;
    min-width: 420px;
    padding: 20px 40px;
    border-radius: $primary-border-radius;
    text-align: center;
}
.alert-error {
    position: fixed;
    top: 88px;
    right: 0;
    z-index: 1;

    background: crimson;
    width: 100%;
    min-width: 420px;
    padding: 20px 40px;
    border-radius: $primary-border-radius;
    text-align: center;
}
.reveal {
    position: relative;
    transition: all 0.2s ease-in;
    transform: translateY(4px);
    visibility: hidden;
    opacity: 0;
    &.active {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }
}

.scroll-down .navbar {
    // transform: translate3d(0, -100%, 0);
    transform: translateY(-100%);
}
.scroll-up .navbar {
    // filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
    transform: translateY(0);
}
// .scroll-down .navbar {
//     // transform: translate3d(0, 0, 0);
//     transform: none;
// }

.global-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: $primary-dark-color;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .navbar {
        grid-column: 1 / span 12;
        position: relative;
        height: 48px;
        color: $primary-light-color;
        display: flex;
        justify-content: space-between;
        align-items: center;

        animation-name: header_in;
        animation-duration: 0.7s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;

        .logo {
            font-size: 1.4rem;
            font-weight: 800;
        }
        .nav-links-bander {
            display: flex;
            justify-content: center;
            align-items: center;

            column-gap: 40px;
            a {
                padding: 8px 0;
                text-transform: uppercase;
                &:hover {
                    color: $primary-emph-color;
                }
            }
        }

        .nav-btn-bander {
            grid-column: 12 / span 1;
            position: relative;
            width: 30px;
            height: 30px;

            display: none;
            cursor: pointer;

            .btn-top,
            .btn-bottom,
            .btn-middle {
                position: absolute;
                background: $primary-light-color;
                width: 70%;
                height: 2px;
                border-radius: 4px;
            }
            .btn-top {
                left: 15%;
                transform: translateY(5px);
                &.open {
                    transform: translateX(0) rotate(-45deg);
                }
            }
            .btn-middle {
                top: 50%;
                transform: translateY(-50%);
                &.open {
                    transform: scale(0);
                }
            }

            .btn-bottom {
                right: 15%;
                transform: translateY(-5px);
                &.open {
                    transform: translateX(0) rotate(45deg);
                }
            }
        }
    }
    @keyframes header_in {
        from {
            /* top: -60px; */
        }
        to {
            /* top: 0px; */
            opacity: 1;
            visibility: visible;
        }
    }
}
body {
    .global-header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        background: $primary-dark-color;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .navbar {
            grid-column: 1 / span 12;
            position: relative;
            height: 48px;
            color: $primary-light-color;
            display: flex;
            justify-content: space-between;
            align-items: center;

            animation-name: header_in;
            animation-duration: 0.7s;
            animation-timing-function: ease-in;
            animation-fill-mode: forwards;

            .logo {
                font-size: 1.4rem;
                font-weight: 800;
            }
            .nav-links-bander {
                display: flex;
                justify-content: center;
                align-items: center;

                column-gap: 40px;
                a {
                    padding: 8px 0;
                    text-transform: uppercase;
                    &:hover {
                        color: $primary-emph-color;
                    }
                }
            }

            .nav-btn-bander {
                grid-column: 12 / span 1;
                position: relative;
                width: 30px;
                height: 30px;

                display: none;
                cursor: pointer;

                .btn-top,
                .btn-bottom,
                .btn-middle {
                    position: absolute;
                    background: $primary-light-color;
                    width: 70%;
                    height: 2px;
                    border-radius: 4px;
                }
                .btn-top {
                    left: 15%;
                    transform: translateY(5px);
                    &.open {
                        transform: translateX(0) rotate(-45deg);
                    }
                }
                .btn-middle {
                    top: 50%;
                    transform: translateY(-50%);
                    &.open {
                        transform: scale(0);
                    }
                }

                .btn-bottom {
                    right: 15%;
                    transform: translateY(-5px);
                    &.open {
                        transform: translateX(0) rotate(45deg);
                    }
                }
            }
        }
        @keyframes header_in {
            from {
                /* top: -60px; */
            }
            to {
                /* top: 0px; */
                opacity: 1;
                visibility: visible;
            }
        }
    }

    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            font-size: 3rem;
        }
    }

    .global-footer {
        position: relative;
        background: $primary-dark-color;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .footer {
            grid-column: 1 / span 12;
            height: 48px;
            color: $primary-light-color;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .media-container {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 40px;
            }
            .media-container,
            .footer-email {
                padding: 8px 0;
                font-weight: 300;
            }
        }
    }
}
