@use "foundation/main";

body {
    position: relative;
    main {
        width: inherit;
        position: relative;

        .contact-wrapper {
            width: 100%;
            background: var(--primary-color-dark);
            .contact-content {
                padding: var(--space-140) 0 var(--space-140);
                color: var(--primary-color-light);

                .details,
                .contact-form {
                    grid-column: 4 / span 6;
                }
                .details {
                    margin-bottom: var(--space-40);
                    .title-xl {
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        span {
                            display: block;
                        }
                    }
                }
                .contact-form {
                    text-align: left;
                    // display: grid;
                    // grid-template-columns: repeat(2, 1fr);
                    column-gap: var(--space-20);
                    display: flex;
                    // flex-direction: column;
                    flex-wrap: wrap;
                    & > * {
                        margin-bottom: var(--space-20);
                    }
                    label,
                    textarea,
                    input,
                    button {
                        width: 100%;
                        display: block;
                    }
                    label {
                        margin-bottom: var(--space-5);
                        font-weight: 300;
                        text-transform: uppercase;
                    }
                    textarea,
                    input {
                        border: none;
                        outline: none;
                        padding: var(--space-10);
                    }

                    .first-name,
                    .last-name {
                        // grid-column: span 1;
                        flex-grow: 1;
                        // width: 50%;
                    }
                    .email,
                    .mobile,
                    .comment,
                    .submit-btn {
                        // width: 100%;
                        flex-grow: 1;
                        // flex: 1;
                        // grid-column: span 2;
                    }

                    .submit-btn {
                        border: none;
                        background: var(--primary-color-yellow);
                        padding: var(--space-15);
                        margin-top: var(--space-20);
                        text-transform: uppercase;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
@media (max-width: 960px) {
    body {
        .contact-content.max-width-bander-xl {
            text-align: center;

            .details,
            .contact-form {
                grid-column: 2 / span 10;
            }
        }
    }
}
