@use "foundation/main";
body {
  position: relative;
}

body main {
  width: inherit;
  position: relative;
}

body main .contact-wrapper {
  width: 100%;
  background: var(--primary-color-dark);
}

body main .contact-wrapper .contact-content {
  padding: var(--space-140) 0 var(--space-140);
  color: var(--primary-color-light);
}

body main .contact-wrapper .contact-content .details,
body main .contact-wrapper .contact-content .contact-form {
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4 / span 6;
}

body main .contact-wrapper .contact-content .details {
  margin-bottom: var(--space-40);
}

body main .contact-wrapper .contact-content .details .title-xl {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .contact-wrapper .contact-content .details .title-xl span {
  display: block;
}

body main .contact-wrapper .contact-content .contact-form {
  text-align: left;
  -webkit-column-gap: var(--space-20);
          column-gap: var(--space-20);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .contact-wrapper .contact-content .contact-form > * {
  margin-bottom: var(--space-20);
}

body main .contact-wrapper .contact-content .contact-form label,
body main .contact-wrapper .contact-content .contact-form textarea,
body main .contact-wrapper .contact-content .contact-form input,
body main .contact-wrapper .contact-content .contact-form button {
  width: 100%;
  display: block;
}

body main .contact-wrapper .contact-content .contact-form label {
  margin-bottom: var(--space-5);
  font-weight: 300;
  text-transform: uppercase;
}

body main .contact-wrapper .contact-content .contact-form textarea,
body main .contact-wrapper .contact-content .contact-form input {
  border: none;
  outline: none;
  padding: var(--space-10);
}

body main .contact-wrapper .contact-content .contact-form .first-name,
body main .contact-wrapper .contact-content .contact-form .last-name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body main .contact-wrapper .contact-content .contact-form .email,
body main .contact-wrapper .contact-content .contact-form .mobile,
body main .contact-wrapper .contact-content .contact-form .comment,
body main .contact-wrapper .contact-content .contact-form .submit-btn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body main .contact-wrapper .contact-content .contact-form .submit-btn {
  border: none;
  background: var(--primary-color-yellow);
  padding: var(--space-15);
  margin-top: var(--space-20);
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 960px) {
  body .contact-content.max-width-bander-xl {
    text-align: center;
  }
  body .contact-content.max-width-bander-xl .details,
  body .contact-content.max-width-bander-xl .contact-form {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
  }
}
/*# sourceMappingURL=contact.css.map */