@use "foundation/main";
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

$primary-black: rgba(25, 25, 25, 1);
$primary-white: rgba(248, 248, 248, 1);

$text-color-dark: #222;
$text-color-light: #eee;
$yellow-color: linear-gradient(180deg, rgba(255, 190, 40, 1) 0%, rgba(255, 200, 60, 1) 40%, rgba(255, 180, 20, 1) 100%);
$invalid-color: crimson;
$winner-color: #5bbe19;

body {
    // background: var(--primary-color-dark);
    background-color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    main {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        section.guess-my-number {
            position: relative;

            background: linear-gradient(180deg, rgba(40, 40, 40, 1), rgba(50, 50, 50, 1));
            width: 540px;
            padding: 10px;
            border-radius: 6px;
            box-shadow: 0 -2px 0 0 rgba(255, 255, 255, 1), -3px 0 0 1px rgba(255, 255, 255, 1),
                3px 0 0 1px rgba(255, 255, 255, 1), 0 2px 2px 2px rgba(215, 215, 215, 0.6),
                0 3px 0 4px rgba(255, 255, 255, 1), 0 10px 2px 2px rgba(120, 120, 120, 0.6),
                0 11px 0 4px rgba(215, 215, 215, 0.7), 0 30px 10px 0 rgba(0, 0, 0, 0.6),
                0 50px 10px 0px rgba(0, 0, 0, 0.2), 0 50px 20px 0px rgba(160, 160, 160, 0.1);

            transition: 0.4s ease-in-out;

            * {
                font-family: "Press Start 2P", sans-serif;
            }

            .tittle {
                position: relative;

                background: $yellow-color;
                width: 100%;
                padding: 8px 24px 16px;
                border-radius: 4px;
                box-shadow: inset 0 1px 2px 1px rgba(255, 181, 20, 1), inset 0 -2px 4px 0 rgba(255, 181, 20, 0.6),
                    inset 0 0 4px 4px rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(120, 80, 10, 0.8),
                    0 5px 0 0 rgba(120, 80, 10, 1), 0 10px 10px 2px rgba(0, 0, 0, 0.4),
                    0 10px 30px 4px rgba(0, 0, 0, 0.2);

                color: $text-color-dark;
                text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2), 1px 1px 1px rgba(240, 240, 240, 0.6);
                text-align: center;
                white-space: nowrap;

                h1 {
                    margin-top: 10px;
                    text-transform: uppercase;
                    font-size: 1.5em;
                    letter-spacing: 2px;
                }

                span {
                    font-size: 0.5em;
                    letter-spacing: 1px;
                }
            }

            .screen {
                position: relative;
                background: transparent;
                width: 100%;
                padding: 24px 36px;
                color: $text-color-light;

                .scores-container {
                    font-size: 0.4em;
                    text-shadow: 0px 6px 2px rgba(0, 0, 0, 0.6);

                    display: flex;
                    justify-content: space-between;
                    transition: 0.4s ease-in-out;
                    opacity: 0.1;

                    .left {
                        p:first-child {
                            margin-bottom: 15px;
                        }
                    }
                    .between {
                        opacity: 0;
                    }
                }
                .number-wrapper {
                    width: 100%;
                    height: 180px;
                    margin: 24px 0;

                    text-align: center;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .number {
                        font-size: 4em;
                        text-shadow: 0 8px 2px rgba(0, 0, 0, 0.6);
                        white-space: nowrap;

                        transition: 0.4s ease-in-out;
                        opacity: 0.1;

                        .press-start {
                            span {
                                font-size: 0.5em;
                                display: block;
                            }
                            span:not(:last-child) {
                                margin-bottom: 6px;
                            }
                        }
                    }
                }

                .message {
                    width: 100%;
                    height: 48px;

                    text-align: center;
                    font-size: 1.2em;
                    white-space: nowrap;
                    text-shadow: 0 6px 2px rgba(0, 0, 0, 0.6);
                    text-align: center;

                    transition: 0.4s ease-in-out;
                    opacity: 0.1;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .rules {
                        span {
                            font-size: 0.6em;
                            display: block;
                        }
                        span:not(:last-child) {
                            margin-bottom: 4px;
                        }
                    }
                }
            }

            .controls {
                background: $yellow-color;
                width: 100%;
                height: 100px;
                padding: 12px 24px;
                border-radius: 4px;
                box-shadow: inset 0 1px 2px 1px rgba(255, 181, 20, 1), inset 0 -2px 4px 0 rgba(255, 181, 20, 0.6),
                    inset 0 0 4px 4px rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(120, 80, 10, 0.8),
                    0 5px 0 0 rgba(120, 80, 10, 1), 0 10px 10px 2px rgba(0, 0, 0, 0.4),
                    0 10px 30px 4px rgba(0, 0, 0, 0.2);

                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 32px;

                .middle-btn-box {
                    width: 80px;
                    height: 60px;
                    margin-bottom: 10px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    row-gap: 6px;

                    .start,
                    .reset {
                        background: linear-gradient(180deg, rgba(40, 40, 40, 1), rgba(50, 50, 50, 1));
                        width: 100%;
                        height: 50%;
                        border: none;
                        border-radius: 6px;
                        box-shadow: inset 0 0 0 2px rgba(51, 51, 51, 1), 0 1px 0 1px rgba(100, 100, 100, 0.9),
                            0 4px 2px 0 rgba(0, 0, 0, 0.9), 0 4px 6px 2px rgba(0, 0, 0, 0.4);

                        color: $text-color-light;
                        font-size: 0.6em;
                        text-transform: uppercase;
                    }
                }
                .check,
                .start,
                .reset {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s ease-in-out;
                    cursor: pointer;
                }
                .check:hover,
                .start:hover,
                .reset:hover {
                    background: $winner-color;
                }

                .check,
                .guess {
                    background: $text-color-light;
                    width: 120px;
                    height: 48px;
                    margin-bottom: 10px;
                    border: none;
                    border-radius: 6px;
                    box-shadow: inset 0 0 0 3px rgba(51, 51, 51, 1), 0 1px 0 1px rgba(100, 100, 100, 0.9),
                        0 4px 2px 0 rgba(0, 0, 0, 0.9), 0 4px 6px 2px rgba(0, 0, 0, 0.4);

                    color: $text-color-dark;
                    font-size: 1em;
                    text-transform: uppercase;
                }
                .guess {
                    padding: 5px 15px 5px 30px;
                    outline: none;

                    font-size: 1em;
                    text-align: center;
                }
                .guess::placeholder {
                    color: $text-color-dark;
                }
                .guess::-webkit-inner-spin-button,
                .guess::-webkit-outer-spin-button {
                    opacity: 1;
                }
            }
        }
        .guess-my-number.active {
            .screen {
                .number-wrapper {
                    .number {
                        font-size: 4em;
                        opacity: 1;
                    }
                }
                .number,
                .message,
                .scores-container {
                    opacity: 1;
                    .between {
                        opacity: 1;
                    }
                }
                .controls {
                    .check,
                    .reset,
                    .start {
                        background: $invalid-color;
                    }
                }
            }
        }

        .guess-my-number.invalid {
            border: 4px solid $invalid-color;
            animation: shake 250ms;

            .screen {
                color: $invalid-color;
                .number,
                .message,
                .scores-container p {
                    animation: shake 250ms;
                }
            }
        }

        @keyframes shake {
            25% {
                transform: translateX(6px);
            }
            50% {
                transform: translateX(-6px);
            }
            75% {
                transform: translateX(6px);
            }
            100% {
                transform: translateX(-6px);
            }
        }
        .guess-my-number.winner {
            background: $winner-color;
            .tittle {
                opacity: 0.1;
            }
            .screen {
                color: $text-color-light;
                .scores-container {
                    opacity: 0.1;
                }
                .number-wrapper {
                    .number {
                        transform: scale(2);
                    }
                }
                .message {
                    transform: scale(1.4);
                }
            }
            .controls {
                opacity: 0.1;
            }
        }
        .guess-my-number.loser {
            background: $invalid-color;
            .tittle {
                opacity: 0.1;
            }
            .screen {
                color: $text-color-light;
                .scores-container {
                    opacity: 0.1;
                }
                .number-wrapper {
                    .number {
                        transform: scale(2);
                    }
                }
                .message {
                    transform: scale(1.4);
                }
            }
            .controls {
                opacity: 0.1;
            }
        }
    }
    footer {
        .legal-wrapper {
            .legal-content {
                .lega-links {
                    border-top: 1px solid var(--primary-color-light);
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    body {
        main {
            .guess-my-number {
                transform: scale(0.8);
            }
        }
    }
}

@media only screen and (max-width: 560px) {
    body {
        main {
            .guess-my-number {
                transform: scale(0.6);
            }
        }
    }
}
