@use "foundation/main";
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Orbitron&family=Patrick+Hand&family=Roboto:wght@100;300;400;500;700;900&display=swap");
$pencil-color: rgba(54, 54, 54, 0.8);
$primary-color: rgb(82, 82, 82);
$default-width: 480px;
$primary-pattern: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
$primary-black: rgba(25, 25, 25, 1);
$primary-white: rgba(248, 248, 248, 1);
$primary-point-color: rgba(130, 130, 130, 1);

body {
    background: var(--primary-color-yellow);
    background-color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .todo-list {
            position: relative;
            width: $default-width;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            box-shadow: 16px 20px 12px -8px rgba(0, 0, 0, 0.6), 20px 24px 20px -6px rgba(160, 160, 160, 0.1);

            .el-container {
                position: relative;
                z-index: 8888;

                background-color: $primary-point-color;
                background-image: $primary-pattern;
                width: 100%;
                padding: 50px 18px 18px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                box-shadow: 0 1px 1px 0 rgba(160, 160, 160, 0.4), inset -1px 0 1px 0 rgba(160, 160, 160, 0.4),
                    0 3px 3px 0 rgba(0, 0, 0, 0.4), 0 7px 7px 0 rgba(0, 0, 0, 0.4);

                .tittle {
                    margin-bottom: 18px;
                    color: rgba(255, 255, 255, 1);
                    line-height: 1.3;

                    .project-name {
                        span {
                            font-size: 0.7rem;
                            font-weight: 400;
                        }
                    }

                    .tittle-name {
                        h1 {
                            color: rgba(255, 255, 255, 1);
                            font-size: 2.4rem;
                            font-weight: 700;
                        }
                        span {
                            font-size: 0.9rem;
                            font-weight: 400;
                        }
                    }
                }

                .task-nav {
                    position: relative;

                    .task-input {
                        position: relative;
                        height: 52px;
                        input {
                            background: #fff;
                            width: 100%;
                            height: 100%;
                            padding: 0 20px 0 53px;
                            border: none;
                            border-radius: 5px;
                            box-shadow: 0 -1px 0px 0 rgba(160, 160, 160, 0.4), inset 0 3px 3px 0 rgba(0, 0, 0, 0.4);
                            font-size: 18px;

                            :focus {
                                outline: #3c87ff;
                                color: #3c87ff;
                            }
                        }
                        input::placeholder {
                            color: #bfbfbf;
                        }
                        i {
                            position: absolute;
                            top: 50%;
                            transform: translate(17px, -50%);
                        }
                    }
                }
                .controls {
                    margin-top: 18px;
                    color: #fff;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .fillters {
                        span {
                            // color: rgba(153, 153, 153, 1);
                            color: #fff;
                            font-size: 1rem;
                            font-weight: 400;
                            padding: 4px 8px;
                            margin: 0 8px;
                            transition: 0.4s ease-in-out;
                            border: 2px dashed rgba(100, 100, 100, 1);
                            border-radius: 4px;
                            cursor: pointer;
                        }
                        span:first-child {
                            margin-left: 0;
                        }
                        span.active {
                            color: #fff;
                            box-shadow: 0 5px 10px rgba(14, 21, 37, 0.6);
                        }
                    }

                    .clear-btn {
                        background: transparent;
                        // color: rgba(153, 153, 153, 1);
                        color: #fff;
                        font-size: 1rem;
                        padding: 4px 8px;
                        border: 2px dashed rgba(110, 110, 110, 1);
                        border-radius: 4px;
                        outline: none;
                        transition: 0.4s ease-in-out;
                        cursor: pointer;
                    }
                    .clear-btn:hover {
                        color: #fff;
                        box-shadow: 0 5px 10px rgba(14, 21, 37, 0.6);
                    }
                }
            }
            // top upper accessory
            .el-container::before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);

                background: linear-gradient(0deg, rgba(60, 60, 60, 1) 0%, rgba(30, 30, 30, 1) 100%);
                width: calc((100% + 4px));
                height: 30px;
                border-bottom: 1px dashed rgba(153, 153, 153, 1);
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                box-shadow: inset 0 1px 1px 0 rgba(160, 160, 160, 0.4), inset -1px 0 1px 0 rgba(160, 160, 160, 0.4);
            }
            // lower upper accessory
            .el-container::after {
                content: "";
                position: absolute;
                top: 31px;
                left: 50%;
                transform: translateX(-50%);

                background: linear-gradient(180deg, rgba(60, 60, 60, 1) 0%, rgba(30, 30, 30, 1) 100%);
                width: calc((100% + 4px));
                height: 10px;
                box-shadow: inset 0 -1px 1px 0 rgba(160, 160, 160, 0.4), inset -1px 0 1px 0 rgba(160, 160, 160, 0.4),
                    0 5px 5px rgba(20, 20, 20, 0.8);
            }
            .lists-container {
                // background: #fff;
                background: linear-gradient(
                    45deg,
                    rgba(253, 255, 138, 1) 0%,
                    rgba(254, 255, 194, 1) 30%,
                    rgba(254, 255, 194, 1) 70%,
                    rgba(253, 255, 138, 1) 100%
                );
                width: calc(100% - 2px);
                margin: 0 auto;
                z-index: 9999;

                .task-box {
                    position: relative;
                    padding: 20px 25px;

                    .task {
                        height: 36px;
                        font-size: 1rem;
                        border-bottom: 2px solid rgba(97, 221, 255, 0.4);
                        list-style: none;

                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        label {
                            display: flex;
                            input {
                                margin: auto 60px auto 24px;
                            }
                            p {
                                color: $pencil-color;
                                font-family: "Handlee", cursive;
                                font-size: 1.2rem;
                            }
                            p.checked {
                                text-decoration: line-through;
                            }
                        }
                        .settings {
                            color: $pencil-color;
                            position: relative;
                            margin-right: 24px;
                            cursor: pointer;

                            .task-menu {
                                background: #fff;
                                position: absolute;
                                right: -5px;
                                bottom: -55px;
                                padding: 5px 0;
                                border-radius: 5px;
                                box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);

                                transition: transform 0.2s ease;
                                transform: scale(0);
                                transform-origin: top right;
                                z-index: 999;

                                li {
                                    height: 25px;
                                    padding: 17px 15px;
                                    margin-bottom: 2px;

                                    font-size: 16px;

                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;

                                    i {
                                        padding-right: 8px;
                                    }
                                }
                                li:last-child {
                                    margin-bottom: 0;
                                }
                                li:hover {
                                    background: #f5f5f5;
                                }
                            }
                            .task-menu.show {
                                transform: scale(1);
                            }
                        }
                    }
                    .task:last-child {
                        margin-bottom: 0;
                        padding-bottom: 0;
                        border-bottom: 0;
                    }
                    .no-task {
                        color: $pencil-color;
                        font-family: "Handlee", cursive;
                        font-size: 1.2rem;
                        margin-left: 98px;
                    }
                }
                // list red and blue lines
                .task-box:before {
                    content: "";
                    background: rgba(214, 0, 0, 0.4);
                    position: absolute;
                    top: 0;
                    left: 90px;
                    width: 1px;
                    height: 100%;
                }
                .task-box:after {
                    content: "";
                    background: rgba(214, 0, 0, 0.4);
                    position: absolute;
                    top: 0;
                    left: 93px;
                    width: 1px;
                    height: 100%;
                }
            }
            // bottom end accessory
            .list-bottom-end {
                background-color: $primary-point-color;
                background-image: $primary-pattern;
                width: 100%;
                height: 30px;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                box-shadow: inset -1px 0 1px 0 rgba(160, 160, 160, 0.4), 0 1px 0 0 rgba(160, 160, 160, 0.4),
                    0 -3px 3px 0 rgba(0, 0, 0, 0.3), 0 -8px 8px 0 rgba(0, 0, 0, 0.2);

                display: block;
                z-index: 888;
            }
        }
    }
    footer {
        .legal-wrapper {
            .legal-content {
                .lega-links {
                    border-top: 1px solid var(--primary-color-light);
                }
            }
        }
    }
}

@media only screen and (max-width: 60rem) {
    body {
        main {
            .todo-list {
                transform: scale(0.8);
            }
        }
    }
}

@media only screen and (max-width: 35rem) {
    body {
        main {
            .todo-list {
                transform: scale(0.6);
            }
        }
    }
}
