@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  text-align: left;
  --primary-color-dark: rgba(25, 25, 25, 1);
  --primary-color-light: rgba(255, 255, 255, 1);
  --primary-color-yellow: rgba(255, 194, 41, 1);
  --primary-color-gray: rgba(160, 160, 160, 1);
  --success-color-green: rgb(104, 241, 99);
  --logo-size: 1.4rem;
  --nav-height-l: 3.125rem;
  --nav-height-m: 2.5rem;
  --footer-height-l: 2.5rem;
  --footer-height-m: 1.875rem;
  --max-w-1920: 1920px;
  --max-w-960: 960px;
  --max-w-540: 540px;
  --min-w-360: 360px;
  --space-5: 0.3125rem;
  --space-7h: 0.46875rem;
  --space-10: 0.625rem;
  --space-15: 0.9375rem;
  --space-20: 1.25rem;
  --space-30: 1.875rem;
  --space-40: 2.5rem;
  --space-50: 3.125rem;
  --space-60: 3.75rem;
  --space-70: 4.375rem;
  --space-80: 5rem;
  --space-90: 5.625rem;
  --space-100: 6.25rem;
  --space-120: 7.5rem;
  --space-140: 8.75rem;
  --space-160: 10rem;
  --radius-4: 4px;
  --radius-8: 8px;
  --default-text-align: left;
  --font-weight-300: 300;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-800: 800;
  --font-size-10: 0.625rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.8125rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.375rem;
  --font-size-24: 1.5rem;
  --font-size-26: 1.625rem;
  --font-size-27: 1.6875rem;
  --font-size-28: 1.75rem;
  --font-size-32: 2rem;
  --font-size-40: 2.5rem;
  --font-size-42: 2.625rem;
  --font-size-48: 3rem;
  --font-size-60: 3.75rem;
  --font-size-64: 4rem;
  --font-size-80: 5rem;
  --font-size-96: 7.875rem;
  --font-size-128: 8rem;
}

html,
body {
  overflow-x: hidden;
}

html {
  background: var(--primary-color-dark);
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  width: inherit;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.max-width-bander {
  width: 100%;
  max-width: var(--max-w-1920);
  padding-left: var(--space-80);
  padding-right: var(--space-80);
}

.grid-12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
}

.col-gap-20 {
  -webkit-column-gap: var(--space-40);
          column-gap: var(--space-40);
}

.col-gap-40 {
  -webkit-column-gap: var(--space-80);
          column-gap: var(--space-80);
}

.icon-size-20 {
  font-size: var(--font-size-24);
}

.title-xs,
.title-s,
.title-l,
.title-xl {
  display: block;
  white-space: nowrap;
}

.title-xl {
  font-size: var(--font-size-128);
  line-height: 0.85;
  font-weight: 800;
}

.title-l {
  text-transform: uppercase;
  line-height: 0.85;
  font-size: var(--font-size-80);
  font-weight: 700;
}

.title-m {
  font-size: var(--font-size-18);
}

.title-s {
  font-size: var(--font-size-14);
}

.title-xs {
  font-size: var(--font-size-12);
}

.subtitle {
  color: var(--primary-color-gray);
  font-size: var(--font-size-24);
  font-weight: 500;
}

.outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: inherit;
  -webkit-text-stroke-width: 2px;
}

.emph-color {
  color: var(--primary-color-yellow);
}

.section-link-btn {
  color: inherit;
  white-space: nowrap;
}

.section-link-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-link-btn {
  line-height: 0.85;
}

.section-link-btn a,
.section-link-btn span {
  display: block;
}

.section-link-btn a {
  cursor: pointer;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-600);
  text-transform: uppercase;
}

.section-link-btn a:hover {
  background: var(--primary-color-yellow);
}

.section-link-btn span {
  font-size: var(--font-size-12);
  margin-bottom: var(--space-5);
}

#back-to-top {
  position: fixed;
  bottom: var(--space-60);
  right: var(--space-20);
  background: var(--primary-color-light);
  padding: 1rem;
  border: none;
  border-radius: var(--radius-4);
  -webkit-box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  color: var(--primary-color-dark);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-500);
}

#back-to-top:hover {
  background-color: var(--primary-color-yellow);
  padding: 1rem 3rem;
}

#back-to-top.visible {
  visibility: visible;
  opacity: 1;
  z-index: 9999;
}

.details {
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.query-visible {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.visible {
  display: block;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.query-visible {
  visibility: hidden;
  opacity: 0;
  z-index: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8899;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  opacity: 90%;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.reveal {
  position: relative;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  visibility: hidden;
  opacity: 0;
}

.reveal.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}

.scroll-down .global-header {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.scroll-up .global-header {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body {
  padding-top: var(--space-50);
  position: relative;
}

body .global-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: var(--primary-color-dark);
  width: inherit;
}

body .global-nav .nav-contents {
  position: relative;
  height: var(--nav-height-l);
  color: var(--primary-color-light);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .global-nav .nav-contents .logo,
body .global-nav .nav-contents .nav-links,
body .global-nav .nav-contents .nav-menu-btn {
  -ms-grid-row: 1;
  grid-row: 1;
}

body .global-nav .nav-contents .logo {
  -ms-grid-column: 1;
  grid-column: 1;
  font-size: var(--logo-size);
  font-weight: var(--font-weight-800);
}

body .global-nav .nav-contents .nav-links {
  grid-column: -1 / span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: var(--space-40);
          column-gap: var(--space-40);
}

body .global-nav .nav-contents .nav-links a {
  padding: 0.5rem 0;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-600);
  text-transform: uppercase;
}

body .global-nav .nav-contents .nav-links a:hover {
  color: var(--primary-color-yellow);
}

body .global-nav .nav-contents .nav-menu-btn {
  position: relative;
  width: var(--space-40);
  height: var(--space-40);
  grid-column: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body .global-nav .nav-contents .nav-menu-btn .btn-top,
body .global-nav .nav-contents .nav-menu-btn .btn-bottom,
body .global-nav .nav-contents .nav-menu-btn .btn-middle {
  position: absolute;
  background: var(--primary-color-light);
  width: 70%;
  height: 2px;
  border-radius: 4px;
}

body .global-nav .nav-contents .nav-menu-btn .btn-top {
  left: 15%;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

body .global-nav .nav-contents .nav-menu-btn .btn-top.open {
  -webkit-transform: translateX(0) rotate(-45deg);
          transform: translateX(0) rotate(-45deg);
}

body .global-nav .nav-contents .nav-menu-btn .btn-middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .global-nav .nav-contents .nav-menu-btn .btn-middle.open {
  -webkit-transform: scale(0);
          transform: scale(0);
}

body .global-nav .nav-contents .nav-menu-btn .btn-bottom {
  right: 15%;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

body .global-nav .nav-contents .nav-menu-btn .btn-bottom.open {
  -webkit-transform: translateX(0) rotate(45deg);
          transform: translateX(0) rotate(45deg);
}

body .global-footer {
  width: inherit;
  background: var(--primary-color-dark);
}

body .global-footer .legal-contents {
  padding-bottom: var(--space-5);
}

body .global-footer .legal-contents .lega-links {
  height: var(--footer-height-l);
  color: var(--primary-color-light);
  font-weight: var(--font-weight-300);
  border-top: 1px solid var(--primary-color-light);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .global-footer .legal-contents .lega-links .legal-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  display: block;
}

body .global-footer .legal-contents .lega-links .legal-right {
  grid-column: -1 / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: var(--space-40);
          column-gap: var(--space-40);
}

@media only screen and (max-width: 60rem) {
  :root {
    font-size: 15px;
    line-height: 1.5;
  }
  .max-width-bander {
    padding-left: var(--space-30);
    padding-right: var(--space-30);
  }
  .grid-12 {
    -webkit-column-gap: var(--space-30);
            column-gap: var(--space-30);
  }
  .query-visible {
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }
  .section-link-btn a {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-800);
  }
  .section-link-btn span {
    font-size: var(--font-size-12);
  }
  html .global-nav .nav-links {
    position: fixed;
    top: 0;
    right: -240px;
    background: var(--primary-color-yellow);
    width: 240px;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }
  html .global-nav .nav-links.open {
    right: 0;
  }
  html .global-nav .nav-menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 35rem) {
  :root {
    font-size: 14px;
    line-height: 1.25;
  }
  .max-width-bander {
    padding-left: var(--space-20);
    padding-right: var(--space-20);
  }
  .grid-12 {
    -webkit-column-gap: var(--space-20);
            column-gap: var(--space-20);
  }
  .section-link-btn span {
    font-size: var(--font-size-12);
    margin-bottom: var(--space-5);
  }
  .section-link-btn a {
    font-size: var(--font-size-20);
  }
  .section-link-btn a {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-800);
  }
  .section-link-btn span {
    font-size: var(--font-size-10);
  }
  .title-xl {
    font-size: var(--font-size-48);
    line-height: 0.85;
    font-weight: 800;
  }
  .title-l {
    text-transform: uppercase;
    line-height: 0.85;
    font-size: var(--font-size-40);
    font-weight: 700;
  }
  .subtitle {
    font-size: 1.5rem;
    font-weight: 500;
  }
  html .global-nav .nav-links {
    right: -200px;
    width: 200px;
  }
  html .global-nav .nav-links.open {
    right: 0;
  }
}
/*# sourceMappingURL=main.css.map */