:root {
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.3125;
    text-align: left;

    --primary-color-dark: rgba(25, 25, 25, 1);
    --primary-color-light: rgba(255, 255, 255, 1);
    --primary-color-yellow: rgba(255, 194, 41, 1);
    --primary-color-gray: rgba(160, 160, 160, 1);
    --success-color-green: rgb(104, 241, 99);

    --logo-size: 1.4rem;
    --nav-height-l: 3.125rem;
    --nav-height-m: 2.5rem;
    --footer-height-l: 2.5rem;
    --footer-height-m: 1.875rem;

    --max-w-1440: 1440px;
    --max-w-960: 960px;
    --max-w-540: 540px;
    --min-w-360: 360px;
    --space-5: 0.3125rem;
    --space-7h: 0.46875rem;
    --space-10: 0.625rem;
    --space-15: 0.9375rem;
    --space-20: 1.25rem;
    --space-30: 1.875rem;
    --space-40: 2.5rem;
    --space-50: 3.125rem;
    --space-60: 3.75rem;
    --space-70: 4.375rem;
    --space-80: 5rem;
    --space-90: 5.625rem;
    --space-100: 6.25rem;
    --space-120: 7.5rem;
    --space-140: 8.75rem;
    --space-160: 10rem;
    --radius-4: 4px;
    --radius-8: 8px;
    --font-weight-300: 300;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-800: 800;
    --font-size-18: 1.125rem;
    --font-size-14: 0.875rem;
    --font-size-12: 0.75rem;
    --default-text-align: left;
}
html,
body {
    overflow-x: hidden;
}
html {
    background: var(--primary-color-dark);
    width: 100%;
    min-height: 100%;
}
body {
    width: inherit;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.4s ease-in-out;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.max-width-bander {
    width: 100%;
    max-width: var(--max-w-1440);
    min-width: var(--min-w-360);
    padding-left: var(--space-20);
    padding-right: var(--space-20);
    margin: 0 auto;
}
.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--space-40);
}
.title-xs,
.title-s,
.title-l,
.title-xl {
    white-space: nowrap;
}
.title-xl {
    font-size: 6rem;
    font-weight: 800;
}
.title-l {
    font-size: 3rem;
    font-weight: 700;
}
.title-m {
    font-size: var(--font-size-18);
}
.title-s {
    font-size: var(--font-size-14);
}
.title-xs {
    font-size: var(--font-size-12);
}
.subtitle {
    font-size: 1.5rem;
    font-weight: 500;
}
.outline {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: inherit;
    -webkit-text-stroke-width: 2px;
}
.emph-color {
    color: var(--primary-color-yellow);
}
.details {
    overflow-wrap: break-word;
    hyphens: auto;
}
.query-visible {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
.visible {
    // display: none;
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8899;

    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(3px);

    opacity: 90%;
    transition: 0.4s all ease-in-out;
    &.hidden {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}
.reveal {
    position: relative;
    transition: 0.2s ease-in;
    transform: translateY(4px);
    visibility: hidden;
    opacity: 0;
    &.active {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }
}

.scroll-down .global-header {
    // transform: translate3d(0, -100%, 0);
    transform: translateY(-100%);
}
.scroll-up .global-header {
    // filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
    transform: translateY(0);
}

.section-link-wrapper {
    width: 100%;
    display: flex;
    .section-link-btn {
        width: 180px;
        height: 48px;
        border-radius: var(--radius-4);

        font-size: var(--font-size-14);
        font-weight: var(--font-weight-500);
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: var(--primary-color-yellow);
        }
    }
}
#back-to-top {
    position: fixed;
    bottom: var(--space-60);
    right: var(--space-20);

    background: var(--primary-color-yellow);
    padding: 1rem;
    border: none;
    border-radius: var(--radius-4);
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;

    visibility: hidden;
    opacity: 0;
    z-index: -1;

    color: var(--primary-color-light);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-500);

    &:hover {
        background-color: crimson;
        padding: 1rem 3rem;
    }
    &.visible {
        visibility: visible;
        opacity: 1;
        z-index: 9999;
    }
}

body {
    padding-top: var(--space-50);
    nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;

        background: var(--primary-color-dark);
        width: inherit;

        .max-width-bander {
            position: relative;
            height: var(--nav-height-l);
            color: var(--primary-color-light);

            display: flex;
            justify-content: space-between;
            align-items: center;

            // animation-name: header_in;
            // animation-duration: 0.7s;
            // animation-timing-function: ease-in;
            // animation-fill-mode: forwards;
            .logo {
                font-size: var(--logo-size);
                font-weight: var(--font-weight-800);
            }
            .nav-links-bander {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: var(--space-40);
                a {
                    padding: 0.5rem 0;
                    font-size: var(--font-size-12);
                    font-weight: var(--font-weight-500);
                    text-transform: uppercase;
                    white-space: nowrap;
                    &:hover {
                        color: var(--primary-color-yellow);
                    }
                }
            }

            .nav-btn-bander {
                position: absolute;
                right: var(--space-20);
                width: 30px;
                height: 30px;

                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;

                .btn-top,
                .btn-bottom,
                .btn-middle {
                    position: absolute;
                    background: var(--primary-color-light);
                    width: 70%;
                    height: 2px;
                    border-radius: 4px;
                }
                .btn-top {
                    left: 15%;
                    transform: translateY(5px);
                    &.open {
                        transform: translateX(0) rotate(-45deg);
                    }
                }
                .btn-middle {
                    top: 50%;
                    transform: translateY(-50%);
                    &.open {
                        transform: scale(0);
                    }
                }
                .btn-bottom {
                    right: 15%;
                    transform: translateY(-5px);
                    &.open {
                        transform: translateX(0) rotate(45deg);
                    }
                }
            }
        }
    }
    footer {
        width: inherit;
        .legal-wrapper {
            background: var(--primary-color-dark);
            width: inherit;
            .legal-content {
                padding-bottom: var(--space-5);
                .lega-links {
                    height: var(--footer-height-l);
                    color: var(--primary-color-light);
                    font-weight: var(--font-weight-300);
                    // border-top: 1px solid var(--primary-color-light);

                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .legal-left {
                        display: block;
                    }
                    .legal-right {
                        display: flex;
                        column-gap: var(--space-40);
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 960px) {
    :root {
        font-size: 14px;
        text-align: center;
    }

    .query-visible {
        visibility: visible;
        opacity: 1;
        z-index: 1;
    }
    .max-width-bander {
        max-width: var(--max-w-960);
        padding-left: var(--space-15);
        padding-right: var(--space-15);
    }
    .grid-12 {
        column-gap: var(--space-30);
    }
    body {
        nav {
            .nav-links-bander {
                position: fixed;
                top: 0;
                right: -240px;

                background: crimson;
                width: 240px;
                height: 100vh;
                flex-direction: column;
                visibility: visible;
                opacity: 1;
                z-index: 1;
                &.open {
                    right: 0;
                }
            }
            .nav-btn-bander {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    // footer {
    //     .information-wrapper {
    //         padding: var(--space-80) 0 var(--space-120);
    //         // &::before {
    //         //     display: none;
    //         // }
    //         .information-content {
    //             .details {
    //                 grid-column: 1 / span 12;
    //                 gap: var(--space-30);
    //                 align-items: center;
    //                 .email,
    //                 .location,
    //                 .media {
    //                     display: flex;
    //                     align-items: center;
    //                     flex-direction: column;
    //                 }
    //             }
    //         }
    //     }
    // }
}
@media only screen and (max-width: 560px) {
    :root {
        font-size: 14px;
    }
    .max-width-bander {
        padding-left: var(--space-10);
        padding-right: var(--space-10);
    }
    .grid-12 {
        column-gap: var(--space-20);
    }
    .title-xl {
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.3;
    }
    .title-l {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.1;
    }
    .subtitle {
        font-size: 1.5rem;
        font-weight: 500;
    }
    body {
        nav {
            .nav-links-bander {
                right: -200px;
                width: 200px;
                &.open {
                    right: 0;
                }
            }
        }
    }
    // footer {
    //     .information-wrapper {
    //         padding: var(--space-60) 0 var(--space-80);
    //         .information-content {
    //             .details {
    //                 gap: var(--space-30);
    //             }
    //         }
    //     }
    // }
}
