@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.85;
  --primary-color-dark: rgba(25, 25, 25, 1);
  --primary-color-light: rgba(255, 255, 255, 1);
  --primary-color-yellow: rgba(255, 194, 41, 1);
  --primary-color-gray: rgba(160, 160, 160, 1);
  --primary-color-dark-gray: rgba(100, 100, 100, 1);
  --success-color-green: rgb(104, 241, 99);
  --logo-size: 1.4rem;
  --nav-height-l: 3.125rem;
  --nav-height-m: 2.5rem;
  --footer-height-l: 2.5rem;
  --footer-height-m: 1.875rem;
  --max-w-1920: 120rem;
  --max-w-1440: 90rem;
  --max-w-960: 60rem;
  --max-w-540: 35rem;
  --min-w-360: 360px;
  --space-5: 0.3125rem;
  --space-6: 0.375rem;
  --space-7h: 0.46875rem;
  --space-8: 0.5rem;
  --space-10: 0.625rem;
  --space-12: 0.75rem;
  --space-15: 0.9375rem;
  --space-20: 1.25rem;
  --space-24: 1.5rem;
  --space-25: 1.5625rem;
  --space-30: 1.875rem;
  --space-40: 2.5rem;
  --space-48: 3rem;
  --space-50: 3.125rem;
  --space-60: 3.75rem;
  --space-70: 4.375rem;
  --space-80: 5rem;
  --space-90: 5.625rem;
  --space-100: 6.25rem;
  --space-120: 7.5rem;
  --space-140: 8.75rem;
  --space-150: 9.375rem;
  --space-160: 10rem;
  --radius-4: 4px;
  --radius-8: 8px;
  --font-weight-300: 300;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-800: 800;
  --font-size-10: 0.625rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.8125rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.375rem;
  --font-size-24: 1.5rem;
  --font-size-26: 1.625rem;
  --font-size-27: 1.6875rem;
  --font-size-28: 1.75rem;
  --font-size-30: 1.875rem;
  --font-size-32: 2rem;
  --font-size-36: 2.25rem;
  --font-size-40: 2.5rem;
  --font-size-42: 2.625rem;
  --font-size-48: 3rem;
  --font-size-54: 3.375rem;
  --font-size-60: 3.75rem;
  --font-size-64: 4rem;
  --font-size-72: 4.5rem;
  --font-size-80: 5rem;
  --font-size-90: 5.625rem;
  --font-size-96: 6rem;
  --font-size-108: 6.75rem;
  --font-size-126: 7.875rem;
  --font-size-128: 8rem;
  --font-size-144: 9rem;
}

html,
body {
  min-height: 100vh;
}

html {
  width: 100%;
}

body {
  overflow-x: hidden;
  width: inherit;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  cursor: pointer;
}

.max-width-bander {
  width: 100%;
  max-width: var(--max-w-1440);
  padding-left: var(--space-80);
  padding-right: var(--space-80);
}

.grid-12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
}

.col-gap-20 {
  -webkit-column-gap: var(--space-40);
          column-gap: var(--space-40);
}

.col-gap-40 {
  -webkit-column-gap: var(--space-80);
          column-gap: var(--space-80);
}

.icon-size-20 {
  font-size: var(--font-size-24);
}

.title-xs,
.title-s,
.title-l,
.title-xl {
  white-space: nowrap;
}

.title-xl {
  font-size: var(--font-size-108);
  line-height: 0.85;
  font-weight: 800;
}

.title-l {
  text-transform: uppercase;
  line-height: 0.85;
  font-size: var(--font-size-72);
  font-weight: 700;
}

.title-m {
  font-size: var(--font-size-18);
}

.title-s {
  font-size: var(--font-size-14);
}

.title-xs {
  font-size: var(--font-size-12);
}

.subtitle {
  white-space: nowrap;
  line-height: 0.85;
  font-size: var(--font-size-36);
  font-weight: 500;
}

.outline-s, .outline-m, .outline-l {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: inherit;
}

.outline-s {
  -webkit-text-stroke-width: 1px;
}

.outline-m {
  -webkit-text-stroke-width: 2px;
}

.outline-l {
  -webkit-text-stroke-width: 4px;
}

.emph-color {
  color: var(--primary-color-yellow);
}

.disabled-anchor {
  pointer-events: none;
  cursor: default;
}

.scrollTop-btn {
  position: fixed;
  bottom: var(--space-80);
  right: var(--space-40);
  color: var(--primary-color-light);
  font-size: var(--font-size-32);
}

.contact-link {
  background-color: var(--primary-color-yellow);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: var(--space-48);
  padding: 0 1rem;
  border-radius: 4px;
  -webkit-box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -4px, #cd9a1f 0 -4px 0 inset;
          box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -4px, #cd9a1f 0 -4px 0 inset;
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color-dark);
  font-size: var(--font-size-24);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: -webkit-box-shadow 0.15s, -webkit-transform 0.15s;
  transition: -webkit-box-shadow 0.15s, -webkit-transform 0.15s;
  transition: box-shadow 0.15s, transform 0.15s;
  transition: box-shadow 0.15s, transform 0.15s, -webkit-box-shadow 0.15s, -webkit-transform 0.15s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  will-change: box-shadow, transform;
}

.contact-link:focus {
  -webkit-box-shadow: #cd9a1f 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -4px, #cd9a1f 0 -4px 0 inset;
          box-shadow: #cd9a1f 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -4px, #cd9a1f 0 -4px 0 inset;
}

.contact-link:hover {
  -webkit-box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -4px, #cd9a1f 0 -4px 0 inset;
          box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -4px, #cd9a1f 0 -4px 0 inset;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.contact-link:active {
  -webkit-box-shadow: #cd9a1f 0 4px 7px inset;
          box-shadow: #cd9a1f 0 4px 7px inset;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#back-to-top {
  position: fixed;
  bottom: var(--space-60);
  right: var(--space-20);
  background: var(--primary-color-light);
  padding: 1rem;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  color: var(--primary-color-dark);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-500);
}

#back-to-top:hover {
  background-color: var(--primary-color-yellow);
}

#back-to-top.visible {
  visibility: visible;
  opacity: 1;
  z-index: 9999;
}

.query-visible {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.visible {
  display: block;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.query-visible {
  visibility: hidden;
  opacity: 0;
  z-index: 0;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8899;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  opacity: 90%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.reveal {
  position: relative;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  visibility: hidden;
  opacity: 0;
}

.reveal.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}

.scroll-down .global-header {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.scroll-up .global-header {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body {
  position: relative;
}

.global-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: var(--primary-color-dark);
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.global-nav .nav-contents {
  position: relative;
  height: var(--nav-height-l);
  color: var(--primary-color-light);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.global-nav .nav-contents .logo,
.global-nav .nav-contents .nav-links,
.global-nav .nav-contents .nav-menu-btn {
  -ms-grid-row: 1;
  grid-row: 1;
}

.global-nav .nav-contents .logo {
  -ms-grid-column: 1;
  grid-column: 1;
  font-size: var(--logo-size);
  font-weight: var(--font-weight-800);
}

.global-nav .nav-contents .nav-links {
  grid-column: -1 / span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--space-40);
}

.global-nav .nav-contents .nav-links a {
  line-height: 0.85;
  padding: var(--space-8) 0;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-600);
  text-transform: uppercase;
}

.global-nav .nav-contents .nav-links a:hover {
  color: var(--primary-color-yellow);
}

.global-nav .nav-contents .nav-menu-btn {
  position: relative;
  width: var(--space-40);
  height: var(--space-40);
  grid-column: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.global-nav .nav-contents .nav-menu-btn .btn-top,
.global-nav .nav-contents .nav-menu-btn .btn-bottom,
.global-nav .nav-contents .nav-menu-btn .btn-middle {
  position: absolute;
  background: var(--primary-color-light);
  width: 70%;
  height: 2px;
  border-radius: 4px;
}

.global-nav .nav-contents .nav-menu-btn .btn-top {
  left: 15%;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.global-nav .nav-contents .nav-menu-btn .btn-top.open {
  -webkit-transform: translateX(0) rotate(-45deg);
          transform: translateX(0) rotate(-45deg);
}

.global-nav .nav-contents .nav-menu-btn .btn-middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.global-nav .nav-contents .nav-menu-btn .btn-middle.open {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.global-nav .nav-contents .nav-menu-btn .btn-bottom {
  right: 15%;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.global-nav .nav-contents .nav-menu-btn .btn-bottom.open {
  -webkit-transform: translateX(0) rotate(45deg);
          transform: translateX(0) rotate(45deg);
}

.global-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--primary-color-dark);
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.global-footer .legal-contents {
  padding-bottom: var(--space-5);
}

.global-footer .legal-contents .legal-links {
  height: var(--footer-height-l);
  color: var(--primary-color-light);
  font-weight: var(--font-weight-300);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 60rem) {
  :root {
    font-size: 15px;
  }
  .query-visible {
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }
  .max-width-bander {
    padding-left: var(--space-30);
    padding-right: var(--space-30);
  }
  .grid-12 {
    -webkit-column-gap: var(--space-30);
            column-gap: var(--space-30);
  }
  .section-link-btn a {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-800);
  }
  .section-link-btn span {
    font-size: var(--font-size-12);
  }
  .title-xl {
    font-size: var(--font-size-90);
  }
  .title-l {
    font-size: var(--font-size-60);
  }
  .subtitle {
    font-size: var(--font-size-30);
  }
  .global-nav .nav-contents .nav-links {
    position: fixed;
    top: 0;
    right: -240px;
    z-index: 1;
    background: var(--primary-color-yellow);
    width: 240px;
    height: 100vh;
    padding: 0 var(--space-40);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: var(--space-20);
    visibility: visible;
    opacity: 1;
  }
  .global-nav .nav-contents .nav-links.open {
    right: 0;
  }
  .global-nav .nav-contents .nav-links a {
    padding: 0;
    font-size: var(--font-size-28);
  }
  .global-nav .nav-contents .nav-links a:hover {
    color: var(--primary-color-dark);
  }
  .global-nav .nav-menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 35rem) {
  :root {
    font-size: 14px;
  }
  .max-width-bander {
    padding-left: var(--space-20);
    padding-right: var(--space-20);
  }
  .grid-12 {
    -webkit-column-gap: var(--space-20);
            column-gap: var(--space-20);
  }
  .title-xl {
    font-size: var(--font-size-60);
  }
  .title-l {
    font-size: var(--font-size-48);
  }
  .subtitle {
    font-size: var(--font-size-24);
  }
  .section-link-btn span {
    font-size: var(--font-size-12);
    margin-bottom: var(--space-5);
  }
  .section-link-btn a {
    font-size: var(--font-size-20);
  }
  .section-link-btn a {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-800);
  }
  .section-link-btn span {
    font-size: var(--font-size-10);
  }
  .global-nav .nav-links {
    right: -200px;
    width: 200px;
  }
  .global-nav .nav-links.open {
    right: 0;
  }
}
/*# sourceMappingURL=main.css.map */