@use "foundation/main";
.title-l,
.subtitle {
  margin-bottom: var(--space-10);
}

.subtitle {
  color: var(--primary-color-gray);
}

@-webkit-keyframes header_in {
  from {
    /* top: -60px; */
  }
  to {
    /* top: 0px; */
    opacity: 1;
    visibility: visible;
  }
}

@keyframes header_in {
  from {
    /* top: -60px; */
  }
  to {
    /* top: 0px; */
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes home_in {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes home_in {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    visibility: visible;
    opacity: 1;
  }
}

body {
  background: url(../../images/home-imgs/gray_wall.jpg);
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  width: inherit;
  padding-top: var(--nav-height-l);
}

body header {
  width: inherit;
}

body header .home-wrapper {
  position: relative;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .home-wrapper .home-content {
  height: 90vh;
  color: var(--primary-color-light);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header .home-wrapper .home-content .title-xl {
  margin-bottom: var(--space-40);
  text-transform: uppercase;
}

body header .home-wrapper .home-content .section-link-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .home-wrapper .home-content .section-link-wrapper .section-link-btn {
  color: var(--primary-color-dark);
  background: var(--primary-color-yellow);
}

body main {
  width: inherit;
}

body main .about-wrapper {
  position: relative;
  z-index: 3;
  background: var(--primary-color-light);
  width: inherit;
  padding: var(--space-100) 0 var(--space-120);
}

body main .about-wrapper .about-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .about-wrapper .about-content .details,
body main .about-wrapper .about-content .section-link-wrapper {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / span 6;
  padding: 0 var(--space-40);
}

body main .about-wrapper .about-content .details {
  margin-bottom: var(--space-20);
}

body main .about-wrapper .about-content .section-link-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main .about-wrapper .about-content .section-link-wrapper .section-link-btn {
  background: var(--primary-color-dark);
  color: var(--primary-color-light);
}

body main .about-wrapper .about-content .image-wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

body main .about-wrapper .about-content .image-wrapper .image {
  max-height: 460px;
  border-radius: var(--radius-8);
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .about-wrapper .about-content .image-wrapper .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body main .service-wrapper {
  position: relative;
  z-index: 3;
  background: var(--primary-color-dark);
  width: inherit;
  padding: var(--space-40) 0 var(--space-60);
}

body main .service-wrapper::before, body main .service-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  background: var(--primary-color-dark);
  width: calc(100% + 2px);
  height: 60px;
}

body main .service-wrapper::before {
  top: -21px;
  -webkit-transform: rotate(-1.4deg);
          transform: rotate(-1.4deg);
  -webkit-box-shadow: 0 -1px 1px 0 rgba(160, 160, 160, 0.1), 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 -1px 1px 0 rgba(160, 160, 160, 0.1), 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
}

body main .service-wrapper::after {
  bottom: -21px;
  -webkit-transform: rotate(1.4deg);
          transform: rotate(1.4deg);
  -webkit-box-shadow: 0 2px 2px 0 rgba(160, 160, 160, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(160, 160, 160, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

body main .service-wrapper .service-content {
  text-align: var(--default-text-align);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .service-wrapper .service-content .details {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / span 5;
  padding: 0 var(--space-40);
  color: var(--primary-color-light);
  margin-bottom: var(--space-20);
}

body main .service-wrapper .service-content .cards-container {
  padding: 0 var(--space-40);
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6 / span 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--space-20);
}

body main .service-wrapper .service-content .cards-container .card {
  border: 1px solid var(--primary-color-yellow);
  padding: var(--space-20) 0;
  border-radius: var(--radius-8);
  color: var(--primary-color-light);
  min-width: 120px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .service-wrapper .service-content .cards-container .card i {
  background: var(--primary-color-yellow);
  padding: var(--space-20);
  border-radius: 50%;
  font-size: 2rem;
}

body main .service-wrapper .service-content .cards-container .card h2 {
  margin-top: var(--space-10);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-500);
  text-transform: uppercase;
}

body main .work-wrapper {
  position: relative;
  background: var(--primary-color-light);
  width: inherit;
  padding: var(--space-120) 0;
}

body main .work-wrapper .work-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .work-wrapper .work-content .details,
body main .work-wrapper .work-content .section-link-wrapper {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / span 6;
  padding: 0 var(--space-40);
}

body main .work-wrapper .work-content .details {
  margin-bottom: var(--space-20);
}

body main .work-wrapper .work-content .projects-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: var(--space-10);
}

body main .work-wrapper .work-content .projects-container .project {
  background: gainsboro;
  grid-row: span 4;
}

body main .work-wrapper .work-content .projects-container .project img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body main .work-wrapper .work-content .section-link-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main .work-wrapper .work-content .section-link-wrapper .section-link-btn {
  background: var(--primary-color-dark);
  color: var(--primary-color-light);
}

body main .information-wrapper {
  position: relative;
  background: var(--primary-color-dark);
  width: inherit;
  padding: var(--space-120) 0 var(--space-160);
}

body main .information-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: -21px;
  -webkit-transform: rotate(-1.4deg);
          transform: rotate(-1.4deg);
  background: inherit;
  width: calc(100% + 2px);
  height: 60px;
  -webkit-box-shadow: 0 -1px 1px 0 rgba(160, 160, 160, 0.1), 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 -1px 1px 0 rgba(160, 160, 160, 0.1), 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
}

body main .information-wrapper .information-content {
  color: var(--primary-color-light);
}

body main .information-wrapper .information-content .details {
  padding: 0 var(--space-40);
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: var(--space-60);
}

body main .information-wrapper .information-content .details h3 {
  margin-bottom: var(--space-20);
  text-transform: uppercase;
}

body main .information-wrapper .information-content .details .email h3,
body main .information-wrapper .information-content .details .email span,
body main .information-wrapper .information-content .details .location h3,
body main .information-wrapper .information-content .details .location span,
body main .information-wrapper .information-content .details .media h3,
body main .information-wrapper .information-content .details .media span {
  white-space: nowrap;
}

body main .information-wrapper .information-content .details .email h4,
body main .information-wrapper .information-content .details .location h4,
body main .information-wrapper .information-content .details .media h4 {
  margin-bottom: var(--space-10);
  font-weight: var(--font-weight-500);
  text-transform: uppercase;
}

body main .information-wrapper .information-content .details .email span,
body main .information-wrapper .information-content .details .location span,
body main .information-wrapper .information-content .details .media span {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-300);
}

body main .information-wrapper .information-content .details .media .icons-bander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: var(--space-40);
          column-gap: var(--space-40);
  margin-left: 1px;
}

body main .information-wrapper .information-content .details .media .icons-bander i {
  font-size: 1.5rem;
}

body footer .legal-wrapper .legal-content .lega-links {
  border-top: 1px solid var(--primary-color-light);
}

@media only screen and (max-width: 960px) {
  .title-l,
  .subtitle {
    margin-bottom: var(--space-7h);
  }
  body header .home-wrapper .home-content {
    height: 60vh;
  }
  body main .about-wrapper {
    padding: var(--space-60) 0 var(--space-90);
  }
  body main .about-wrapper .about-content .details,
  body main .about-wrapper .about-content .image-wrapper,
  body main .about-wrapper .about-content .btn-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
    padding: 0 var(--space-30);
  }
  body main .about-wrapper .about-content .details {
    -ms-grid-row: 1;
    grid-row: 1;
    margin-bottom: var(--space-15);
  }
  body main .about-wrapper .about-content .image-wrapper {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  body main .about-wrapper .about-content .section-link-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
    -ms-grid-row: 3;
    grid-row: 3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: var(--space-30);
  }
  body main .service-wrapper {
    padding: var(--space-30) 0 var(--space-40);
  }
  body main .service-wrapper::before, body main .service-wrapper::after {
    display: none;
  }
  body main .service-wrapper .service-content {
    text-align: center;
  }
  body main .service-wrapper .service-content .details,
  body main .service-wrapper .service-content .cards-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
    padding: 0 var(--space-30);
  }
  body main .service-wrapper .service-content .details {
    margin-bottom: var(--space-15);
  }
  body main .service-wrapper .service-content .cards-container {
    gap: var(--space-15);
  }
  body main .service-wrapper .service-content .cards-container .card {
    min-width: 90px;
    padding: var(--space-15) 0;
  }
  body main .service-wrapper .service-content .cards-container .card i {
    padding: var(--space-15);
  }
  body main .service-wrapper .service-content .cards-container .card h2 {
    margin-top: var(--space-7h);
  }
  body main .work-wrapper {
    padding: var(--space-80) 0;
  }
  body main .work-wrapper .work-content {
    text-align: center;
  }
  body main .work-wrapper .work-content .details,
  body main .work-wrapper .work-content .projects-container,
  body main .work-wrapper .work-content .section-link-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
    padding: 0 var(--space-30);
  }
  body main .work-wrapper .work-content .details {
    -ms-grid-row: 1;
    grid-row: 1;
    margin-bottom: var(--space-15);
  }
  body main .work-wrapper .work-content .projects-container {
    grid-row: span 2;
    gap: var(--space-7h);
  }
  body main .work-wrapper .work-content .section-link-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: var(--space-30);
  }
  body main .information-wrapper {
    padding: var(--space-80) 0 var(--space-120);
  }
  body main .information-wrapper::before {
    display: none;
  }
  body main .information-wrapper .information-content .details {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
    gap: var(--space-30);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .information-wrapper .information-content .details .email,
  body main .information-wrapper .information-content .details .location,
  body main .information-wrapper .information-content .details .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 560px) {
  .title-l,
  .subtitle {
    margin-bottom: var(--space-7h);
  }
  body main .about-wrapper {
    padding: var(--space-40) 0 var(--space-60);
  }
  body main .about-wrapper .about-content {
    text-align: center;
  }
  body main .about-wrapper .about-content .details,
  body main .about-wrapper .about-content .image-wrapper,
  body main .about-wrapper .about-content .btn-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
    padding: 0 var(--space-20);
  }
  body main .about-wrapper .about-content .details {
    margin-bottom: var(--space-10);
  }
  body main .about-wrapper .about-content .image-wrapper {
    display: none;
    height: 340px;
  }
  body main .about-wrapper .about-content .section-link-wrapper {
    margin-top: var(--space-20);
  }
  body main .service-wrapper {
    padding: var(--space-40) 0 var(--space-60);
  }
  body main .service-wrapper .service-content {
    text-align: center;
  }
  body main .service-wrapper .service-content .details,
  body main .service-wrapper .service-content .cards-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
    padding: 0 var(--space-20);
    gap: var(--space-10);
  }
  body main .service-wrapper .service-content .details {
    margin-bottom: var(--space-20);
  }
  body main .service-wrapper .service-content .cards-container {
    gap: var(--space-10);
  }
  body main .service-wrapper .service-content .cards-container .card {
    min-width: 90px;
    padding: var(--space-10) 0;
  }
  body main .service-wrapper .service-content .cards-container .card i {
    padding: var(--space-10);
  }
  body main .service-wrapper .service-content .cards-container .card h2 {
    margin-top: var(--space-5);
  }
  body main .work-wrapper {
    padding: var(--space-60) 0;
  }
  body main .work-wrapper .work-content {
    text-align: center;
  }
  body main .work-wrapper .work-content .details,
  body main .work-wrapper .work-content .projects-container,
  body main .work-wrapper .work-content .section-link-wrapper {
    padding: 0 var(--space-20);
  }
  body main .work-wrapper .work-content .details {
    margin-bottom: var(--space-10);
  }
  body main .work-wrapper .work-content .projects-container {
    gap: var(--space-5);
  }
  body main .work-wrapper .work-content .section-link-wrapper {
    margin-top: var(--space-20);
  }
  body main .information-wrapper {
    padding: var(--space-60) 0 var(--space-80);
  }
  body main .information-wrapper .information-content .details {
    gap: var(--space-30);
  }
}
/*# sourceMappingURL=home.css.map */