@use "foundation/main";

.title-l {
    margin-bottom: var(--space-20);
}
.subtitle {
    margin-bottom: var(--space-10);
}
.subtitle {
    color: var(--primary-color-gray);
}
.link-wrapper {
    color: var(--primary-color-light);
    margin-bottom: var(--space-80);
    line-height: 0.85;
}
.section-link-btn {
    grid-column: 11 / span 2;
}
@keyframes header_in {
    from {
        /* top: -60px; */
    }
    to {
        /* top: 0px; */
        opacity: 1;
        visibility: visible;
    }
}
@keyframes home_in {
    to {
        transform: translateX(0px);
        visibility: visible;
        opacity: 1;
    }
}
body {
    // background: url(../../images/home-imgs/gray_wall.jpg);
    // background-color: rgba(0, 0, 0, 0.6);
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-blend-mode: overlay;
    width: inherit;
    padding-top: var(--nav-height-l);
    header {
        width: inherit;
        .home-wrapper {
            position: relative;
            width: inherit;
            display: flex;
            justify-content: center;
            align-items: center;

            .home-content {
                height: 90vh;
                color: var(--primary-color-light);
                text-align: center;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .title-xl {
                    margin-bottom: var(--space-40);
                    text-transform: uppercase;
                }
                .section-link-wrapper {
                    justify-content: center;
                    .section-link-btn {
                        color: var(--primary-color-dark);
                        background: var(--primary-color-yellow);
                    }
                }
            }
        }
    }

    main {
        width: inherit;
        // background: var(--primary-color-light);
        .about-wrapper {
            // background: var(--primary-color-dark);
            width: inherit;
            padding: var(--space-100) 0 var(--space-120);
            position: relative;
            z-index: 3;
            .about-content {
                color: var(--primary-color-light);
                .title-l {
                    grid-column: 1 / span 10;
                    grid-row: 1;
                }

                .details {
                    margin-bottom: var(--space-20);
                    grid-column: 1 / span 4;
                    grid-row: 2;
                }
                .image-wrapper {
                    grid-column: 5 / span 8;
                    grid-row: 2 / span 2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .image {
                        background: var(--primary-color-light);
                        border-radius: 50%;
                        width: 480px;
                        max-height: 480px;
                        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                // .link-wrapper {
                //     margin-top: var(--space-80);
                //     grid-column: 11 / span 2;
                //     grid-row: 5;
                // }
            }
        }

        .tech-wrapper {
            // background: var(--primary-color-dark);
            width: inherit;
            padding: var(--space-120) 0;
            // padding: var(--space-60) 0 var(--space-80);

            position: relative;
            z-index: 4;
            // &::before,
            // &::after {
            //     content: "";
            //     position: absolute;
            //     left: 0;
            //     z-index: -1;
            //     background: inherit;
            //     width: calc(100% + 2px);
            //     height: 60px;
            // }
            // &::before {
            //     top: -21px;
            //     transform: rotate(-1.4deg);
            //     box-shadow: 0 -1px 1px 0 rgba(160, 160, 160, 0.1), 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
            // }
            // &::after {
            //     bottom: -21px;
            //     transform: rotate(1.4deg);
            //     box-shadow: 0 2px 2px 0 rgba(160, 160, 160, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.2);
            // }
            .tech-content {
                color: var(--primary-color-light);
                .title-l,
                .details,
                .techs-container {
                    grid-column: 8 / span 4;
                }
                .title-l {
                    grid-row: 1;
                }
                .details {
                    margin-bottom: var(--space-40);
                    grid-row: 2;
                }
                .techs-container {
                    grid-row: 3;
                    // display: grid;
                    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                    gap: var(--space-40) var(--space-20);
                    display: flex;
                    flex-wrap: wrap;
                    flex: 1;
                    li {
                        width: calc(50% - var(--space-40));
                        color: var(--primary-color-light);
                        min-width: 80px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        i {
                            margin-right: var(--space-15);
                            font-size: var(--font-size-24);
                        }
                        h2 {
                            font-size: var(--font-size-14);
                            font-weight: var(--font-weight-500);
                            white-space: nowrap;
                            text-transform: uppercase;
                        }
                    }
                }
                .link-wrapper {
                    margin-top: var(--space-40);
                    grid-column: 8 / span 2;
                    grid-row: 4;
                }
            }
        }
        .work-wrapper {
            position: relative;
            // background: var(--primary-color-dark);
            width: inherit;
            padding: var(--space-120) 0;
            .work-content {
                color: var(--primary-color-light);
                .title-l,
                .details {
                    grid-column: 1 / span 4;
                }
                .title-l {
                    grid-row: 1;
                }
                .details {
                    grid-row: 2;
                }

                .projects-container {
                    grid-column: 6 / span 5;
                    grid-row: 2 / span 2;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
                    grid-auto-rows: auto;
                    gap: var(--space-20);
                    .project {
                        background: rgba(80, 80, 80, 1);
                        grid-row: span 4;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        .service-wrapper {
            position: relative;
            z-index: 3;
            // background: var(--primary-color-dark);
            width: inherit;
            padding: var(--space-120) 0;
            // &::before {
            //     content: "";
            //     position: absolute;
            //     left: 0;
            //     z-index: -1;
            //     background: inherit;
            //     width: calc(100% + 2px);
            //     height: 60px;
            // }
            // &::before {
            //     top: -21px;
            //     transform: rotate(-1.4deg);
            //     box-shadow: 0 -1px 1px 0 rgba(160, 160, 160, 0.1), 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
            // }
            // &::after {
            //     bottom: -21px;
            //     transform: rotate(1.4deg);
            //     box-shadow: 0 2px 2px 0 rgba(160, 160, 160, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.2);
            // }

            .service-content {
                color: var(--primary-color-light);
                .title-l,
                .details,
                .cards-container {
                    grid-column: 8 / span 4;
                }
                .title-l {
                    grid-row: 1;
                }
                .details {
                    grid-row: 2;

                    margin-bottom: var(--space-40);
                }
                .cards-container {
                    grid-row: 3;
                    gap: var(--space-40) var(--space-20);
                    display: flex;
                    flex-wrap: wrap;
                    flex: 1;
                    .card {
                        width: calc(50% - var(--space-40));
                        min-width: 80px;
                        color: var(--primary-color-light);
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        i {
                            margin-right: var(--space-15);
                            font-size: var(--font-size-24);
                        }
                        h2 {
                            font-size: var(--font-size-14);
                            font-weight: var(--font-weight-500);
                            white-space: nowrap;
                            text-transform: uppercase;
                        }
                    }
                }
                .link-wrapper {
                    margin-top: var(--space-40);
                    grid-column: 8 / span 2;
                    grid-row: 4;
                }
            }
        }

        .information-wrapper {
            position: relative;
            // background: var(--primary-color-dark);
            width: inherit;
            padding-top: var(--space-120);
            // &::before {
            //     content: "";
            //     position: absolute;
            //     left: 0;
            //     top: -21px;
            //     transform: rotate(-1.4deg);

            //     background: inherit;
            //     width: calc(100% + 2px);
            //     height: 60px;
            //     box-shadow: 0 -1px 1px 0 rgba(160, 160, 160, 0.1), 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
            // }

            .information-content {
                color: var(--primary-color-light);
                .title-l,
                .details {
                    grid-column: 1 / span 8;
                }
                .title-l {
                    text-transform: uppercase;
                    margin-bottom: var(--space-80);
                }
                .details {
                    margin-bottom: var(--space-120);
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: var(--space-60);
                    .email,
                    .location,
                    .media {
                        h3,
                        span {
                            white-space: nowrap;
                        }
                        h4 {
                            margin-bottom: var(--space-10);

                            font-weight: var(--font-weight-500);
                            text-transform: uppercase;
                        }
                        span {
                            font-size: var(--font-size-14);
                            font-weight: var(--font-weight-300);
                        }
                    }
                    .media {
                        .icons-bander {
                            display: flex;
                            justify-content: center;
                            column-gap: var(--space-40);
                            margin-left: 1px;
                            i {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
                .link-wrapper {
                    // margin-top: var(--space-80);
                    grid-column: 11 / span 2;
                    grid-row: 2;
                }
            }
        }
    }
    footer {
        .legal-wrapper {
            .legal-content {
                .lega-links {
                    border-top: 1px solid var(--primary-color-light);
                }
            }
        }
    }
}

@media only screen and (max-width: 60rem) {
    .section-link-btn {
        grid-column: 10 / span 2;
    }
    body {
        header {
            .home-wrapper {
                .home-content {
                    height: 80vh;
                }
            }
        }
        main {
            .about-wrapper {
                padding: var(--space-80) 0 var(--space-100);
                .about-content {
                    align-items: center;
                    .title-l,
                    .details,
                    .image-wrapper {
                        grid-column: 2 / span 10;
                    }
                    .details {
                        margin-bottom: var(--space-40);
                    }
                    .image-wrapper {
                        grid-row: 3;
                        .image {
                            width: 100%;
                            border-radius: 0;
                        }
                    }
                    .section-link-btn {
                        margin: 0 auto var(--space-40);
                        // margin-bottom: var(--space-40);
                    }
                }
            }
            .tech-wrapper {
                padding: var(--space-100) 0;
                .tech-content {
                    .title-l,
                    .details,
                    .techs-container {
                        grid-column: 2 / span 8;
                    }
                    .link-wrapper {
                        grid-column: 2 / span 2;
                    }
                }
            }

            .work-wrapper {
                padding: var(--space-100) 0;
                .work-content {
                    .title-l,
                    .details,
                    .projects-container,
                    .section-link-wrapper {
                        grid-column: 2 / span 10;
                    }
                    .title-l {
                        grid-row: 1;
                    }
                    .details {
                        grid-row: 2;
                    }
                    .projects-container {
                        grid-row: 3;
                    }
                }
            }

            .service-wrapper {
                padding: var(--space-100) 0;
                &::before,
                &::after {
                    display: none;
                }
                .service-content {
                    .title-l,
                    .details,
                    .cards-container {
                        grid-column: 2 / span 8;
                        .card {
                            i {
                                margin-right: var(--space-10);
                            }
                        }
                    }
                    // .details {
                    // }
                    .cards-container {
                        .card {
                            min-width: 90px;
                        }
                    }
                    .link-wrapper {
                        grid-column: 2 / span 2;
                    }
                }
            }

            .information-wrapper {
                padding-top: var(--space-100);
                &::before {
                    display: none;
                }
                .information-content {
                    .title-l,
                    .details {
                        grid-column: 2 / span 10;
                        margin-bottom: var(--space-100);

                        // .email,
                        // .location,
                        // .media {
                        //     display: flex;
                        //     // align-items: center;
                        //     flex-direction: column;
                        // }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 35rem) {
    .section-link-btn {
        grid-column: 1 / span 12;
    }
    body {
        main {
            .about-wrapper {
                padding: var(--space-40) 0 var(--space-60);
                padding: var(--space-80) 0 0 0;
                .about-content {
                    .title-l,
                    .details,
                    .image-wrapper,
                    .btn-wrapper {
                        grid-column: 1 / span 12;
                    }
                    // .details {
                    //     margin-bottom: var(--space-10);
                    // }
                    // .image-wrapper {
                    //     // display: none;
                    //     // height: 340px;
                    // }
                    // .section-link-wrapper {
                    //     margin-top: var(--space-20);
                    // }
                }
            }
            .tech-wrapper {
                padding: var(--space-80) 0;
                .tech-content {
                    .title-l,
                    .details,
                    .techs-container {
                        grid-column: 1 / span 12;
                    }
                    .link-wrapper {
                        grid-column: 1 / span 12;
                    }
                }
            }
            .work-wrapper {
                padding: var(--space-80) 0;
                padding: var(--space-80) 0 var(--space-20) 0;
                .work-content {
                    .title-l,
                    .details,
                    .projects-container,
                    .section-link-wrapper {
                        grid-column: 1 / span 12;
                    }
                    .details {
                        margin-bottom: var(--space-10);
                    }
                    .projects-container {
                        gap: var(--space-5);
                    }
                    .section-link-wrapper {
                        margin-top: var(--space-20);
                    }
                }
            }

            .service-wrapper {
                padding: var(--space-80) 0;

                .service-content {
                    .title-l,
                    .details,
                    .cards-container {
                        grid-column: 1 / span 12;
                        // gap: var(--space-10);
                        .card {
                            i {
                                margin-right: var(--space-10);
                            }
                        }
                    }
                    .link-wrapper {
                        grid-column: 1 / span 12;
                    }
                    // .details {
                    //     margin-bottom: var(--space-20);
                    // }
                    // .cards-container {
                    //     gap: var(--space-10);
                    //     .card {
                    //         min-width: 90px;
                    //         padding: var(--space-10) 0;
                    //         i {
                    //             padding: var(--space-10);
                    //         }
                    //         h2 {
                    //             margin-top: var(--space-5);
                    //         }
                    //     }
                    // }
                }
            }

            .information-wrapper {
                padding: var(--space-60) 0 var(--space-80);
                .information-content {
                    .title-l,
                    .details {
                        grid-column: 1 / span 12;
                        gap: var(--space-30);
                    }
                }
            }
        }
    }
} ;
