@use "foundation/main";

@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$steel-color-dark: -webkit-linear-gradient(
    -45deg,
    rgba(160, 160, 160, 1) 0%,
    rgba(110, 110, 110, 1) 60%,
    rgba(75, 75, 75, 1) 100%
);
$steel-color-light: -webkit-linear-gradient(90deg, rgba(180, 180, 180, 1) 0%, rgba(240, 240, 240, 1) 74%);
$primary-black: rgba(25, 25, 25, 1);
$primary-white: rgba(248, 248, 248, 1);

body {
    height: 100%;

    main {
        background: var(--primary-color-dark);
        width: 100%;
        height: 100vh;

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 888;

        .digital-clock-wrapper {
            background: $steel-color-light;
            border-radius: 18px;
            box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.9), 20px 25px 20px -5px rgba(0, 0, 0, 0.6),
                20px 20px 30px 5px rgba(150, 150, 150, 0.2), 20px 30px 30px 10px rgba(0, 0, 0, 0.2);
            padding: 10px;

            .digital-clock {
                background: $steel-color-dark;
                width: 620px;
                padding: 24px 60px;
                border-radius: 18px;

                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .menu-box {
                    position: absolute;
                    top: 10px;
                    right: 10px;

                    .dot-menu-btn {
                        margin: 10px;
                        background: $steel-color-light;
                        -webkit-text-fill-color: transparent;
                        -webkit-background-clip: text;
                        font-size: 1.5em;
                        cursor: pointer;
                    }
                    .dot-menu.active {
                        visibility: visible;
                        opacity: 1;
                    }
                    .dot-menu {
                        background: #222;
                        padding: 10px 20px;
                        border-radius: 12px;
                        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);

                        position: absolute;
                        top: 10px;
                        right: 10px;
                        transition: 0.3s ease-in-out;
                        visibility: hidden;
                        opacity: 0;
                        list-style: none;
                        z-index: 999;

                        .menu-item {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .clock-format-text {
                                color: #fff;
                                font-size: 0.9em;
                                margin-right: 20px;
                            }

                            .format-switch-btn {
                                background: $steel-color-light;
                                width: 54px;
                                height: 14px;
                                border-radius: 75px;
                                box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.1),
                                    inset 2px 2px 4px rgba(0, 0, 0, 0.2);

                                position: relative;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
                            }
                            .format-switch-btn:before {
                                content: "";
                                background: #ff5e9a;
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                                box-shadow: 0 5px 25px #ff5e9a;

                                position: absolute;
                                top: 50%;
                                transform: translate(-11px, -50%);
                                transition: 0.3s ease-in-out;
                                transition-property: background, transform;
                            }

                            .format-switch-btn.active:before {
                                background: #0bff8d;
                                box-shadow: 0 5px 25px #0bff8d;
                                transform: translate(11px, -50%);
                            }
                        }
                    }
                }

                .tittle-container {
                    background: transparent;
                    color: #fff;
                    width: 100%;

                    display: flex;
                    justify-content: left;
                    align-items: center;

                    .tittle {
                        text-align: left;
                        line-height: 1.4;

                        h2 {
                            font-size: 2.2em;
                            font-weight: 600;
                        }

                        span {
                            font-size: 0.8em;
                            font-weight: 300;
                        }

                        p {
                            font-size: 1.2em;
                            font-weight: 400;
                        }
                    }
                }

                .clock {
                    background: transparent;
                    color: #fff;
                    width: 100%;
                    padding: 20px 45px;
                    margin-top: 30px;
                    margin-bottom: 12px;
                    border-radius: 10px;
                    border: 1px solid #fff;

                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .time {
                        color: #fff;

                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .hours,
                        .dots,
                        .minutes {
                            padding: 0 10px;
                            font-weight: 600;
                            font-family: "Orbitron", sans-serif;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .hours,
                        .minutes,
                        .dots {
                            background: $steel-color-light;
                            -webkit-text-fill-color: transparent;
                            -webkit-background-clip: text;
                        }

                        .hours,
                        .minutes {
                            font-size: 6em;
                        }

                        .dots {
                            font-size: 5em;
                            margin-bottom: 12px;
                        }

                        .right-side {
                            color: #fff;
                            // margin-left: 10px;
                            margin: 0 0 3px 12px;
                            height: 90px;

                            position: relative;
                            display: flex;
                            // justify-content: flex-end;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            .period,
                            .seconds {
                                background: $steel-color-light;
                                -webkit-text-fill-color: transparent;
                                -webkit-background-clip: text;
                                font-family: "Orbitron", sans-serif;
                                font-size: 1.2em;
                                font-weight: 600;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }

                .calender {
                    font-size: 1.2em;
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin-bottom: 5px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .day-name,
                    .day-number,
                    .years {
                        margin-left: 12px;
                    }

                    .month-name,
                    .day-name,
                    .day-number,
                    .years {
                        background: $steel-color-light;
                        -webkit-text-fill-color: transparent;
                        -webkit-background-clip: text;
                        font-family: "Orbitron", sans-serif;
                    }
                }
            }
        }
    }
    footer {
        .legal-wrapper {
            .legal-content {
                .lega-links {
                    border-top: 1px solid var(--primary-color-light);
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    body {
        main {
            .digital-clock-wrapper {
                transform: scale(0.8);
            }
        }
    }
}

@media only screen and (max-width: 560px) {
    body {
        main {
            .digital-clock-wrapper {
                transform: rotate(-90deg) scale(0.6);
            }
        }
    }
}
