@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.title-xl {
  font-size: 6rem;
  font-weight: 800;
  line-height: 1.3;
}

.title-m {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.1;
}

.metatitle {
  font-size: 1.5rem;
  font-weight: 500;
}

.txt-size-l {
  font-size: 1.25rem;
}

.txt-size-s {
  font-size: 0.75rem;
}

.txt-size-m {
  font-size: 1rem;
}

.emph-color {
  color: #ffc229;
}

.max-width-bander-xl {
  width: 100%;
  max-width: 1440px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.grid-12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

body {
  position: relative;
  background: url(../../image/mainPage-imgs/gray_wall.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: darken;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

body .overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  opacity: 90%;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

body .overlay.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

body .reveal {
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  visibility: hidden;
  opacity: 0;
}

body .reveal.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}

body .scroll-down .navbar {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

body .scroll-up .navbar {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body .section-link-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section-link-wrapper .section-link-btn {
  width: 180px;
  height: 48px;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .section-link-wrapper .section-link-btn:hover {
  background: #ffc229;
}

body #back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  -webkit-box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}

body #back-to-top:hover {
  background-color: crimson;
  padding: 1rem 3rem;
}

body #back-to-top.visible {
  visibility: visible;
  opacity: 1;
}

body header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #191919;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .navbar {
  position: relative;
  height: 48px;
  color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: header_in;
          animation-name: header_in;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body header .navbar .logo {
  font-size: 1.4rem;
  font-weight: 800;
}

body header .navbar .nav-links-bander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

body header .navbar .nav-links-bander a {
  padding: 8px 0;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}

body header .navbar .nav-links-bander a:hover {
  color: #ffc229;
}

body header .navbar .nav-btn-bander {
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12 / span 1;
  position: relative;
  width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
}

body header .navbar .nav-btn-bander .btn-top,
body header .navbar .nav-btn-bander .btn-bottom,
body header .navbar .nav-btn-bander .btn-middle {
  position: absolute;
  background: white;
  width: 70%;
  height: 2px;
  border-radius: 4px;
}

body header .navbar .nav-btn-bander .btn-top {
  left: 15%;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

body header .navbar .nav-btn-bander .btn-top.open {
  -webkit-transform: translateX(0) rotate(-45deg);
          transform: translateX(0) rotate(-45deg);
}

body header .navbar .nav-btn-bander .btn-middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body header .navbar .nav-btn-bander .btn-middle.open {
  -webkit-transform: scale(0);
          transform: scale(0);
}

body header .navbar .nav-btn-bander .btn-bottom {
  right: 15%;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

body header .navbar .nav-btn-bander .btn-bottom.open {
  -webkit-transform: translateX(0) rotate(45deg);
          transform: translateX(0) rotate(45deg);
}

@-webkit-keyframes header_in {
  from {
    /* top: -60px; */
  }
  to {
    /* top: 0px; */
    opacity: 1;
    visibility: visible;
  }
}

@keyframes header_in {
  from {
    /* top: -60px; */
  }
  to {
    /* top: 0px; */
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes home_in {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes home_in {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    visibility: visible;
    opacity: 1;
  }
}

body main .home {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .home .max-width-bander-xl {
  height: 100vh;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .home .max-width-bander-xl .title-xl {
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

body main .home .max-width-bander-xl .section-link-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .home .max-width-bander-xl .section-link-wrapper .section-link-btn {
  color: #191919;
  background: #ffc229;
}

body main .about {
  position: relative;
  z-index: 3;
  background: white;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .about .max-width-bander-xl {
  margin: 150px 0 120px;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .about .max-width-bander-xl .heading,
body main .about .max-width-bander-xl .section-link-wrapper {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8 / span 4;
}

body main .about .max-width-bander-xl .heading .title-m {
  margin-bottom: 0.9375rem;
}

body main .about .max-width-bander-xl .heading .metatitle {
  margin-bottom: 0.625rem;
  color: #a0a0a0;
}

body main .about .max-width-bander-xl .section-link-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 1.25rem;
}

body main .about .max-width-bander-xl .section-link-wrapper .section-link-btn {
  background: #191919;
  color: white;
}

body main .about .max-width-bander-xl .image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .about .max-width-bander-xl .image img {
  width: 100%;
  height: 480px;
}

body main .service {
  position: relative;
  z-index: 3;
  background: #191919;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .service .max-width-bander-xl {
  margin: 60px 0 60px;
  text-align: left;
}

body main .service .max-width-bander-xl .heading {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  color: white;
}

body main .service .max-width-bander-xl .heading .title-m {
  margin-bottom: 1.25rem;
}

body main .service .max-width-bander-xl .heading .metatitle {
  color: #a0a0a0;
  margin-bottom: 0.625rem;
}

body main .service .max-width-bander-xl .cards-container {
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6 / span 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

body main .service .max-width-bander-xl .cards-container .card {
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffc229;
  width: 120px;
  height: 120px;
  border-radius: 4px;
  color: white;
}

body main .service .max-width-bander-xl .cards-container .card i {
  font-size: 2.8rem;
}

body main .service .max-width-bander-xl .cards-container .card h2 {
  margin-top: 0.3125rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}

body main .portfolio {
  position: relative;
  background: white;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .portfolio .max-width-bander-xl {
  margin: 150px 0 120px;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .portfolio .max-width-bander-xl .heading {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8 / span 4;
}

body main .portfolio .max-width-bander-xl .heading .title-m {
  width: 100%;
  margin-bottom: 1.25rem;
}

body main .portfolio .max-width-bander-xl .heading .metatitle {
  width: 100%;
  color: #a0a0a0;
  margin-bottom: 0.625rem;
}

body main .portfolio .max-width-bander-xl .projects-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;
}

body main .portfolio .max-width-bander-xl .projects-container .project {
  background: gainsboro;
  grid-row: span 4;
}

body main .portfolio .max-width-bander-xl .projects-container .project img {
  width: 100%;
  height: 100%;
}

body main .portfolio .max-width-bander-xl .section-link-wrapper {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8 / span 4;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main .portfolio .max-width-bander-xl .section-link-wrapper .section-link-btn {
  margin-top: 1.25rem;
  background: #191919;
  color: white;
}

body footer {
  position: relative;
  background: #191919;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .max-width-bander-xl .information {
  margin: 150px 0 120px;
  color: white;
}

body footer .max-width-bander-xl .information .explanation {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
}

body footer .max-width-bander-xl .information .explanation .heading {
  margin-bottom: 5rem;
  text-transform: uppercase;
}

body footer .max-width-bander-xl .information .explanation .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .max-width-bander-xl .information .explanation .details .email,
body footer .max-width-bander-xl .information .explanation .details .location,
body footer .max-width-bander-xl .information .explanation .details .media {
  margin-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .max-width-bander-xl .information .explanation .details .email h3,
body footer .max-width-bander-xl .information .explanation .details .email span,
body footer .max-width-bander-xl .information .explanation .details .location h3,
body footer .max-width-bander-xl .information .explanation .details .location span,
body footer .max-width-bander-xl .information .explanation .details .media h3,
body footer .max-width-bander-xl .information .explanation .details .media span {
  white-space: nowrap;
}

body footer .max-width-bander-xl .information .explanation .details .email h3,
body footer .max-width-bander-xl .information .explanation .details .location h3,
body footer .max-width-bander-xl .information .explanation .details .media h3 {
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 0.625rem;
}

body footer .max-width-bander-xl .information .explanation .details .email span,
body footer .max-width-bander-xl .information .explanation .details .location span,
body footer .max-width-bander-xl .information .explanation .details .media span {
  font-size: 0.875rem;
  font-weight: 300;
}

body footer .max-width-bander-xl .information .explanation .details .media .icons-bander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
  margin-left: 1px;
}

body footer .max-width-bander-xl .information .explanation .details .media .icons-bander i {
  font-size: 2rem;
}

body footer .max-width-bander-xl .legal-links {
  height: 48px;
  margin-bottom: 0.3125rem;
  border-top: 1px solid white;
  color: white;
  font-size: 0.75rem;
  font-weight: 300;
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .max-width-bander-xl .legal-links .legal-left {
  grid-column: span 1;
}

body footer .max-width-bander-xl .legal-links .legal-mid {
  white-space: nowrap;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / span 2;
}

body footer .max-width-bander-xl .legal-links .legal-right {
  white-space: nowrap;
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12 / span 1;
}

@media (max-width: 960px) {
  :root {
    font-size: 14px;
  }
  body .hidden {
    display: none;
  }
  body header .navbar .nav-links-bander {
    position: absolute;
    top: 0;
    right: -240px;
    width: 240px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body header .navbar .nav-links-bander.open {
    right: 0;
    background: crimson;
  }
  body header .navbar .nav-btn-bander {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .home .max-width-bander-xl {
    text-align: center;
  }
  body main .about .max-width-bander-xl {
    margin: 120px 0 90px;
    text-align: center;
  }
  body main .about .max-width-bander-xl .heading {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  body main .about .max-width-bander-xl .image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
    -ms-grid-row: 2;
    grid-row: 2;
    height: 340px;
  }
  body main .about .max-width-bander-xl .section-link-wrapper {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
    -ms-grid-row: 3;
    grid-row: 3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .service .max-width-bander-xl {
    text-align: center;
  }
  body main .service .max-width-bander-xl .heading {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
  }
  body main .service .max-width-bander-xl .cards-container {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / span 8;
  }
  body main .service .max-width-bander-xl .cards-container .card .icon-warpper {
    width: 90px;
    height: 90px;
  }
  body main .portfolio .max-width-bander-xl {
    margin: 60px 0 90px;
    text-align: center;
  }
  body main .portfolio .max-width-bander-xl .heading {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
  }
  body main .portfolio .max-width-bander-xl .projects-container {
    grid-row: span 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
  }
  body main .portfolio .max-width-bander-xl .section-link-wrapper {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body footer .information {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
  }
}
/*# sourceMappingURL=mainPage.css.map */