@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  background: url(../../gray_wall.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: darken;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

body .title-xl {
  font-size: 6rem;
  font-weight: 800;
  line-height: 1.3;
}

body .title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.1;
}

body .metatitle {
  font-size: 1.5rem;
  font-weight: 500;
}

body .content-title {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}

body .link-txt-s {
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}

body .link-txt-m {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}

body .emph-color {
  color: #ffc229;
}

body .max-width-bander-xl {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}

body .overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  opacity: 90%;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

body .overlay.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

body .reveal {
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  visibility: hidden;
  opacity: 0;
}

body .reveal.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}

body .scroll-down .navbar {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

body .scroll-up .navbar {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body .btn-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .btn-wrapper .section-link-btn {
  width: 180px;
  height: 48px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .btn-wrapper .section-link-btn:hover {
  background: #ffc229;
}

body #back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  -webkit-box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}

body #back-to-top:hover {
  background-color: crimson;
  padding: 1rem 3rem;
}

body #back-to-top.visible {
  visibility: visible;
  opacity: 1;
}

body .global-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #191919;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .global-header .navbar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  position: relative;
  height: 48px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: header_in;
          animation-name: header_in;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .global-header .navbar .logo {
  font-size: 1.4rem;
  font-weight: 800;
}

body .global-header .navbar .nav-links-bander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

body .global-header .navbar .nav-links-bander a {
  padding: 8px 0;
  text-transform: uppercase;
}

body .global-header .navbar .nav-links-bander a:hover {
  color: #ffc229;
}

body .global-header .navbar .nav-btn-bander {
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12 / span 1;
  position: relative;
  width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
}

body .global-header .navbar .nav-btn-bander .btn-top,
body .global-header .navbar .nav-btn-bander .btn-bottom,
body .global-header .navbar .nav-btn-bander .btn-middle {
  position: absolute;
  background: white;
  width: 70%;
  height: 2px;
  border-radius: 4px;
}

body .global-header .navbar .nav-btn-bander .btn-top {
  left: 15%;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

body .global-header .navbar .nav-btn-bander .btn-top.open {
  -webkit-transform: translateX(0) rotate(-45deg);
          transform: translateX(0) rotate(-45deg);
}

body .global-header .navbar .nav-btn-bander .btn-middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .global-header .navbar .nav-btn-bander .btn-middle.open {
  -webkit-transform: scale(0);
          transform: scale(0);
}

body .global-header .navbar .nav-btn-bander .btn-bottom {
  right: 15%;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

body .global-header .navbar .nav-btn-bander .btn-bottom.open {
  -webkit-transform: translateX(0) rotate(45deg);
          transform: translateX(0) rotate(45deg);
}

@-webkit-keyframes header_in {
  from {
    /* top: -60px; */
  }
  to {
    /* top: 0px; */
    opacity: 1;
    visibility: visible;
  }
}

@keyframes header_in {
  from {
    /* top: -60px; */
  }
  to {
    /* top: 0px; */
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes home_in {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes home_in {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    visibility: visible;
    opacity: 1;
  }
}

body main .home {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .home .max-width-bander-xl {
  height: 100vh;
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}

body main .home .max-width-bander-xl .heading-xl {
  width: 100%;
  margin-bottom: 30px;
}

body main .home .max-width-bander-xl .btn-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .home .max-width-bander-xl .btn-wrapper .section-link-btn {
  margin-top: 20px;
  color: #191919;
  background: #ffc229;
}

body main .about {
  position: relative;
  z-index: 3;
  background: white;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .about .max-width-bander-xl {
  margin: 150px 0 120px;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .about .max-width-bander-xl .heading-xl {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8 / span 4;
}

body main .about .max-width-bander-xl .heading-xl .title {
  width: 100%;
}

body main .about .max-width-bander-xl .heading-xl .metatitle {
  width: 100%;
  margin-bottom: 10px;
  color: #a0a0a0;
}

body main .about .max-width-bander-xl .image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  background-image: url(../../about_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
}

body main .about .max-width-bander-xl .btn-wrapper {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8 / span 4;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main .about .max-width-bander-xl .btn-wrapper .section-link-btn {
  margin-top: 20px;
  background: #191919;
  color: white;
}

body main .service {
  position: relative;
  z-index: 3;
  background: #191919;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .service .max-width-bander-xl {
  margin: 60px 0 60px;
  text-align: left;
}

body main .service .max-width-bander-xl .heading-xl {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  color: white;
}

body main .service .max-width-bander-xl .heading-xl .title {
  margin-bottom: 10px;
}

body main .service .max-width-bander-xl .heading-xl .metatitle {
  color: #a0a0a0;
  margin-bottom: 10px;
}

body main .service .max-width-bander-xl .cards-container {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / span 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

body main .service .max-width-bander-xl .cards-container .card {
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .service .max-width-bander-xl .cards-container .card .icon-warpper {
  background: #ffc229;
  width: 120px;
  height: 120px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .service .max-width-bander-xl .cards-container .card .icon-warpper i {
  margin-bottom: 20px;
  color: white;
  font-size: 2.8rem;
}

body main .service .max-width-bander-xl .cards-container .card .icon-warpper h2 {
  color: white;
}

body main .service .max-width-bander-xl .btn-wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  padding: 0 120px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main .service .max-width-bander-xl .btn-wrapper .section-link-btn {
  margin-top: 20px;
  background: white;
  color: #191919;
}

body main .portfolio {
  position: relative;
  background: white;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .portfolio .max-width-bander-xl {
  margin: 150px 0 120px;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .portfolio .max-width-bander-xl .heading-xl {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8 / span 4;
}

body main .portfolio .max-width-bander-xl .heading-xl .title {
  width: 100%;
  margin-bottom: 5px;
}

body main .portfolio .max-width-bander-xl .heading-xl .metatitle {
  width: 100%;
  color: #a0a0a0;
  margin-bottom: 10px;
}

body main .portfolio .max-width-bander-xl .projects-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

body main .portfolio .max-width-bander-xl .projects-container .project {
  background: gainsboro;
  grid-row: span 4;
  border-radius: 4px;
  overflow: hidden;
}

body main .portfolio .max-width-bander-xl .projects-container .project img {
  width: 100%;
  height: 100%;
}

body main .portfolio .max-width-bander-xl .btn-wrapper {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8 / span 4;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main .portfolio .max-width-bander-xl .btn-wrapper .section-link-btn {
  margin-top: 20px;
  background: #191919;
  color: white;
}

body .global-footer {
  position: relative;
  background: #191919;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .global-footer .contact-me {
  margin: 150px 0 120px;
  color: white;
  text-align: left;
}

body .global-footer .contact-me .heading-xl,
body .global-footer .contact-me .email-send-form {
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4 / span 6;
}

body .global-footer .contact-me .heading-xl {
  margin-bottom: 40px;
}

body .global-footer .contact-me .heading-xl p {
  width: 100%;
}

body .global-footer .contact-me .email-send-form {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

body .global-footer .contact-me .email-send-form .first-name,
body .global-footer .contact-me .email-send-form .last-name,
body .global-footer .contact-me .email-send-form .email,
body .global-footer .contact-me .email-send-form .message {
  margin-bottom: 20px;
}

body .global-footer .contact-me .email-send-form .first-name label,
body .global-footer .contact-me .email-send-form .first-name input,
body .global-footer .contact-me .email-send-form .last-name label,
body .global-footer .contact-me .email-send-form .last-name input,
body .global-footer .contact-me .email-send-form .email label,
body .global-footer .contact-me .email-send-form .email input,
body .global-footer .contact-me .email-send-form .message label,
body .global-footer .contact-me .email-send-form .message input {
  width: 100%;
  display: block;
}

body .global-footer .contact-me .email-send-form .first-name label,
body .global-footer .contact-me .email-send-form .last-name label,
body .global-footer .contact-me .email-send-form .email label,
body .global-footer .contact-me .email-send-form .message label {
  text-align: left;
  font-weight: 300;
  margin-bottom: 3px;
}

body .global-footer .contact-me .email-send-form .first-name input,
body .global-footer .contact-me .email-send-form .last-name input,
body .global-footer .contact-me .email-send-form .email input,
body .global-footer .contact-me .email-send-form .message input {
  border: none;
  outline: none;
  padding: 10px;
}

body .global-footer .contact-me .email-send-form .first-name,
body .global-footer .contact-me .email-send-form .last-name {
  grid-column: span 1;
}

body .global-footer .contact-me .email-send-form .email,
body .global-footer .contact-me .email-send-form .message,
body .global-footer .contact-me .email-send-form button {
  grid-column: span 2;
}

body .global-footer .contact-me .email-send-form .message input {
  height: 110px;
}

body .global-footer .contact-me .email-send-form button {
  border: none;
  background: #ffc229;
  padding: 15px;
  margin-top: 20px;
}

body .global-footer .footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  height: 48px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .global-footer .footer .media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

body .global-footer .footer .media-container,
body .global-footer .footer .footer-email {
  padding: 8px 0;
  font-weight: 300;
}

@media (max-width: 960px) {
  :root {
    font-size: 14px;
  }
  body .hidden {
    display: none;
  }
  body .global-header .navbar .nav-links-bander {
    position: absolute;
    top: 0;
    right: -240px;
    width: 240px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .global-header .navbar .nav-links-bander.open {
    right: 0;
    background: crimson;
  }
  body .global-header .navbar .nav-btn-bander {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .contact-btn {
    background: inherit;
    width: 200px;
    padding: 15px 60px;
    font-weight: 400;
  }
  body main .home .max-width-bander-xl {
    text-align: center;
  }
  body main .about .max-width-bander-xl {
    margin: 120px 0 90px;
    text-align: center;
  }
  body main .about .max-width-bander-xl .heading-xl {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  body main .about .max-width-bander-xl .image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
    -ms-grid-row: 2;
    grid-row: 2;
    height: 340px;
  }
  body main .about .max-width-bander-xl .btn-wrapper {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
    -ms-grid-row: 3;
    grid-row: 3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .service .max-width-bander-xl {
    text-align: center;
  }
  body main .service .max-width-bander-xl .heading-xl {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
  }
  body main .service .max-width-bander-xl .cards-container {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / span 8;
  }
  body main .service .max-width-bander-xl .cards-container .card .icon-warpper {
    width: 90px;
    height: 90px;
  }
  body main .portfolio .max-width-bander-xl {
    margin: 60px 0 90px;
    text-align: center;
  }
  body main .portfolio .max-width-bander-xl .heading-xl {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
  }
  body main .portfolio .max-width-bander-xl .projects-container {
    grid-row: span 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
  }
  body main .portfolio .max-width-bander-xl .btn-wrapper {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .global-footer .contact-me.max-width-bander-xl {
    text-align: center;
  }
  body .global-footer .contact-me.max-width-bander-xl .heading-xl,
  body .global-footer .contact-me.max-width-bander-xl .email-send-form {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / span 8;
  }
}
/*# sourceMappingURL=mainPage.css.map */