@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// :root {
//     --primary-dark-color: rgba(25, 25, 25, 1);
//     --primary-light-color: rgba(255, 255, 255, 1);
//     --primary-color-yellow: rgba(255, 194, 41, 1);
//     --primary-gray-color: rgba(160, 160, 160, 1);

//     --max-screen-size: 1440px;
//     --mobile-screen-size: 540px;
//     --max-screen-padding: 0 20px;
//     --radius-4: 4px;

//     font-size: 16px;
// }

$primary-color-dark: rgba(25, 25, 25, 1);
$primary-color-light: rgba(255, 255, 255, 1);
$primary-color-yellow: rgba(255, 194, 41, 1);
$primary-gray-color: rgba(160, 160, 160, 1);

$max-w-1440: 1440px;
$max-w-960: 960px;
$mobile-screen-size: 540px;

$space-5: 0.3125rem;
$space-10: 0.625rem;
$space-15: 0.9375rem;
$space-20: 1.25rem;
$space-30: 1.875rem;
$space-40: 2.5rem;
$space-50: 3.125rem;
$space-60: 3.75rem;
$space-80: 5rem;
$space-100: 6.25rem;
$space-120: 7.5rem;
$space-140: 8.75rem;
$space-160: 10rem;

$radius-4: 4px;
$radius-8: 8px;

$font-weight-300: 300;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-800: 800;

$font-size-18: 1.125rem;
$font-size-14: 0.875rem;
$font-size-12: 0.75rem;
$default-text-align: left;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: 0.4s ease-in-out;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.title-xl {
    font-size: 6rem;
    font-weight: 800;
    line-height: 1.3;
}
.title-m {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.1;
}
.metatitle {
    font-size: 1.5rem;
    font-weight: 500;
}
.txt-size-l {
    font-size: 1.25rem;
}
.txt-size-s {
    font-size: 0.75rem;
}
.txt-size-m {
    font-size: 1rem;
}
.emph-color {
    color: $primary-color-yellow;
}

.max-width-bander {
    width: 100%;
    max-width: $max-w-1440;
    min-width: 360px;
    padding-left: $space-20;
    padding-right: $space-20;
    margin: 0 auto;
}
.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: $space-40;
}

// side nav menu overlay
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;

    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(3px);

    opacity: 90%;
    transition: 0.4s all ease-in-out;
    &.hidden {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}
.reveal {
    position: relative;
    transition: all 0.2s ease-in;
    transform: translateY(4px);
    visibility: hidden;
    opacity: 0;
    &.active {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }
}
.scroll-down .global-header {
    // transform: translate3d(0, -100%, 0);
    transform: translateY(-100%);
}
.scroll-up .global-header {
    // filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
    transform: translateY(0);
}

.section-link-wrapper {
    width: 100%;
    display: flex;
    .section-link-btn {
        width: 180px;
        height: 48px;
        border-radius: $radius-4;

        font-size: $font-size-14;
        font-weight: $font-weight-500;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: $primary-color-yellow;
        }
    }
}
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease-in-out;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
}
#back-to-top:hover {
    background-color: crimson;
    padding: 1rem 3rem;
}
#back-to-top.visible {
    visibility: visible;
    opacity: 1;
}
html,
body {
    overflow-x: hidden;
}
html {
    width: 100%;
    font-size: 16px;
}
body {
    width: 100%;

    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        background: $primary-color-dark;
        width: inherit;

        .navbar {
            position: relative;
            height: 48px;
            color: $primary-color-light;

            display: flex;
            justify-content: space-between;
            align-items: center;

            animation-name: header_in;
            animation-duration: 0.7s;
            animation-timing-function: ease-in;
            animation-fill-mode: forwards;

            .logo {
                font-size: 1.4rem;
                font-weight: $font-weight-800;
            }
            .nav-links-bander {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: $space-40;
                a {
                    padding: 0.5rem 0;
                    font-size: $font-size-12;
                    font-weight: $font-weight-500;
                    text-transform: uppercase;
                    white-space: nowrap;
                    &:hover {
                        color: $primary-color-yellow;
                    }
                }
            }

            .nav-btn-bander {
                position: relative;
                width: 30px;
                height: 30px;

                display: none;
                cursor: pointer;

                .btn-top,
                .btn-bottom,
                .btn-middle {
                    position: absolute;
                    background: $primary-color-light;
                    width: 70%;
                    height: 2px;
                    border-radius: 4px;
                }
                .btn-top {
                    left: 15%;
                    transform: translateY(5px);
                    &.open {
                        transform: translateX(0) rotate(-45deg);
                    }
                }
                .btn-middle {
                    top: 50%;
                    transform: translateY(-50%);
                    &.open {
                        transform: scale(0);
                    }
                }

                .btn-bottom {
                    right: 15%;
                    transform: translateY(-5px);
                    &.open {
                        transform: translateX(0) rotate(45deg);
                    }
                }
            }
        }
        @keyframes header_in {
            from {
                /* top: -60px; */
            }
            to {
                /* top: 0px; */
                opacity: 1;
                visibility: visible;
            }
        }
    }

    main {
        position: relative;
        background: url(../../image/mainPage-imgs/gray_wall.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-blend-mode: darken;
        width: inherit;
        &::before {
            // background img darker
            content: "";
            position: absolute;
            top: 0;
            left: 0;

            background: rgba(0, 0, 0, 0.7);
            width: 100%;
            height: 100vh;
            z-index: -1;
        }
        @keyframes home_in {
            to {
                transform: translateX(0px);
                visibility: visible;
                opacity: 1;
            }
        }

        .home {
            position: relative;
            width: inherit;
            display: flex;
            justify-content: center;
            align-items: center;

            .max-width-bander {
                height: 100vh;
                color: $primary-color-light;
                text-align: center;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .title-xl {
                    margin-bottom: $space-40;
                    text-transform: uppercase;
                }
                .section-link-wrapper {
                    justify-content: center;
                    .section-link-btn {
                        color: $primary-color-dark;
                        background: $primary-color-yellow;
                    }
                }
            }
        }

        .about {
            position: relative;
            z-index: 3;

            background: $primary-color-light;
            width: inherit;
            padding: $space-100 0 $space-120;
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);

            .max-width-bander {
                text-align: $default-text-align;
                align-items: center;

                .details,
                .section-link-wrapper {
                    grid-column: 8 / span 4;
                }

                .details {
                    margin-bottom: $space-20;
                    .title-m {
                        margin-bottom: $space-15;
                    }
                    .metatitle {
                        margin-bottom: $space-10;
                        color: $primary-gray-color;
                    }
                }

                .section-link-wrapper {
                    margin-top: $space-30;
                    justify-content: flex-start;
                    .section-link-btn {
                        background: $primary-color-dark;
                        color: $primary-color-light;
                    }
                }

                .image {
                    grid-column: 1 / span 6;
                    grid-row: 1 / span 2;

                    border-radius: $radius-8;
                    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
                    overflow: hidden;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 100%;
                        height: 480px;
                    }
                }
            }
        }

        .service {
            position: relative;
            z-index: 3;

            background: $primary-color-dark;
            width: inherit;
            padding: $space-30 0 $space-40;
            // box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                z-index: -1;
                background: $primary-color-dark;
                width: calc(100% + 2px);
                height: 60px;
            }
            &::before {
                top: -21px;
                transform: rotate(-1.4deg);
                box-shadow: 0 -1px 1px 0 rgba(160, 160, 160, 0.1), 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
            }
            &::after {
                bottom: -21px;
                transform: rotate(1.4deg);
                box-shadow: 0 2px 2px 0 rgba(160, 160, 160, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.2);
            }

            .max-width-bander {
                text-align: $default-text-align;
                align-items: center;
                row-gap: $space-20;

                .details {
                    grid-column: 2 / span 4;
                    color: $primary-color-light;

                    .title-m {
                        margin-bottom: $space-15;
                    }
                    .metatitle {
                        color: $primary-gray-color;
                        margin-bottom: $space-10;
                    }
                }

                .cards-container {
                    grid-column: 7 / span 6;
                    display: flex;
                    flex: 1;
                    flex-grow: 1;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: $space-20;

                    .card {
                        border-radius: $radius-4;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        background: $primary-color-yellow;
                        width: 120px;
                        height: 120px;
                        border-radius: $radius-4;
                        color: $primary-color-light;
                        i {
                            font-size: 2.8rem;
                        }
                        h2 {
                            margin-top: $space-10;
                            font-size: $font-size-14;
                            font-weight: $font-weight-500;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        .portfolio {
            position: relative;

            background: $primary-color-light;
            width: inherit;
            padding: $space-120 0;
            // box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);

            .max-width-bander {
                text-align: $default-text-align;
                align-items: center;

                .details {
                    grid-column: 8 / span 4;
                    margin-bottom: $space-20;
                    .title-m {
                        margin-bottom: $space-15;
                    }
                    .metatitle {
                        color: $primary-gray-color;
                        margin-bottom: $space-10;
                    }
                }
                .section-link-wrapper {
                    grid-column: 8 / span 4;
                    justify-content: flex-start;
                    .section-link-btn {
                        margin-top: $space-30;
                        background: $primary-color-dark;
                        color: $primary-color-light;
                    }
                }

                .projects-container {
                    grid-column: 1 / span 6;
                    grid-row: 1 / span 2;

                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: $space-10;
                    .project {
                        background: rgba(220, 220, 220, 1);
                        grid-row: span 4;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    footer {
        position: relative;
        z-index: 8888;
        background: $primary-color-dark;
        width: inherit;
        padding-top: $space-120;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            z-index: -1;
            background: $primary-color-dark;
            width: calc(100% + 2px);
            height: 60px;
            top: -21px;
            transform: rotate(-1.4deg);
            box-shadow: 0 -1px 1px 0 rgba(160, 160, 160, 0.1), 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
        }

        .max-width-bander {
            .informations {
                margin-bottom: $space-140;
                color: $primary-color-light;

                grid-column: 2 / span 10;
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                .details {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: $space-60;
                    h3 {
                        margin-bottom: $space-20;
                        text-transform: uppercase;
                    }
                    .email,
                    .location,
                    .media {
                        // display: flex;
                        // justify-content: center;
                        // flex-direction: column;
                        h3,
                        span {
                            white-space: nowrap;
                        }
                        h4 {
                            margin-bottom: $space-10;
                            font-size: $font-size-18;
                            font-weight: $font-weight-500;
                            text-transform: uppercase;
                            white-space: nowrap;
                        }
                        span {
                            font-size: $font-size-14;
                            font-weight: $font-weight-300;
                        }
                    }
                    .media {
                        .icons-bander {
                            display: flex;
                            justify-content: center;
                            column-gap: $space-40;
                            margin-left: 1px;
                            i {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }

            .legal-links {
                height: 48px;
                margin-bottom: $space-5;
                border-top: 1px solid $primary-color-light;

                color: $primary-color-light;
                font-size: $font-size-12;
                font-weight: $font-weight-300;
                text-align: center;

                grid-column: 1 / span 12;
                display: flex;
                align-items: center;

                .legal-left,
                .legal-mid,
                .legal-right {
                    display: flex;
                    white-space: nowrap;
                    flex-grow: 1;
                }
                .legal-left {
                    justify-content: flex-start;
                }
                .legal-mid {
                    justify-content: center;
                    margin-right: $space-60;
                }
                .legal-right {
                    justify-content: flex-end;
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    :root {
        font-size: 14px;
    }
    .max-width-bander {
        width: 100%;
        max-width: $max-w-1440;
        min-width: 360px;
        padding-left: $space-10;
        padding-right: $space-10;
        margin: 0 auto;
    }
    .grid-12 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: $space-20;
    }

    body {
        .hidden {
            display: none;
        }
        header {
            .navbar {
                .nav-links-bander {
                    position: absolute;
                    top: 0;
                    right: -240px;

                    width: 240px;
                    height: 100vh;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    &.open {
                        right: 0;
                        background: crimson;
                    }
                }
                .nav-btn-bander {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        main {
            .home {
                .max-width-bander {
                    text-align: center;
                }
            }
            .about {
                padding: $space-60 0 $space-100;
                .max-width-bander {
                    text-align: center;

                    .details {
                        grid-column: 2 / span 10;
                        grid-row: 1;
                    }
                    .image {
                        // display: none;
                        grid-column: 2 / span 10;
                        grid-row: 2;
                        height: 340px;
                    }
                    .section-link-wrapper {
                        grid-column: 1 / span 12;
                        grid-row: 3;
                        justify-content: center;
                    }
                }
            }

            .service {
                padding: $space-40 0 $space-60;
                .max-width-bander {
                    text-align: center;
                    .details {
                        grid-column: 1 / span 12;
                    }
                    .cards-container {
                        grid-column: 3 / span 8;

                        .card {
                            .icon-warpper {
                                width: 90px;
                                height: 90px;
                            }
                        }
                    }
                }
            }

            .portfolio {
                padding: $space-100 0;
                .max-width-bander {
                    text-align: center;

                    .details,
                    .projects-container,
                    .section-link-wrapper {
                        grid-column: 2 / span 10;
                    }
                    .details {
                        grid-row: 1;
                    }
                    .projects-container {
                        grid-row: span 2;
                    }
                    .section-link-wrapper {
                        justify-content: center;
                    }
                }
            }
        }

        footer {
            padding-top: $space-80;
            .max-width-bander {
                .informations {
                    margin-bottom: $space-100;
                    align-items: center;
                    .details {
                        align-items: center;
                        gap: $space-40;
                        .email,
                        .location,
                        .media {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 560px) {
    :root {
        font-size: 14px;
    }
    .max-width-bander {
        width: 100%;
        max-width: $max-w-1440;
        min-width: 360px;
        padding-left: $space-10;
        padding-right: $space-10;
        margin: 0 auto;
    }
    .grid-12 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: $space-20;
    }

    body {
        .hidden {
            display: none;
        }
        header {
            .navbar {
                .nav-links-bander {
                    position: absolute;
                    top: 0;
                    right: -100%;

                    width: 100%;
                    height: 100vh;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    &.open {
                        right: 0;
                        background: crimson;
                    }
                }
                .nav-btn-bander {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        main {
            .home {
                .max-width-bander {
                    text-align: center;
                }
            }
            .about {
                padding: $space-60 0 $space-40;
                .max-width-bander {
                    text-align: center;

                    .details,
                    .image,
                    .btn-wrapper {
                        grid-column: 1 / span 12;
                    }
                    .details {
                        grid-row: 1;
                    }
                    .image {
                        display: none;
                        grid-row: 2;
                        height: 340px;
                    }
                    .section-link-wrapper {
                        grid-row: 3;
                        justify-content: center;
                    }
                }
            }

            .service {
                padding: $space-60 0 $space-40;
                &::before,
                &::after {
                    display: none;
                }
                .max-width-bander {
                    text-align: center;
                    .details,
                    .cards-container {
                        grid-column: 1 / span 12;
                        gap: $space-20 $space-40;
                    }
                    .cards-container {
                        .card {
                            width: 90px;
                            height: 90px;
                        }
                    }
                }
            }

            .portfolio {
                padding: $space-60 0 $space-40;
                .max-width-bander {
                    text-align: center;

                    .details,
                    .projects-container,
                    .section-link-wrapper {
                        grid-column: 1 / span 12;
                    }
                    .details {
                        grid-row: 1;
                    }
                    .projects-container {
                        grid-row: span 2;
                    }
                    .section-link-wrapper {
                        justify-content: center;
                    }
                }
            }
        }

        footer {
            padding-top: $space-60;
            &::before {
                display: none;
            }
            .max-width-bander {
                .informations {
                    margin-bottom: $space-100;
                    align-items: center;
                    .details {
                        align-items: center;
                        gap: $space-40;
                        .email,
                        .location,
                        .media {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
} ;
