// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-dark-color: rgba(25, 25, 25, 1);
    --primary-light-color: rgba(255, 255, 255, 1);
    --primary-emph-color: rgba(255, 194, 41, 1);
    --primary-gray-color: rgba(160, 160, 160, 1);

    --max-screen-size: 1320px;
    --max-screen-padding: 0 20px;
    --primary-border-radius: 4px;

    font-size: 10px;
}
html {
    word-break: keep-all;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    background: url(../../image/index_images/gray_wall.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        background: rgba(0, 0, 0, 0.7);
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    .heading-l {
        .strong {
            color: var(--primary-emph-color);
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: var(--primary-emph-color);
        }
        h3 {
            font-size: 7.6rem;
            font-weight: 700;
            line-height: 1.2;
        }
        p {
            &:nth-of-type(1) {
                font-size: 2.4rem;
                font-weight: 500;
                margin-bottom: 14px;
            }
            &:nth-of-type(2) {
                font-size: 1.6rem;
                font-weight: 300;
                margin-bottom: 32px;
            }
        }
    }

    .emph-color {
        color: var(--primary-emph-color);
    }

    .outline {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: inherit;
        -webkit-text-stroke-width: 2px;
    }

    .wrapper-xl {
        width: 100%;
        max-width: var(--max-screen-size);
        padding: var(--max-screen-padding);
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8888;

        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px);

        opacity: 90%;
        transition: 0.4s all ease-in-out;
        &.hidden {
            display: none;
            visibility: hidden;
            opacity: 0;
        }
    }

    .contact-btn-container {
        background: transparent;
        width: 200px;
        padding: 12px 40px;
        border: 2px solid var(--primary-emph-color);
        border-radius: 5px;

        transition: 0.4s all ease-in-out;
        visibility: hidden;
        opacity: 0;
        cursor: pointer;

        display: block;

        animation-name: home_in;
        animation-duration: 0.7s;
        animation-delay: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        &:hover {
            background: var(--primary-emph-color);
        }
        a {
            font-weight: 800;
            font-size: 1.6rem;
            font-weight: 500;
            white-space: nowrap;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
        }
    }

    header.global-header {
        @keyframes header_in {
            from {
                /* top: -60px; */
            }
            to {
                /* top: 0px; */
                opacity: 1;
                visibility: visible;
            }
        }

        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999;

            background: var(--primary-dark-color);
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all 0.3s ease-in-out;
            visibility: hidden;
            opacity: 0;

            animation-name: header_in;
            animation-duration: 0.7s;
            animation-timing-function: ease-in;
            animation-fill-mode: forwards;

            .wrapper-nmw {
                position: relative;
                width: 100%;
                height: 48px;
                padding: 0 20px;
                color: var(--primary-light-color);

                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo {
                    font-size: 1.8rem;
                    font-weight: 900;
                }

                .middle-container {
                    transition: 0.4s ease-in-out;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    column-gap: 16px;

                    a {
                        padding: 8px 6px 6px;
                        font-size: 1.3rem;
                        font-weight: 500;

                        text-transform: uppercase;
                        transition: 0.3s ease-in-out;
                        &:hover {
                            color: var(--primary-emph-color);
                        }
                    }
                }
                .menu-btn {
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                    z-index: 999;

                    width: 30px;
                    height: 30px;
                    transition: 0.5s ease-in-out;
                    visibility: hidden;
                    opacity: 0;
                    cursor: pointer;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .btn-top,
                    .btn-bottom,
                    .btn-middle {
                        position: absolute;
                        background: var(--primary-light-color);
                        width: 70%;
                        height: 2px;
                        border-radius: 4px;
                        transition: 0.3s ease-in-out;
                    }
                    .btn-top {
                        left: 15%;
                        transform: translateY(6px);
                        &.open {
                            transform: translateX(0) rotate(-45deg);
                        }
                    }
                    .btn-middle {
                        top: 50%;
                        transform: translateY(-50%);
                        &.open {
                            transform: scale(0);
                        }
                    }
                    .btn-bottom {
                        right: 15%;
                        transform: translateY(-6px);
                        &.open {
                            transform: translateX(0) rotate(45deg);
                        }
                    }
                }
                .right-container {
                    .media-icons {
                        display: flex;
                        transition: 0.4s ease-in-out;
                        z-index: 888;

                        a {
                            color: var(--primary-light-color);
                            font-size: 1.3rem;
                            transition: 0.3s ease-in-out;

                            &:not(:last-child) {
                                margin: 0 20px 0 0;
                            }

                            &:hover {
                                transform: scale(1.1);
                                color: var(--primary-emph-color);
                            }
                        }
                    }
                }
            }
        }
    }

    main {
        @keyframes home_in {
            to {
                transform: translateX(0px);
                visibility: visible;
                opacity: 1;
            }
        }

        .home {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .wrapper-xl {
                height: 95vh;
                color: var(--primary-light-color);
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                .heading {
                    display: block;
                    margin-bottom: 30px;
                    .strong {
                        color: var(--primary-emph-color);
                        -webkit-text-fill-color: var(--primary-emph-color);
                        -webkit-text-stroke-width: 3px;
                        -webkit-text-stroke-color: var(--primary-emph-color);
                    }

                    .home-banner-main {
                        transform: translateY(-5px);

                        font-size: 8rem;
                        font-weight: 800;
                        line-height: 1.5;
                        letter-spacing: 3px;

                        visibility: hidden;
                        opacity: 0;

                        display: block;

                        animation-name: home_in;
                        animation-duration: 0.7s;
                        animation-timing-function: ease-in-out;
                        animation-fill-mode: forwards;

                        &:nth-child(1) {
                            // transform: translateY(-20px);
                            animation-delay: 0.2s;
                        }
                        &:nth-child(2) {
                            // transform: translateY(-20px);
                            animation-delay: 0.4s;
                        }
                        &:nth-child(3) {
                            // transform: translateY(-20px);
                            animation-delay: 0.6s;
                        }
                    }
                }

                > span {
                    margin-bottom: 32px;

                    font-size: 2rem;
                    font-weight: 500;

                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(-5px);

                    animation-name: home_in;
                    animation-delay: 0.8s;
                    animation-duration: 0.7s;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards;
                }
            }
        }

        .about {
            position: relative;
            z-index: 3;

            background: var(--primary-light-color);
            width: 100%;
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);

            display: flex;
            justify-content: center;
            align-items: center;

            .wrapper-xl {
                margin: 80px 0;

                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 40px;

                .heading-l {
                    width: 50%;
                    // padding-right: 140px;

                    color: var(--primary-dark-color);
                    text-align: left;
                }

                .image {
                    background-image: url(../../fernando-hernandez-JdoofvUDUwc-unsplash.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 50%;
                    // max-width: 480px;
                    height: 480px;
                    border-radius: 8px;
                    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
                }
            }
        }

        .service {
            position: relative;
            z-index: 3;

            background: var(--primary-dark-color);
            width: 100%;
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);

            display: flex;
            justify-content: center;
            align-items: center;

            .wrapper-xl {
                margin: 40px 0;

                display: flex;
                justify-content: space-between;
                align-items: center;
                // flex-direction: column;
                column-gap: 40px;

                .heading-l {
                    width: 50%;
                    // padding: 0 10px;
                    color: var(--primary-light-color);
                    text-align: left;
                    // text-align: right;
                    order: 1;
                }

                .layout-container {
                    width: 50%;
                    order: 2;
                    // padding: 0 10px;
                    // display: grid;
                    // grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
                    // grid-auto-rows: minmax(40px, auto);
                    // gap: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    column-gap: 40px;

                    .card {
                        border-radius: var(--primary-border-radius);

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .icon-warpper {
                            width: 120px;
                            height: 120px;
                            background: var(--primary-emph-color);

                            // border-radius: 50%;
                            border-radius: var(--primary-border-radius);

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            i {
                                margin-bottom: 20px;
                                color: var(--primary-light-color);
                                font-size: 3.8rem;
                                // font-weight: 600;
                            }
                            h2 {
                                color: var(--primary-light-color);
                                font-size: 1.3rem;
                                font-weight: 500;

                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
            // &::before,
            // &::after {
            //     content: "";
            //     position: absolute;
            //     left: 0;
            //     z-index: -1;
            //     background: var(--primary-dark-color);
            //     width: 100%;
            //     height: 60px;
            // }
            // &::before {
            //     top: -21px;
            //     transform: rotate(-1.4deg);
            //     box-shadow: 0 -1px 1px 0 rgba(160, 160, 160, 0.1), 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
            // }
            // &::after {
            //     bottom: -21px;
            //     transform: rotate(1.4deg);
            //     box-shadow: 0 2px 2px 0 rgba(160, 160, 160, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.2);
            // }
        }

        .portfolio {
            position: relative;
            z-index: 1;

            background: var(--primary-light-color);
            width: 100%;
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);

            display: flex;
            justify-content: center;
            align-items: center;

            .wrapper-xl {
                margin: 80px 0;

                .heading-l {
                    // padding-right: calc(50% + 20px);
                    color: var(--primary-dark-color);
                    text-align: left;
                }

                .layout-container {
                    position: relative;
                    width: 100%;

                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                    grid-auto-rows: minmax(40px, auto);
                    gap: 10px;

                    .project-box {
                        background: rgba(220, 220, 220, 1);
                        grid-row: span 5;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    footer.global-footer {
        position: relative;
        z-index: 9999;
        background: var(--primary-dark-color);
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        // &::before {
        //     content: "";
        //     position: absolute;
        //     left: 0;
        //     z-index: -1;
        //     background: var(--primary-dark-color);
        //     width: 100%;
        //     height: 60px;
        //     top: -21px;
        //     transform: rotate(-1.4deg);
        //     box-shadow: 0 -1px 1px 0 rgba(160, 160, 160, 0.3), 0 -2px 2px 0 rgba(0, 0, 0, 0.2);
        // }

        .wrapper-xl {
            .contact {
                width: 100%;
                margin: 80px 0;
                color: var(--primary-light-color);

                // order: 2;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                flex-direction: column;
                gap: 40px;

                .heading-xl {
                    width: 100%;
                    text-align: left;
                    order: 1;

                    p {
                        white-space: nowrap;
                        font-size: 8.6rem;
                        font-weight: 700;
                        line-height: 1.2;
                        color: var(--primary-light-color);
                    }
                }
                .layout-container {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    // align-items: flex-start;
                    // flex-direction: column;
                    // justify-content: left;
                    align-items: center;
                    gap: 40px;
                    order: 2;

                    .contact-box {
                        // width: 100%;
                        transition: 0.4s ease-in-out;

                        h5 {
                            font-size: 1.3rem;
                            font-weight: 500;
                            text-transform: uppercase;
                            margin-bottom: 6px;
                        }
                        span {
                            font-size: 1.3rem;
                            font-weight: 200;
                        }

                        .media-icons {
                            display: flex;
                            font-size: 2rem;
                            transition: 0.4s ease-in-out;

                            a {
                                transition: 0.4s ease-in-out;

                                &:not(:last-child) {
                                    margin-right: 40px;
                                }

                                &:hover {
                                    transform: scale(1.2);
                                    color: var(--primary-emph-color);
                                }
                            }
                        }
                    }
                }

                // display: flex;
                // justify-content: space-between;
                // align-items: center;
                // column-gap: 80px;

                // .left-side {
                //     width: 50%;
                //     order: 2;

                //     .email-send {
                //         width: 100%;
                //         margin-bottom: 60px;

                //         display: grid;
                //         grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                //         grid-auto-rows: minmax(40px, auto);
                //         column-gap: 20px;
                //         row-gap: 20px;

                //         label,
                //         input {
                //             width: 100%;
                //             font-size: 1.3rem;
                //             font-weight: 500;
                //             text-align: left;
                //             display: block;
                //         }
                //         label {
                //             margin-bottom: 6px;
                //             text-transform: uppercase;
                //         }
                //         button,
                //         input {
                //             height: 48px;
                //             border: none;
                //             outline: none;
                //             padding: 2px 10px;
                //             font-size: 1.6rem;
                //             font-weight: 600;
                //         }

                //         .email,
                //         .message {
                //             grid-column: span 2;
                //         }
                //         .first-name,
                //         .last-name {
                //             grid-column: span 1;
                //         }

                //         button {
                //             background: var(--primary-emph-color);
                //             margin-top: 20px;
                //             color: var(--primary-dark-color);

                //             text-transform: uppercase;

                //             display: block;
                //             grid-column: span 2;
                //         }
                //     }
                // }

                // .right-side {

                // }
            }
            .footer {
                background: var(--primary-dark-color);
                width: 100%;
                max-width: 1280px;
                height: 47px;
                border-top: 1px solid var(--primary-light-color);
                color: var(--primary-light-color);

                font-size: 1.2rem;
                font-weight: 200;
                text-transform: uppercase;
                text-align: center;

                display: flex;
                justify-content: left;
                align-items: center;

                a {
                    &:not(:last-child) {
                        margin-right: 80px;
                    }
                }
            }
        }
    }

    /* ----------------------------------------------------------- back to top */

    #back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 1em;
        cursor: pointer;
        font-size: 1em;
        font-weight: 700;
        box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
        transition: all 0.4s ease-in-out;
        display: inline-block;
        visibility: hidden;
        opacity: 0;
        z-index: 9999;
    }
    #back-to-top:hover {
        background-color: crimson;
        padding: 1em 3em;
    }
    #back-to-top.visible {
        visibility: visible;
        opacity: 1;
    }

    /* --------------------------------------------------------- scroll animation */

    .reveal {
        position: relative;
        transition: all 0.2s ease-in;
        transform: translateY(4px);
        visibility: hidden;
        opacity: 0;
        &.active {
            transform: translateY(0px);
            visibility: visible;
            opacity: 1;
        }
    }

    .revealLeft {
        position: relative;
        transition: all 0.5s ease-in;
        transform: translateX(-200%);
        visibility: hidden;
        opacity: 0;
    }
    .revealLeft.active {
        transform: translateX(0px);
        visibility: visible;
        opacity: 1;
    }

    .revealRight {
        position: relative;
        transition: all 0.5s ease-in;
        transform: translateX(200%);
        visibility: hidden;
        opacity: 0;
    }
    .revealRight.active {
        transform: translateX(0px);
        visibility: visible;
        opacity: 1;
    }

    /* ----------------------------------------------------------- scroll stuff */

    .scroll-down .navbar {
        // transform: translate3d(0, -100%, 0);
        transform: translateY(-100%);
    }
    .scroll-up .navbar {
        // filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
        transform: translateY(0);
    }
}

/* --------------- media --------------- */
@media (max-width: 860px) {
    body {
        .scroll-down .navbar {
            // transform: translate3d(0, 0, 0);
            transform: none;
        }

        .hidden {
            display: none;
        }

        // .overlay {
        //     position: absolute;
        //     color: crimson;
        //     font-size: 10em;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     opacity: 90%;
        //     background-color: #222;
        //     backdrop-filter: blur(3px);
        //     transition: 0.4s all ease-in-out;
        //     z-index: 9999;
        // }

        header {
            .navbar {
                .wrapper-xl {
                    .middle-container {
                        position: absolute;
                        top: 0;
                        right: -240px;

                        width: 240px;
                        height: 100vh;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        &.open {
                            right: 0;
                            background: crimson;
                        }
                    }

                    .right-container {
                        .media-icons {
                            display: none;
                        }
                    }

                    .menu-btn {
                        visibility: visible;
                        opacity: 1;

                        .btn-top,
                        .btn-bottom,
                        .btn-middle {
                            position: absolute;
                            background: #fff;
                            width: 70%;
                            height: 2px;
                            border-radius: 4px;
                            transition: 0.3s ease-in-out;
                        }

                        .btn-top {
                            left: 15%;
                            transform: translateY(6px);

                            &.open {
                                transform: translateX(0) rotate(-45deg);
                            }
                        }
                        .btn-middle {
                            top: 50%;
                            transform: translateY(-50%);

                            &.open {
                                transform: scale(0);
                            }
                        }
                        .btn-bottom {
                            right: 15%;
                            transform: translateY(-6px);

                            &.open {
                                transform: translateX(0) rotate(45deg);
                            }
                        }
                    }
                }
            }
        }

        .contact-btn {
            background: inherit;
            width: 200px;
            padding: 15px 60px;
            font-weight: 400;
        }

        main {
            .home {
                .wrapper-xl {
                    .heading {
                        .home-banner-main {
                            font-size: 3em;
                            font-weight: 800;
                            text-align: left;
                        }
                    }
                }
            }

            .about {
                .wrapper-xl {
                    padding: 0 20px;
                    margin: 60px 0 42px;

                    .heading {
                        order: 2;
                        width: 100%;
                        padding-right: 40px;

                        h3 {
                            margin-bottom: 0;
                        }

                        p:nth-of-type(1) {
                            margin-bottom: 18px;
                        }

                        p:nth-of-type(2) {
                            font-size: 1.2em;
                            margin-bottom: 0;
                        }

                        > span,
                        .contact-btn-container {
                            display: none;
                        }
                    }
                    .image {
                        order: 1;
                        width: 100%;
                        height: 440px;
                        margin-bottom: 32px;

                        img {
                            transform: translateY(-10%);
                        }
                    }
                }
            }

            .service {
                .wrapper-xl {
                    padding: 0 20px;
                    margin: 60px 0 42px;
                    .heading {
                        padding-bottom: 42px;
                        h3 {
                            margin-bottom: 0;
                        }
                        p {
                            white-space: nowrap;
                        }
                    }
                    .layout-container {
                        flex-direction: column;
                        gap: 12px;
                        .card {
                            width: 100%;
                            height: 100%;
                            padding: 40px;

                            display: flex;
                            align-items: center;
                            justify-content: left;
                            .icon-warpper {
                                width: 180px;
                                height: 180px;
                            }
                            .detail {
                                width: 70%;
                                height: 140px;

                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                text-align: left;
                                h2 {
                                    margin: 0 0 15px;
                                }
                                p {
                                    margin: 0 0 20px;
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }

            .portfolio {
                .wrapper-xl {
                    padding: 0 20px;
                    margin: 60px 0 42px;
                    .heading {
                        padding-bottom: 0;
                        margin-bottom: 32px;
                        h3 {
                            margin-bottom: 6px;
                        }
                        span {
                            margin-bottom: 18px;
                        }
                        p {
                            color: #333;
                        }
                    }
                }
            }
        }

        footer {
            .contact-wraper {
                .contact-inner {
                    .contact {
                        padding: 60px 0 42px;

                        .contact-ttl {
                            p {
                                font-size: 4em;
                                font-weight: 900;
                                text-transform: uppercase;
                            }
                        }

                        .layout-container {
                            margin-bottom: 36px;
                            flex-direction: column;
                            gap: 72px;

                            .contact-elmt-wrpr {
                                .contact-box {
                                    height: 60px;

                                    h5 {
                                        margin-bottom: 24px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .footer-wrapper {
                .footer {
                    a {
                        &:not(:last-child) {
                            padding-right: 60px;
                        }
                    }
                }
            }
        }
    }
}
