@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8888;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  opacity: 90%;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

body .overlay.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

@-webkit-keyframes header_in {
  from {
    /* top: -60px; */
  }
  to {
    /* top: 0px; */
    opacity: 1;
    visibility: visible;
  }
}

@keyframes header_in {
  from {
    /* top: -60px; */
  }
  to {
    /* top: 0px; */
    opacity: 1;
    visibility: visible;
  }
}

body header .nav-bar-wraper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #191919;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  -webkit-animation-name: header_in;
          animation-name: header_in;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body header .nav-bar-wraper .nav-bar {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 0 40px;
  max-width: 1280px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .nav-bar-wraper .nav-bar .logo {
  color: #f8f8f8;
  font-size: 1.2em;
  font-weight: 900;
}

body header .nav-bar-wraper .nav-bar .middle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

body header .nav-bar-wraper .nav-bar .middle-container a {
  padding: 8px 6px 6px;
  color: #f8f8f8;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body header .nav-bar-wraper .nav-bar .middle-container a:hover {
  color: crimson;
}

body header .nav-bar-wraper .nav-bar .menu-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 999;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

body header .nav-bar-wraper .nav-bar .menu-btn .btn-top,
body header .nav-bar-wraper .nav-bar .menu-btn .btn-bottom,
body header .nav-bar-wraper .nav-bar .menu-btn .btn-middle {
  position: absolute;
  background: #f8f8f8;
  width: 70%;
  height: 2px;
  border-radius: 4px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body header .nav-bar-wraper .nav-bar .menu-btn .btn-top {
  left: 15%;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

body header .nav-bar-wraper .nav-bar .menu-btn .btn-top.open {
  -webkit-transform: translateX(0) rotate(-45deg);
          transform: translateX(0) rotate(-45deg);
}

body header .nav-bar-wraper .nav-bar .menu-btn .btn-middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body header .nav-bar-wraper .nav-bar .menu-btn .btn-middle.open {
  -webkit-transform: scale(0);
          transform: scale(0);
}

body header .nav-bar-wraper .nav-bar .menu-btn .btn-bottom {
  right: 15%;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

body header .nav-bar-wraper .nav-bar .menu-btn .btn-bottom.open {
  -webkit-transform: translateX(0) rotate(45deg);
          transform: translateX(0) rotate(45deg);
}

body header .nav-bar-wraper .nav-bar .right-container .media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 888;
}

body header .nav-bar-wraper .nav-bar .right-container .media-icons a {
  color: #fff;
  font-size: 1.3em;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body header .nav-bar-wraper .nav-bar .right-container .media-icons a:not(:last-child) {
  margin: 0 20px 0 0;
}

body header .nav-bar-wraper .nav-bar .right-container .media-icons a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: crimson;
}

body main {
  background: #333;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.guess-my-number {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#323232));
  background: linear-gradient(180deg, #282828, #323232);
  width: 540px;
  padding: 10px;
  border-radius: 6px;
  -webkit-box-shadow: 0 -2px 0 0 white, -3px 0 0 1px white, 3px 0 0 1px white, 0 2px 2px 2px rgba(215, 215, 215, 0.6), 0 3px 0 4px white, 0 10px 2px 2px rgba(120, 120, 120, 0.6), 0 11px 0 4px rgba(215, 215, 215, 0.7), 0 30px 10px 0 rgba(0, 0, 0, 0.6), 0 50px 10px 0px rgba(0, 0, 0, 0.2), 0 50px 20px 0px rgba(160, 160, 160, 0.1);
          box-shadow: 0 -2px 0 0 white, -3px 0 0 1px white, 3px 0 0 1px white, 0 2px 2px 2px rgba(215, 215, 215, 0.6), 0 3px 0 4px white, 0 10px 2px 2px rgba(120, 120, 120, 0.6), 0 11px 0 4px rgba(215, 215, 215, 0.7), 0 30px 10px 0 rgba(0, 0, 0, 0.6), 0 50px 10px 0px rgba(0, 0, 0, 0.2), 0 50px 20px 0px rgba(160, 160, 160, 0.1);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

body main section.guess-my-number * {
  font-family: "Press Start 2P", sans-serif;
}

body main section.guess-my-number .tittle {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffbe28), color-stop(40%, #ffc83c), to(#ffb414));
  background: linear-gradient(180deg, #ffbe28 0%, #ffc83c 40%, #ffb414 100%);
  width: 100%;
  padding: 8px 24px 16px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px 1px #ffb514, inset 0 -2px 4px 0 rgba(255, 181, 20, 0.6), inset 0 0 4px 4px rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(120, 80, 10, 0.8), 0 5px 0 0 #78500a, 0 10px 10px 2px rgba(0, 0, 0, 0.4), 0 10px 30px 4px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 2px 1px #ffb514, inset 0 -2px 4px 0 rgba(255, 181, 20, 0.6), inset 0 0 4px 4px rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(120, 80, 10, 0.8), 0 5px 0 0 #78500a, 0 10px 10px 2px rgba(0, 0, 0, 0.4), 0 10px 30px 4px rgba(0, 0, 0, 0.2);
  color: #222;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2), 1px 1px 1px rgba(240, 240, 240, 0.6);
  text-align: center;
  white-space: nowrap;
}

body main section.guess-my-number .tittle h1 {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 2px;
}

body main section.guess-my-number .tittle span {
  font-size: 0.5em;
  letter-spacing: 1px;
}

body main section.guess-my-number .screen {
  position: relative;
  background: transparent;
  width: 100%;
  padding: 24px 36px;
  color: #eee;
}

body main section.guess-my-number .screen .scores-container {
  font-size: 0.4em;
  text-shadow: 0px 6px 2px rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  opacity: 0.1;
}

body main section.guess-my-number .screen .scores-container .left p:first-child {
  margin-bottom: 15px;
}

body main section.guess-my-number .screen .scores-container .between {
  opacity: 0;
}

body main section.guess-my-number .screen .number-wrapper {
  width: 100%;
  height: 180px;
  margin: 24px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.guess-my-number .screen .number-wrapper .number {
  font-size: 4em;
  text-shadow: 0 8px 2px rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  opacity: 0.1;
}

body main section.guess-my-number .screen .number-wrapper .number .press-start span {
  font-size: 0.5em;
  display: block;
}

body main section.guess-my-number .screen .number-wrapper .number .press-start span:not(:last-child) {
  margin-bottom: 6px;
}

body main section.guess-my-number .screen .message {
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 1.2em;
  white-space: nowrap;
  text-shadow: 0 6px 2px rgba(0, 0, 0, 0.6);
  text-align: center;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  opacity: 0.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.guess-my-number .screen .message .rules span {
  font-size: 0.6em;
  display: block;
}

body main section.guess-my-number .screen .message .rules span:not(:last-child) {
  margin-bottom: 4px;
}

body main section.guess-my-number .controls {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffbe28), color-stop(40%, #ffc83c), to(#ffb414));
  background: linear-gradient(180deg, #ffbe28 0%, #ffc83c 40%, #ffb414 100%);
  width: 100%;
  height: 100px;
  padding: 12px 24px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px 1px #ffb514, inset 0 -2px 4px 0 rgba(255, 181, 20, 0.6), inset 0 0 4px 4px rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(120, 80, 10, 0.8), 0 5px 0 0 #78500a, 0 10px 10px 2px rgba(0, 0, 0, 0.4), 0 10px 30px 4px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 2px 1px #ffb514, inset 0 -2px 4px 0 rgba(255, 181, 20, 0.6), inset 0 0 4px 4px rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(120, 80, 10, 0.8), 0 5px 0 0 #78500a, 0 10px 10px 2px rgba(0, 0, 0, 0.4), 0 10px 30px 4px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

body main section.guess-my-number .controls .middle-btn-box {
  width: 80px;
  height: 60px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 6px;
}

body main section.guess-my-number .controls .middle-btn-box .start,
body main section.guess-my-number .controls .middle-btn-box .reset {
  background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#323232));
  background: linear-gradient(180deg, #282828, #323232);
  width: 100%;
  height: 50%;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 0 2px #333333, 0 1px 0 1px rgba(100, 100, 100, 0.9), 0 4px 2px 0 rgba(0, 0, 0, 0.9), 0 4px 6px 2px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 0 2px #333333, 0 1px 0 1px rgba(100, 100, 100, 0.9), 0 4px 2px 0 rgba(0, 0, 0, 0.9), 0 4px 6px 2px rgba(0, 0, 0, 0.4);
  color: #eee;
  font-size: 0.6em;
  text-transform: uppercase;
}

body main section.guess-my-number .controls .check,
body main section.guess-my-number .controls .start,
body main section.guess-my-number .controls .reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

body main section.guess-my-number .controls .check:hover,
body main section.guess-my-number .controls .start:hover,
body main section.guess-my-number .controls .reset:hover {
  background: #5bbe19;
}

body main section.guess-my-number .controls .check,
body main section.guess-my-number .controls .guess {
  background: #eee;
  width: 120px;
  height: 48px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 0 3px #333333, 0 1px 0 1px rgba(100, 100, 100, 0.9), 0 4px 2px 0 rgba(0, 0, 0, 0.9), 0 4px 6px 2px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 0 3px #333333, 0 1px 0 1px rgba(100, 100, 100, 0.9), 0 4px 2px 0 rgba(0, 0, 0, 0.9), 0 4px 6px 2px rgba(0, 0, 0, 0.4);
  color: #222;
  font-size: 1em;
  text-transform: uppercase;
}

body main section.guess-my-number .controls .guess {
  padding: 5px 15px 5px 30px;
  outline: none;
  font-size: 1em;
  text-align: center;
}

body main section.guess-my-number .controls .guess::-webkit-input-placeholder {
  color: #222;
}

body main section.guess-my-number .controls .guess:-ms-input-placeholder {
  color: #222;
}

body main section.guess-my-number .controls .guess::-ms-input-placeholder {
  color: #222;
}

body main section.guess-my-number .controls .guess::placeholder {
  color: #222;
}

body main section.guess-my-number .controls .guess::-webkit-inner-spin-button,
body main section.guess-my-number .controls .guess::-webkit-outer-spin-button {
  opacity: 1;
}

body main .guess-my-number.active .screen .number-wrapper .number {
  font-size: 4em;
  opacity: 1;
}

body main .guess-my-number.active .screen .number,
body main .guess-my-number.active .screen .message,
body main .guess-my-number.active .screen .scores-container {
  opacity: 1;
}

body main .guess-my-number.active .screen .number .between,
body main .guess-my-number.active .screen .message .between,
body main .guess-my-number.active .screen .scores-container .between {
  opacity: 1;
}

body main .guess-my-number.active .screen .controls .check,
body main .guess-my-number.active .screen .controls .reset,
body main .guess-my-number.active .screen .controls .start {
  background: crimson;
}

body main .guess-my-number.invalid {
  border: 4px solid crimson;
  -webkit-animation: shake 250ms;
          animation: shake 250ms;
}

body main .guess-my-number.invalid .screen {
  color: crimson;
}

body main .guess-my-number.invalid .screen .number,
body main .guess-my-number.invalid .screen .message,
body main .guess-my-number.invalid .screen .scores-container p {
  -webkit-animation: shake 250ms;
          animation: shake 250ms;
}

@-webkit-keyframes shake {
  25% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  75% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  100% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
}

@keyframes shake {
  25% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  75% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  100% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
}

body main .guess-my-number.winner {
  background: #5bbe19;
}

body main .guess-my-number.winner .tittle {
  opacity: 0.1;
}

body main .guess-my-number.winner .screen {
  color: #eee;
}

body main .guess-my-number.winner .screen .scores-container {
  opacity: 0.1;
}

body main .guess-my-number.winner .screen .number-wrapper .number {
  -webkit-transform: scale(2);
          transform: scale(2);
}

body main .guess-my-number.winner .screen .message {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

body main .guess-my-number.winner .controls {
  opacity: 0.1;
}

body main .guess-my-number.loser {
  background: crimson;
}

body main .guess-my-number.loser .tittle {
  opacity: 0.1;
}

body main .guess-my-number.loser .screen {
  color: #eee;
}

body main .guess-my-number.loser .screen .scores-container {
  opacity: 0.1;
}

body main .guess-my-number.loser .screen .number-wrapper .number {
  -webkit-transform: scale(2);
          transform: scale(2);
}

body main .guess-my-number.loser .screen .message {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

body main .guess-my-number.loser .controls {
  opacity: 0.1;
}
/*# sourceMappingURL=guessMyNumber.css.map */