@use "foundation/main";

body {
    main {
        width: inherit;
        .contact-wrapper {
            width: 100%;
            padding: var(--space-140) 0 var(--space-140);
            background: var(--primary-color-dark);
            .contact-content {
                color: var(--primary-color-light);
                .details,
                .contact-form {
                    grid-column: 4 / span 6;
                }
                .details {
                    margin-bottom: var(--space-40);
                    p {
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        span {
                            display: block;
                        }
                    }
                }
                .contact-form {
                    text-align: left;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: var(--space-20);

                    label,
                    textarea,
                    input,
                    button {
                        width: 100%;
                        display: block;
                    }
                    label {
                        margin-bottom: var(--space-5);
                        font-weight: 300;
                        text-transform: uppercase;
                    }
                    textarea,
                    input {
                        border: none;
                        outline: none;
                        padding: var(--space-10);
                    }

                    .first-name,
                    .last-name {
                        grid-column: span 1;
                    }
                    .email,
                    .mobile,
                    .comment,
                    .submit-btn {
                        grid-column: span 2;
                    }

                    .submit-btn {
                        border: none;
                        background: var(--primary-color-yellow);
                        padding: var(--space-15);
                        margin-top: var(--space-20);
                        text-transform: uppercase;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    // footer {
    //     .legal-wrapper {
    //         .legal-content {
    //             .lega-links {
    //                 border-top: 1px solid var(--primary-color-light);
    //             }
    //         }
    //     }
    // }
}
@media only screen and (max-width: 60rem) {
    body {
        main {
            .contact-wrapper {
                padding: var(--space-120) 0 var(--space-120);
                .contact-content {
                    .details,
                    .contact-form {
                        grid-column: 3 / span 8;
                    }
                    .details {
                        margin-bottom: var(--space-30);
                    }
                    .contact-form {
                        gap: var(--space-15);
                        textarea,
                        input {
                            padding: var(--space-7h);
                        }
                    }
                    .submit-btn {
                        padding: var(--space-10);
                        margin-top: var(--space-15);
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 35rem) {
    body {
        main {
            .contact-wrapper {
                padding: var(--space-100) 0 var(--space-100);
                .contact-content {
                    .details,
                    .contact-form {
                        grid-column: 2 / span 10;
                    }
                    .details {
                        margin-bottom: var(--space-20);
                    }
                    .contact-form {
                        gap: var(--space-10);
                        textarea,
                        input {
                            padding: var(--space-5);
                        }
                    }
                    .submit-btn {
                        padding: var(--space-7h);
                        margin-top: var(--space-10);
                    }
                }
            }
        }
    }
}
