@use 'foundation/main';

body {
    width: inherit;
    padding-top: var(--nav-height-l);
    background: var(--primary-color-dark);
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    width: inherit;
    .details {
        color: var(--primary-color-light);
        grid-column: 1 / span 12;
        margin: var(--space-120) 0 var(--space-60);
        p {
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            span {
                display: block;
            }
        }
    }
}
main {
    width: inherit;
    .contact-wrapper {
        grid-column: 1 / span 12;
        margin: var(--space-60) 0 var(--space-120);
        display: flex;
        justify-content: center;
        .contact-content {
            color: var(--primary-color-light);
            width: calc(100% / 12 * 6);

            .contact-form {
                width: 100%;
                text-align: left;
                display: flex;
                flex-direction: column;
                gap: var(--space-20);

                label,
                textarea,
                input,
                button {
                    width: 100%;
                    display: block;
                }
                label {
                    margin-bottom: var(--space-5);
                    font-weight: 300;
                    text-transform: uppercase;
                }
                textarea,
                input {
                    border: none;
                    outline: none;
                    padding: var(--space-10);
                }
                .name {
                    display: flex;
                    gap: var(--space-20);
                    .first-name,
                    .last-name {
                        width: 100%;
                    }
                }
                .name,
                .email,
                .mobile,
                .comment,
                .submit-btn {
                    flex-basis: 100%;
                }

                .submit-btn {
                    border: none;
                    background: var(--primary-color-yellow);
                    padding: var(--space-15);
                    margin-top: var(--space-20);
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (max-width: 60rem) {
    header {
        .details {
            color: var(--primary-color-light);
            grid-column: 1 / span 12;
            margin: var(--space-80) 0 var(--space-40);
        }
    }
    main {
        .contact-wrapper {
            grid-column: 1 / span 12;
            margin: var(--space-40) 0 var(--space-80);

            .contact-content {
                width: calc(100% / 12 * 10);
                .contact-form {
                    gap: var(--space-15);
                    textarea,
                    input {
                        padding: var(--space-7h);
                    }
                }
                .submit-btn {
                    padding: var(--space-10);
                    margin-top: var(--space-15);
                }
            }
        }
    }
}
@media only screen and (max-width: 35rem) {
    header {
        .details {
            color: var(--primary-color-light);
            grid-column: 1 / span 12;
            margin: var(--space-60) 0 var(--space-30);
        }
    }
    main {
        .contact-wrapper {
            margin: var(--space-30) 0 var(--space-60);
            .contact-content {
                width: calc(100% / 12 * 12);
                .contact-form {
                    gap: var(--space-10);
                    textarea,
                    input {
                        padding: var(--space-5);
                    }
                }
                .submit-btn {
                    padding: var(--space-7h);
                    margin-top: var(--space-10);
                }
            }
        }
    }
}
