@use "foundation/main";
body main {
  width: inherit;
}

body main .contact-wrapper {
  width: 100%;
  padding: var(--space-140) 0 var(--space-140);
  background: var(--primary-color-dark);
}

body main .contact-wrapper .contact-content {
  color: var(--primary-color-light);
}

body main .contact-wrapper .contact-content .details,
body main .contact-wrapper .contact-content .contact-form {
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4 / span 6;
}

body main .contact-wrapper .contact-content .details {
  margin-bottom: var(--space-40);
}

body main .contact-wrapper .contact-content .details .title-xl {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .contact-wrapper .contact-content .details .title-xl span {
  display: block;
}

body main .contact-wrapper .contact-content .contact-form {
  text-align: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: var(--space-20);
}

body main .contact-wrapper .contact-content .contact-form label,
body main .contact-wrapper .contact-content .contact-form textarea,
body main .contact-wrapper .contact-content .contact-form input,
body main .contact-wrapper .contact-content .contact-form button {
  width: 100%;
  display: block;
}

body main .contact-wrapper .contact-content .contact-form label {
  margin-bottom: var(--space-5);
  font-weight: 300;
  text-transform: uppercase;
}

body main .contact-wrapper .contact-content .contact-form textarea,
body main .contact-wrapper .contact-content .contact-form input {
  border: none;
  outline: none;
  padding: var(--space-10);
}

body main .contact-wrapper .contact-content .contact-form .first-name,
body main .contact-wrapper .contact-content .contact-form .last-name {
  grid-column: span 1;
}

body main .contact-wrapper .contact-content .contact-form .email,
body main .contact-wrapper .contact-content .contact-form .mobile,
body main .contact-wrapper .contact-content .contact-form .comment,
body main .contact-wrapper .contact-content .contact-form .submit-btn {
  grid-column: span 2;
}

body main .contact-wrapper .contact-content .contact-form .submit-btn {
  border: none;
  background: var(--primary-color-yellow);
  padding: var(--space-15);
  margin-top: var(--space-20);
  text-transform: uppercase;
  cursor: pointer;
}

body footer .legal-wrapper .legal-content .lega-links {
  border-top: 1px solid var(--primary-color-light);
}

@media only screen and (max-width: 960px) {
  body main .contact-wrapper {
    padding: var(--space-120) 0 var(--space-120);
  }
  body main .contact-wrapper .contact-content .details,
  body main .contact-wrapper .contact-content .contact-form {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / span 8;
  }
  body main .contact-wrapper .contact-content .details {
    margin-bottom: var(--space-30);
  }
  body main .contact-wrapper .contact-content .contact-form {
    gap: var(--space-15);
  }
  body main .contact-wrapper .contact-content .contact-form textarea,
  body main .contact-wrapper .contact-content .contact-form input {
    padding: var(--space-7h);
  }
  body main .contact-wrapper .contact-content .submit-btn {
    padding: var(--space-10);
    margin-top: var(--space-15);
  }
}

@media only screen and (max-width: 560px) {
  body main .contact-wrapper {
    padding: var(--space-100) 0 var(--space-100);
  }
  body main .contact-wrapper .contact-content .details,
  body main .contact-wrapper .contact-content .contact-form {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
  }
  body main .contact-wrapper .contact-content .details {
    margin-bottom: var(--space-20);
  }
  body main .contact-wrapper .contact-content .contact-form {
    gap: var(--space-10);
  }
  body main .contact-wrapper .contact-content .contact-form textarea,
  body main .contact-wrapper .contact-content .contact-form input {
    padding: var(--space-5);
  }
  body main .contact-wrapper .contact-content .submit-btn {
    padding: var(--space-7h);
    margin-top: var(--space-10);
  }
}
/*# sourceMappingURL=contact.css.map */