@use 'foundation/main';
body {
  width: inherit;
  padding-top: var(--nav-height-l);
  background: var(--primary-color-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  width: inherit;
}

header .details {
  color: var(--primary-color-light);
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  margin: var(--space-120) 0 var(--space-60);
}

header .details p {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .details p span {
  display: block;
}

main {
  width: inherit;
}

main .contact-wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  margin: var(--space-60) 0 var(--space-120);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contact-wrapper .contact-content {
  color: var(--primary-color-light);
  width: calc(100% / 12 * 6);
}

main .contact-wrapper .contact-content .contact-form {
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--space-20);
}

main .contact-wrapper .contact-content .contact-form label,
main .contact-wrapper .contact-content .contact-form textarea,
main .contact-wrapper .contact-content .contact-form input,
main .contact-wrapper .contact-content .contact-form button {
  width: 100%;
  display: block;
}

main .contact-wrapper .contact-content .contact-form label {
  margin-bottom: var(--space-5);
  font-weight: 300;
  text-transform: uppercase;
}

main .contact-wrapper .contact-content .contact-form textarea,
main .contact-wrapper .contact-content .contact-form input {
  border: none;
  outline: none;
  padding: var(--space-10);
}

main .contact-wrapper .contact-content .contact-form .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--space-20);
}

main .contact-wrapper .contact-content .contact-form .name .first-name,
main .contact-wrapper .contact-content .contact-form .name .last-name {
  width: 100%;
}

main .contact-wrapper .contact-content .contact-form .name,
main .contact-wrapper .contact-content .contact-form .email,
main .contact-wrapper .contact-content .contact-form .mobile,
main .contact-wrapper .contact-content .contact-form .comment,
main .contact-wrapper .contact-content .contact-form .submit-btn {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

main .contact-wrapper .contact-content .contact-form .submit-btn {
  border: none;
  background: var(--primary-color-yellow);
  padding: var(--space-15);
  margin-top: var(--space-20);
  text-transform: uppercase;
  cursor: pointer;
}

@media only screen and (max-width: 60rem) {
  header .details {
    color: var(--primary-color-light);
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
    margin: var(--space-80) 0 var(--space-40);
  }
  main .contact-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
    margin: var(--space-40) 0 var(--space-80);
  }
  main .contact-wrapper .contact-content {
    width: calc(100% / 12 * 10);
  }
  main .contact-wrapper .contact-content .contact-form {
    gap: var(--space-15);
  }
  main .contact-wrapper .contact-content .contact-form textarea,
  main .contact-wrapper .contact-content .contact-form input {
    padding: var(--space-7h);
  }
  main .contact-wrapper .contact-content .submit-btn {
    padding: var(--space-10);
    margin-top: var(--space-15);
  }
}

@media only screen and (max-width: 35rem) {
  header .details {
    color: var(--primary-color-light);
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
    margin: var(--space-60) 0 var(--space-30);
  }
  main .contact-wrapper {
    margin: var(--space-30) 0 var(--space-60);
  }
  main .contact-wrapper .contact-content {
    width: calc(100% / 12 * 12);
  }
  main .contact-wrapper .contact-content .contact-form {
    gap: var(--space-10);
  }
  main .contact-wrapper .contact-content .contact-form textarea,
  main .contact-wrapper .contact-content .contact-form input {
    padding: var(--space-5);
  }
  main .contact-wrapper .contact-content .submit-btn {
    padding: var(--space-7h);
    margin-top: var(--space-10);
  }
}
/*# sourceMappingURL=contact.css.map */